<div class="action_wrapper">
  <%
  link_field = myp_text_field(f, :url, "myplaceonline.websites.url", obj.url, autofocus, "website_link")
  link_field_id = extract_id(link_field)
  title_field = myp_text_field(f, :title, "myplaceonline.websites.title", obj.title, false, "website_title")
  title_field_id = extract_id(title_field)
  %>
  <%= link_field %>
  <script>
  myplaceonline.onPageLoad(function() {
    $("#<%= link_field_id %>").on("input", function() {
      var button = $(this).parents(".action_wrapper").first().find(".website_title_button").first();
      if ($(this).val().length == 0) {
        button.addClass("ui-disabled");
      } else {
        button.removeClass("ui-disabled");
      }
    });
  });
  
  function requestWebsiteTitle(button) {
    var wrapper = $(button).parents(".action_wrapper").first();
    var link = wrapper.find(".website_link").first().val();
    myplaceonline.showLoading();
    var remoteUrl = "/api/website_title?link=" + encodeURIComponent(link);
    $.ajax({
      url: remoteUrl,
      method: "GET",
      dataType: "json",
      context: {
        wrapper: wrapper
      }
    }).done(function(data, textStatus, jqXHR) {
      if (data.result) {
        var title = this.wrapper.find(".website_title").first();
        title.val(data.title);
        this.wrapper.find(".website_link").first().val(data.link);
        title.focus();
      } else {
        myplaceonline.createErrorNotification("Could not process " + data.link + ": " + data.error);
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      myplaceonline.createErrorNotification("Could not execute " + remoteUrl + ": " + textStatus);
    }).complete(function(jqXHR, textStatus) {
      myplaceonline.hideLoading();
    });
    return false;
  }
  </script>
  <a href="#" onclick="return requestWebsiteTitle(this);" class="website_title_button ui-btn <%= obj.url.blank? ? "ui-disabled" : "" %>"><%= t("myplaceonline.websites.request_title") %></a>
  <%= title_field %>
</div>
<%= myp_text_field(f, :website_category, "myplaceonline.websites.website_category", obj.website_category, remote_autocomplete_model: obj.class, remote_autocomplete_all: true) %>
<%= myp_check_box(f, :to_visit, "myplaceonline.websites.to_visit") %>
<%=
  render layout: 'myplaceonline/childproperties', locals: {
    f: f,
    heading: t("myplaceonline.websites.passwords"),
    childpropertiesname: :website_passwords,
    childproperties: obj.website_passwords,
    deletebutton: t("myplaceonline.websites.delete_password"),
    addbutton: t("myplaceonline.websites.add_password"),
    expanded: obj.website_passwords.length > 0,
    formjson: [
      {
        type: :renderpartial,
        name: :password_attributes,
        partial: 'myplaceonline/select_or_create',
        heading: t("myplaceonline.websites.password"),
        objform: "passwords/form",
        existingobjurl: "password_path",
        searchurl: "/passwords.json?perpage=0",
        edit: false,
        autofocus: true
      }
    ]
  } do |child_fields, childproperty|
%>
  <%=
    render partial: 'myplaceonline/select_or_create', locals: {
      f: child_fields,
      name: :password_attributes,
      existingobj: childproperty.password,
      heading: t("myplaceonline.websites.password"),
      objform: "passwords/form",
      existingobjurl: "password_path",
      searchurl: "/passwords.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
<% end %>
<%=
  render partial: 'myplaceonline/select_or_create', locals: {
    f: f,
    name: :recommender,
    existingobj: obj.recommender,
    heading: t("myplaceonline.websites.recommender"),
    objform: "contacts/form",
    existingobjurl: "contact_path",
    searchurl: "/contacts.json?perpage=0",
    edit: edit,
    autofocus: false,
    collapsed: true,
    force_existing: true
  }
%>
<%= myp_text_area_markdown(f, :notes, "myplaceonline.general.notes", obj.notes) %>
