<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT,
    name: :quiz_name,
    value: obj.quiz_name,
    placeholder: "myplaceonline.quizzes.quiz_name",
    autofocus: autofocus
  )
%>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT_AREA,
    name: :notes,
    value: obj.notes,
    placeholder: "myplaceonline.general.notes",
    collapsed: obj.notes.blank?,
    placeholder_prefix: Myp.instance_to_category_human_readable(obj).singularize,
  )
%>
<div data-role="collapsible" data-collapsed="true">
  <h3><%= t("myplaceonline.general.advanced") %></h3>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :autolink,
      value: obj.autolink,
      placeholder: "myplaceonline.quizzes.autolink",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :autogenerate_context,
      value: obj.autogenerate_context,
      placeholder: "myplaceonline.quizzes.autogenerate_context",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_NUMBER,
      name: :choices,
      value: obj.choices,
      placeholder: "myplaceonline.quizzes.choices"
    )
  %>
</div>
