<% content_for :heading do -%><%= t('myplaceonline.trips.complete') %><% end -%>
<h1><%= t('myplaceonline.trips.complete') %></h1>
<%= flashes! %>
<% if @obj.errors.any? %>
  <div class="errors">
    <ul>
    <% @obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag do %>
  <% if current_user.has_emergency_contacts? %>
    <%= myp_check_box_tag(:notify_emergency_contacts, "myplaceonline.trips.notify_emergency_contacts", @notify_emergency_contacts) %>
  <% end %>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= submit_tag(t("myplaceonline.trips.complete"), "data-icon" => "action", "data-iconpos" => "top") %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), controller.obj_path, "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>
<% end %>
