<% content_for :heading do -%><%= t('myplaceonline.trips.complete') %><% end -%>
<h1><%= t('myplaceonline.trips.complete') %></h1>
<%= flashes!(@obj) %>

<%= form_tag do %>
  <% if current_user.has_emergency_contacts? %>
    <%= myp_check_box_tag(:notify_emergency_contacts, "myplaceonline.trips.notify_emergency_contacts", @notify_emergency_contacts) %>
  <% end %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: submit_tag(t("myplaceonline.trips.complete"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.cancel"),
          link: controller.obj_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>
