<% content_for :heading do -%><%= page_heading(@obj, controller) %><% end -%>
<div class="horizontal_center">
<h1><%= @obj.display %></h1>
<% if !@obj.notes.blank? %>
  <p><%= markdown_content(@obj.notes) %></p>
<% end %>
<hr />
<% random_name = "slideshow-" + SecureRandom.hex(10) %>
<p><%= link_to(t("myplaceonline.pictures.slideshow"), "#", class: "ui-btn ui-btn-inline", id: random_name) %></p>
<%=
  render partial: 'myplaceonline/picture_slideshow', locals: {
    pics: @pics.map{|x| x.identity_file},
    random_name: random_name
  }
%>
<% @pics.each do |pic| %>
  <p><%= image_content(pic.identity_file) %></p>
  <% if !pic.identity_file.notes.blank? %>
    <%= markdown_content(pic.identity_file.notes) %>
  <% end %>
  <hr />
<% end %>
<% @obj.trip_stories.each do |trip_story| %>
  <h2><%= t("myplaceonline.trips.story") %>: <%= trip_story.story.story_name %></h2>
  <% if !trip_story.story.story.blank? %>
    <%= markdown_content(trip_story.story.story) %>
  <% end %>
  <hr />
<% end %>
<% if !@obj.identity_file.nil? && @obj.current_user_owns? %>
  <p><%= url_or_blank(file_download_path(@obj.identity_file, t: @obj.identity_file.updated_at.to_i, token: params[:token]), t("myplaceonline.trips.download_zip") + " (" + bytes_number(@obj.identity_file.file_file_size) + ")", nil, "ui-btn ui-btn-inline", true) %></p>
<% end %>
</div>

<% if @obj.current_user_owns? %>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><%= link_to t("myplaceonline.general.share"), trip_share_path(@obj), "data-icon" => "action" %></li>
      </ul>
    </div>
  </div>
<% end %>
