<% content_for :heading do -%><%= t('myplaceonline.trips.share') %><% end -%>
<h1><%= t('myplaceonline.trips.share') %></h1>
<%= flashes!(@obj) %>

<p><%= t("myplaceonline.trips.share_description") %></p>
<hr />
<%= form_tag do %>
  <% @obj.trip_pictures.each do |trip_pic| %>
    <%= myp_check_box_tag("pic#{trip_pic.id}", trip_pic.identity_file.display, @checked_values[trip_pic.id]) %>
    <p><%= image_content(trip_pic.identity_file) %></p>
    <% if !trip_pic.identity_file.notes.blank? %>
      <p><%= markdown_content(trip_pic.identity_file.notes) %></p>
    <% end %>
    <hr />
  <% end %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: submit_tag(t("myplaceonline.permissions.share"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.cancel"),
          link: controller.obj_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
