<%= render layout: "shared/model_show" do %>

  <%= attribute_table_row_reference(t("myplaceonline.trips.location"), "location_path", @obj.location) %>
  <%= attribute_table_row_date(t("myplaceonline.trips.started"), @obj.started) %>
  <%= attribute_table_row_date(t("myplaceonline.trips.ended"), @obj.ended) %>
  <%= attribute_table_row_markdown(t("myplaceonline.trips.notes"), @obj.notes) %>
  <%= attribute_table_row_boolean(t("myplaceonline.trips.work"), @obj.work) %>
  <%= attribute_table_row_date_diff(t("myplaceonline.trips.duration"), @obj.started, @obj.ended) %>
  <%=
    render partial: 'myplaceonline/pictures', locals: {
      pics: @obj.trip_pictures,
      placeholder: "myplaceonline.trips.picture",
      limitobj: @obj,
      limitwithlink: "trip_trip_pictures_path"
    }
  %>
  <%= attribute_table_row_reference(t("myplaceonline.trips.hotel"), "hotel_path", @obj.hotel) %>
  <% @obj.trip_stories.each do |wrapper| %>
    <%= attribute_table_row_reference(t("myplaceonline.trips.story"), "story_path", wrapper.story) %>
  <% end %>
  
  <% content_for :postfooterlinks do %>
    <li><%= link_to t("myplaceonline.general.share"), trip_share_path(@obj), "data-icon" => "action" %></li>
    <li><%= link_to t("myplaceonline.trips.show_shared"), trip_shared_path(@obj), "data-icon" => "search" %></li>
    <li><%= link_to t("myplaceonline.trips.pictures"), trip_trip_pictures_path(@obj), "data-icon" => "grid" %></li>
    <li><%= link_to t("myplaceonline.trips.add_picture"), new_trip_trip_picture_path(@obj), "data-icon" => "plus" %></li>
  <% end %>
<% end %>
