<%= attribute_table_row(t("myplaceonline.feeds.name"), obj.name) %>
<%= attribute_table_row_url(t("myplaceonline.feeds.url"), obj.url) %>

<% content_for :aftertable do %>
  
  <script type="text/javascript">
    function feed_item_mark_read(obj, id) {
      if (!$(obj).parents("li").first().find(".feed_item").first().hasClass("bghighlight")) {
        var link = "<%= feed_feed_item_mark_read_url(obj.id, -1) %>";
        link = link.replace(/-1/, id);
        myplaceonline.showLoading();
        $.ajax({
          url: link,
          method: "POST",
          dataType: "json",
          context: {
            obj: obj
          }
        }).done(function(data, textStatus, jqXHR) {
          if (data.result) {
            myplaceonline.createSuccessNotification("<%= t("myplaceonline.feed_items.item_marked_read") %>");
            var $obj = $(this.obj);
            $obj.parents("li").first().find(".feed_item").first().addClass("bghighlight");
            $obj.removeClass("ui-icon-check");
            $obj.addClass("ui-icon-edit");
          }
        }).fail(function(jqXHR, textStatus, errorThrown) {
          myplaceonline.criticalError("Error. jqXHR: " + jqXHR.readyState + "," + jqXHR.status + ", " + jqXHR.responseText + ", " + jqXHR.responseXML + ", status: " + textStatus, errorThrown);
        }).complete(function(jqXHR, textStatus) {
          myplaceonline.hideLoading();
        });
        return false;
      } else {
        return true;
      }
    }
  </script>

  <ul data-role="listview" data-inset="true">
    <% obj.feed_items.first(20).each do |item| %>
      <li>
        <%= link_to(item.feed_link, class: "feed_item" + (item.is_read? ? " bghighlight" : "")) do %>
          <%= item.display %>
          <span class="ui-li-count"><%= Myp.display_datetime_short(item.publication_date, current_user) %></span>
        <% end %>
        <% if item.is_read? %>
          <%= link_to(feed_feed_item_path(obj, item), data: { icon: "edit" }) do %>
            <%= t("myplaceonline.general.edit") %>
          <% end %>
        <% else %>
          <%= link_to(feed_feed_item_path(obj, item), data: { icon: "check" }, onclick: "return feed_item_mark_read(this, " + item.id.to_s + ");") do %>
            <%= t("myplaceonline.feed_items.item_mark_read") %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for :postfooterlinks do %>
  <li><%= link_to t('myplaceonline.feeds.feed_items'), feed_feed_items_path(obj), "data-icon" => "bars" %></li>
  <li><%= link_to t('myplaceonline.feeds.load'), feed_load_path(obj), "data-icon" => "refresh" %></li>
  <li><%= link_to t('myplaceonline.feeds.mark_all_read'), feed_mark_all_read_path(obj), "data-icon" => "check" %></li>
<% end %>
