<%= attribute_table_row(t("myplaceonline.feeds.name"), obj.name) %>
<%= attribute_table_row_url(t("myplaceonline.feeds.url"), obj.url) %>

<% content_for :aftertable do %>
  
  <script type="text/javascript">
    function feed_item_mark_read(obj, id) {
      if (!$(obj).parents("li").first().find(".feed_item").first().hasClass("bghighlight")) {
        var link = "<%= feed_feed_item_mark_read_url(obj.id, -1) %>";
        link = link.replace(/-1/, id);
        myplaceonline.showLoading();
        $.ajax({
          url: link,
          method: "POST",
          dataType: "json",
          context: {
            obj: obj
          }
        }).done(function(data, textStatus, jqXHR) {
          if (data.result) {
            myplaceonline.createSuccessNotification("<%= t("myplaceonline.feed_items.item_marked_read") %>");
            var $obj = $(this.obj);
            $obj.parents("li").first().find(".feed_item").first().addClass("bghighlight");
            $obj.removeClass("ui-icon-check");
            $obj.addClass("ui-icon-edit");
          }
        }).fail(function(jqXHR, textStatus, errorThrown) {
          myplaceonline.criticalError("Error. jqXHR: " + jqXHR.readyState + "," + jqXHR.status + ", " + jqXHR.responseText + ", " + jqXHR.responseXML + ", status: " + textStatus, errorThrown);
        }).complete(function(jqXHR, textStatus) {
          myplaceonline.hideLoading();
        });
        return false;
      } else {
        return true;
      }
    }
  </script>

  <%
  items = obj.unread_feed_items
  offset = controller.items_offset
  perpage = controller.items_per_page
  count = items.count
  total_count = obj.feed_items.count
  perpage = controller.update_items_per_page(perpage, count)
  Rails.logger.debug{"feed offset: #{offset}, perpage: #{perpage}"}
  items_next_page_link = feed_path(obj, offset: offset + perpage)
  items_previous_page_link = feed_path(obj, offset: offset - perpage)
  items_all_link = feed_path
  query_params_part_all = controller.items_query_params_part_all
  %>
  <ul data-role="listview" data-inset="true">
    <% items.offset(offset).limit(perpage).each do |item| %>
      <li>
        <%= link_to(item.feed_link, class: "feed_item" + (item.is_read? ? " bghighlight" : "")) do %>
          <%= controller.display_obj(item).html_safe %>
          <span class="ui-li-count"><%= Myp.display_datetime_short_year(item.publication_date, current_user) %></span>
        <% end %>
        <% if item.is_read? %>
          <%= link_to(feed_feed_item_path(obj, item), data: { icon: "eye" }) do %>
            <%= t("myplaceonline.general.show") %>
          <% end %>
        <% else %>
          <%= link_to(feed_feed_item_path(obj, item), data: { icon: "check" }, onclick: "return feed_item_mark_read(this, " + item.id.to_s + ");") do %>
            <%= t("myplaceonline.feed_items.item_mark_read") %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%=
    render partial: 'shared/offset_navigation', locals: {
      offset: offset,
      perpage: perpage,
      count: count,
      query_params_part_all: query_params_part_all,
      items_next_page_link: items_next_page_link,
      items_previous_page_link: items_previous_page_link,
      items_all_link: items_all_link
    }
  %>
  <% if total_count > count %>
    <p>
    <%=
      raw(
        t(
          "myplaceonline.feeds.items_hidden",
          count: total_count - count,
          items_link: link_to(
            I18n.t("myplaceonline.feeds.feed_items"),
            feed_feed_items_path(obj)
          )
        )
      )
    %>
    </p>
  <% end %>
<% end %>
