<% content_for :heading do -%><%= t("myplaceonline.feeds.all_items") %><% end -%>

<script type="text/javascript">
  function feed_item_mark_read_all(obj, feed_id, id) {
    if (!$(obj).parents("li").first().find(".feed_item").first().hasClass("bghighlight")) {
      var link = "<%= feed_feed_item_mark_read_url(-1, -2) %>";
      link = link.replace(/-1/, feed_id);
      link = link.replace(/-2/, id);
      myplaceonline.showLoading();
      $.ajax({
        url: link,
        method: "POST",
        dataType: "json",
        context: {
          obj: obj
        }
      }).done(function(data, textStatus, jqXHR) {
        if (data.result) {
          myplaceonline.createSuccessNotification("<%= t("myplaceonline.feed_items.item_marked_read") %>");
          var $obj = $(this.obj);
          $obj.parents("li").first().find(".feed_item").first().addClass("bghighlight");
          $obj.removeClass("ui-icon-check");
          $obj.addClass("ui-icon-edit");
        }
      }).fail(function(jqXHR, textStatus, errorThrown) {
        myplaceonline.criticalError("Error. jqXHR: " + jqXHR.readyState + "," + jqXHR.status + ", " + jqXHR.responseText + ", " + jqXHR.responseXML + ", status: " + textStatus, errorThrown);
      }).complete(function(jqXHR, textStatus) {
        myplaceonline.hideLoading();
      });
      return false;
    } else {
      return true;
    }
  }
</script>

<%
offset = controller.items_offset
perpage = controller.items_per_page
count = @items.count
perpage = controller.update_items_per_page(perpage, count)
items_next_page_link = feeds_all_items_path(offset: offset + perpage)
items_previous_page_link = feeds_all_items_path(offset: offset - perpage)
items_all_link = feeds_all_items_path
query_params_part_all = controller.items_query_params_part_all
%>
<ul data-role="listview" data-inset="true">
  <% @items.offset(offset).limit(perpage).each do |item| %>
    <li>
      <%= link_to(item.full_feed_link, class: "feed_item" + (item.is_read? ? " bghighlight" : "")) do %>
        <%= item.feed.display %>: <%= controller.display_obj(item).html_safe %>
        <span class="ui-li-count"><%= Myp.display_datetime_short_year(item.publication_date, current_user) %></span>
      <% end %>
      <% if item.is_read? %>
        <%= link_to(feed_feed_item_path(item.feed, item), data: { icon: "eye" }) do %>
          <%= t("myplaceonline.general.show") %>
        <% end %>
      <% else %>
        <%= link_to(feed_feed_item_path(item.feed, item), data: { icon: "check" }, onclick: "return feed_item_mark_read_all(this, " + item.feed.id.to_s + ", " + item.id.to_s + ");") do %>
          <%= t("myplaceonline.feed_items.item_mark_read") %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<%=
  render partial: 'shared/offset_navigation', locals: {
    offset: offset,
    perpage: perpage,
    count: count,
    query_params_part_all: query_params_part_all,
    items_next_page_link: items_next_page_link,
    items_previous_page_link: items_previous_page_link,
    items_all_link: items_all_link
  }
%>
<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.general.back_to_list"),
        link: controller.back_to_all_path,
        icon: "back"
      }
    ]
  })
%>
