<%= myp_text_field(f, :money_balance_item_name, "myplaceonline.money_balance_item_templates.money_balance_item_name", obj.money_balance_item_name, true) %>
<div class="owe_container">
  <%
  amount_field = myp_decimal_field(f, :original_amount, "myplaceonline.money_balance_item_templates.original_amount", obj.original_amount, false, nil, step = Myp::DEFAULT_DECIMAL_STEP, { onkeyup: "myplaceonline.onChangeCascade(this, myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply)" })
  amount_field_id = extract_id(amount_field)
  %>
  <%= amount_field %>
  <%= myp_decimal_field(f, :amount, controller.other_owed_name(@owner_paid), obj.amount, false, "other_owes") %>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend class="form_field_label"><%= controller.other_owed_name(@owner_paid) + " %" %></legend>
    <% fieldprefix = f.object_name.gsub("\[", "_").gsub("\]", "") + "_other_owes_percent" %>
    <input name="<%= "#{f.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}50" %>" value="0.5" class="other_owes_percent" checked="checked" type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply)" />
    <label for="<%= "#{fieldprefix}50" %>">50%</label>
    <input name="<%= "#{f.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}100" %>" value="1.0" class="other_owes_percent" type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply)" />
    <label for="<%= "#{fieldprefix}100" %>">100%</label>
  </fieldset>
</div>

<%= myp_text_area_markdown(f, :notes, "myplaceonline.money_balance_item_templates.notes", obj.notes) %>
<%= myp_hidden_field(f, :invert, @owner_paid ? false : true) %>
<%= myp_hidden_field_tag(:owner_paid, @owner_paid) %>
