<%= render layout: "shared/model_show" do %>

  <%= attribute_table_row(t("myplaceonline.file_folders.folder_name"), @obj.folder_name) %>
  
  <% content_for :aftertable do %>
    <%
      files = @obj.identity_files
      if files.size > 0
    %>
        <% if identity_files_include_pics?(files) %>
          <br />
          <%= attribute_table_start %>
            <% random_name = "slideshow-" + SecureRandom.hex(10) %>
            <%= attribute_table_row_span(link_to(t("myplaceonline.pictures.slideshow"), "#", class: "ui-btn", id: random_name)) %>
            <%=
              render partial: 'myplaceonline/picture_slideshow', locals: {
                pics: files,
                random_name: random_name
              }
            %>
          <%= attribute_table_end %>
        <% end %>
        
        <div class="searchable_container">
          <ul class="searchable" data-role="listview" data-inset="true">
            <li data-role="list-divider"><%= t("myplaceonline.file_folders.files") %></li>
            <% files.each do |file| %>
              <li>
                <%= link_to file.display, send("file_path", file) %>
              </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%
      subfolders = @obj.subfolders
      if subfolders.size > 0
    %>
        <div class="searchable_container">
          <ul class="searchable" data-role="listview" data-inset="true">
            <li data-role="list-divider"><%= t("myplaceonline.file_folders.subfolders") %></li>
            <% subfolders.each do |subfolder| %>
              <li>
                <%= link_to send("file_folder_path", subfolder) do %>
                  <%= FilesController.second_list_icon(subfolder) %>
                  <%= controller.display_obj(subfolder) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <% end %>

  <% content_for :prefooterlinks do %>
    <li><%= link_to t('myplaceonline.files.add_file'), new_file_path(folder: @obj.id), "data-icon" => "plus" %></li>
  <% end %>

  <% if !@obj.parent_folder.nil? %>
    <% content_for :postfooterlinks do %>
      <li><%= link_to t('myplaceonline.file_folders.parent_folder'), file_folder_path(@obj.parent_folder), "data-icon" => "back" %></li>
    <% end %>
  <% end %>

<% end %>
