<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title><%= @title %></title>
    <description><%= @description %></description>
    <link><%= @link %></link>
    <% @blog_posts.each do |blog_post| %>
      <item>
        <title><%= blog_post.display %></title>
        <link><%= blog_page_url(@obj, blog_post.display) %></link>
        <pubDate><%= blog_post.computed_date.rfc822 %></pubDate>
      </item>
    <% end %>
  </channel>
</rss>
