<% content_for :heading do -%><%= t('myplaceonline.permission_shares.personalize') %><% end -%>
<h1><%= t('myplaceonline.permission_shares.personalize') %></h1>
<%= flashes!(@obj) %>

<p><%= t("myplaceonline.permission_shares.personalize_description") %></p>
<hr />
<%= form_for @obj, :url => permission_shares_personalize_path(@obj) do |f| %>
  <%= f.fields_for :email, @obj.email do |sub_fields| %>
    <% @obj.email.email_personalizations.each do |email_personalization| %>
      <%= sub_fields.fields_for :email_personalizations, email_personalization do |personalization_fields| %>
        <%= myp_check_box(personalization_fields, :do_send, email_personalization.contact.display + " (" + email_personalization.target + ")") %>
        <%= myp_text_area_markdown(personalization_fields, :additional_text, t("myplaceonline.email_personalizations.additional_text"), email_personalization.additional_text) %>
        <%= myp_hidden_field(personalization_fields, :target, email_personalization.target) %>
        <hr />
      <% end %>
    <% end %>
  <% end %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: f.submit(t("myplaceonline.permission_shares.share"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.cancel"),
          link: @obj.simple_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
