  <%= attribute_table_row(t("myplaceonline.stories.story_name"), obj.story.story_name) %>
  <%= attribute_table_row_datetime(t("myplaceonline.stories.story_time"), obj.story.story_time) %>
  <%= attribute_table_row_markdown(t("myplaceonline.stories.story"), obj.story.story) %>
  <%=
    render partial: 'myplaceonline/pictures', locals: {
      pics: obj.story.story_pictures,
      placeholder: "myplaceonline.stories.picture"
    }
  %>

  <% content_for :postfooterlinks do %>
    <li><%= link_to t('myplaceonline.trip_stories.trip'), trip_path(obj.trip), "data-icon" => "back" %></li>
  <% end %>
