<% content_for :heading do -%><%= t('myplaceonline.users.reenterpassword') %><% end -%>
<h1><%= t("myplaceonline.users.reenterpassword") %></h1>
<%= flashes! %>
<%= form_tag do %>
  <div><%= label_tag :password, nil, class: "ui-hidden-accessible" %>
    <%= password_field_tag :password, nil, autofocus: true, autocomplete: "off", placeholder: t("myplaceonline.general.password") %></div>
  <%= hidden_field_tag :redirect, @redirect %>
  <div><%= submit_tag t("myplaceonline.general.login") %></div>
<% end %>
