<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT,
    name: :reminder_name,
    value: obj.reminder_name,
    placeholder: "myplaceonline.reminders.reminder_name",
    autofocus: autofocus
  )
%>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_DATETIME,
    name: :start_time,
    value: obj.start_time,
    placeholder: "myplaceonline.reminders.start_time",
  )
%>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_SELECT,
    name: :reminder_threshold_type,
    value: obj.reminder_threshold_type,
    placeholder: "myplaceonline.reminders.reminder_threshold_type",
    select_options: Reminder::THRESHOLD_TYPES,
    select_options_sort: false,
    on_select_target: :reminder_threshold_amount,
    on_select_target_show_values: Reminder::THRESHOLD_TYPES.map{|x| x[1]}.delete_if{|x| x == Reminder::THRESHOLD_TYPE_IMMEDIATE },
    on_select_target_hide_values: Reminder::THRESHOLD_TYPES.map{|x| x[1]}.keep_if{|x| x == Reminder::THRESHOLD_TYPE_IMMEDIATE },
    on_select_target_no_value: :hide,
  )
%>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_NUMBER,
    name: :reminder_threshold_amount,
    value: obj.reminder_threshold_amount,
    placeholder: "myplaceonline.reminders.reminder_threshold_amount",
    other_value: obj.reminder_threshold_type,
    other_hide_if_blank: true,
    other_hide_if_value_in: Reminder::THRESHOLD_TYPES.map{|x| x[1]}.keep_if{|x| x == Reminder::THRESHOLD_TYPE_IMMEDIATE },
  )
%>
<div data-role="collapsible" data-collapsed="<%= obj.expire_amount.nil? ? "true" : "false" %>">
  <h3><%= t("myplaceonline.reminders.expire_reminder") %></h3>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_SELECT,
      name: :expire_type,
      value: obj.expire_type,
      placeholder: "myplaceonline.reminders.expire_type",
      select_options: Reminder::EXPIRATION_TYPES,
      select_options_sort: false,
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_NUMBER,
      name: :expire_amount,
      value: obj.expire_amount,
      placeholder: "myplaceonline.reminders.expire_amount",
    )
  %>
</div>
<div data-role="collapsible" data-collapsed="<%= obj.repeat_type.nil? ? "true" : "false" %>">
  <h3><%= t("myplaceonline.reminders.repeat_reminder") %></h3>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_SELECT,
      name: :repeat_type,
      value: obj.repeat_type,
      placeholder: "myplaceonline.reminders.repeat_type",
      select_options: Reminder::REPEAT_TYPES,
      select_options_sort: false,
      on_select_target: :repeat_amount,
      on_select_target_show_values: Reminder::REPEAT_TYPES.map{|x| x[1]}.delete_if{|x| x < 0 },
      on_select_target_hide_values: Reminder::REPEAT_TYPES.map{|x| x[1]}.keep_if{|x| x < 0 },
      on_select_target_no_value: :hide,
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_NUMBER,
      name: :repeat_amount,
      value: obj.repeat_amount,
      placeholder: "myplaceonline.reminders.repeat_amount",
      other_value: obj.repeat_type,
      other_hide_if_blank: true,
      other_hide_if_value_in: Reminder::REPEAT_TYPES.map{|x| x[1]}.keep_if{|x| x < 0 },
    )
  %>
  <div data-role="collapsible" data-collapsed="<%= obj.max_pending.nil? ? "true" : "false" %>">
    <h3><%= t("myplaceonline.reminders.repeat_details") %></h3>
    <%=
      input_field(
        form: f,
        type: Myp::FIELD_NUMBER,
        name: :max_pending,
        value: obj.max_pending,
        placeholder: "myplaceonline.reminders.max_pending",
      )
    %>
  </div>
</div>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT_AREA,
    name: :notes,
    value: obj.notes,
    placeholder: "myplaceonline.general.notes",
    collapsed: obj.notes.blank?,
  )
%>
