<% if !@myplet %>
  <%= myp_text_field(f, :title, "myplaceonline.notepads.title", obj.title, autofocus) %>
<% end %>
<%
rtevar = SecureRandom.hex(10)
rte_hidden_field = f.hidden_field(:notepad_data)
rte_hidden_field_id = f.object_name.gsub("\[", "_").gsub("\]", "") + "_notepad_data" + SecureRandom.hex(10)
rte_wrapper_id = f.object_name.gsub("\[", "_").gsub("\]", "") + "_notepad_data_wrapper" + SecureRandom.hex(10)
%>
<div id="<%= rte_wrapper_id %>"></div>
<%= rte_hidden_field %>
<script>
onPageLoad(function() {

  var pm<%= rtevar %> = new ProseMirror({
    place: document.querySelector("#<%= rte_wrapper_id %>"),
    autoInput: true,
    doc: <%= raw(obj.notepad_data.to_json) %>,
    docFormat: "markdown",
    menuBar: {
      float: true
    }
  });

  pm<%= rtevar %>.on("change", function() {
    <% if !@myplet %>
      $("#<%= rte_hidden_field_id %>").attr("value", pm<%= rtevar %>.getContent("markdown"));
    <% else %>
      notepad_changed('#<%= rte_wrapper_id %>', '/notepads/<%= obj.id %>', '<%= t("myplaceonline.welcome.notepad") %>', '<%= t("myplaceonline.general.pending_save") %>', '<%= t("myplaceonline.general.saving") %>', '<%= t("myplaceonline.general.saved") %>', pm<%= rtevar %>.getContent("markdown"));
    <% end %>
  });
});
</script>
