<% content_for :heading do -%><%= t('myplaceonline.administration.title') %><% end -%>

<%= flashes! %>

<ul data-role="listview" data-inset="true">
  <li><%= link_to(t("myplaceonline.administration.users"), users_path) %></li>
  <li><%= link_to(t("myplaceonline.administration.send_email.title"), administration_send_email_path) %></li>
  <li><%= link_to(t("myplaceonline.administration.invite_codes"), invite_codes_path) %></li>
</ul>
