<% content_for :heading do -%><%= t("myplaceonline.admin.send_text_message.title") %><% end -%>
<h1><%= t("myplaceonline.admin.send_text_message.title") %></h1>

<%= flashes!(@admin_text_message) %>

<%= form_for @admin_text_message, :url => admin_send_text_message_path do |f| %>
  <%= f.fields_for :text_message, @admin_text_message.text_message do |child_fields| %>
    <%= myp_text_field(child_fields, :message_category, "myplaceonline.admin.send_text_message.category", @admin_text_message.text_message.message_category) %>
    <%= myp_text_area_markdown(child_fields, :body, "myplaceonline.admin.send_text_message.body", @admin_text_message.text_message.body, collapsed: false) %>
  <% end %>
  <%= myp_text_area(f, :send_only_to, "myplaceonline.admin.send_text_message.only_send_to", @admin_text_message.send_only_to) %>
  <%= myp_text_area(f, :exclude_numbers, "myplaceonline.admin.send_text_message.exclude_numbers", @admin_text_message.exclude_numbers) %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: f.submit(t("myplaceonline.admin.send_text_message.title"), "data-icon" => "action", "data-iconpos" => "top")
        },
      ]
    })
  %>
<% end %>

<hr />

<p><%= link_to(t("myplaceonline.admin.users"), users_path) %></p>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
