<%
if !defined?(link_title)
  link_title = false
end
%>

<% if !obj.hide_title %>
  <% if link_title %>
    <h1><%= link_to(controller.display_obj(obj), blog_page_path(obj.blog, obj.blog_post_title)) %></h1>
  <% else %>
    <h1><%= controller.display_obj(obj) %></h1>
  <% end %>
<% end %>

<% if !obj.last_updated_bottom %>
  <small><em><%= data_row(heading: t("myplaceonline.blog_posts.last_updated"), content: obj.post_date, wrap: false, prefix_heading: true, prefix_wrapper: :span) %></em></small>
  <!--<hr />-->
<% end %>

<%= data_row(heading: t("myplaceonline.blog_posts.post"), content: obj.post, markdown: true, wrap: false, markdown_process_images: true, image_context: obj) %>

<% if obj.blog_post_comments.length > 0 %>
  <div data-role="collapsible" data-collapsed="true">
    <h4><%= t("myplaceonline.blog_posts.show_comments", num: obj.blog_post_comments.length) %></h4>
    <% obj.blog_post_comments.each do |comment| %>
      <em><small><%= t("myplaceonline.blog_posts.about_comment", name: comment.commenter_display, date: Myp.display_datetime_short_year(comment.created_at, User.current_user)) %></small></em>
      <%= data_row(heading: t("myplaceonline.blog_post_comments.comment"), content: comment.comment, markdown: true, wrap: false) %>
      <hr />
    <% end %>
  </div>
<% end %>

<% if obj.last_updated_bottom %>
  <hr />
  <small><em><%= data_row(heading: t("myplaceonline.blog_posts.last_updated"), content: obj.post_date, wrap: false, prefix_heading: true, prefix_wrapper: :span) %></em></small>
<% end %>
