<% content_for :heading do -%><%= t("myplaceonline.reputation_reports.propose_price") %><% end -%>

<h1><%= t("myplaceonline.reputation_reports.propose_price") %></h1>

<%= flashes! %>

<%= form_tag(reputation_report_propose_price_path(@obj), method: :post) do %>
  <%=
    input_field(
      type: Myp::FIELD_TEXT,
      name: :price,
      value: @price,
      placeholder: "myplaceonline.reputation_reports.price",
      autofocus: true
    )
  %>
  <%=
    input_field(
      type: Myp::FIELD_TEXT_AREA,
      name: :message,
      value: @message,
      placeholder: "myplaceonline.reputation_reports.message",
      collapsed: true
    )
  %>

  <script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
  </script>

  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: submit_tag(t("myplaceonline.general.submit"), "data-icon" => "action", "data-iconpos" => "top", style: "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.back"),
          link: controller.obj_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>
