<% content_for :heading do -%><%= t('myplaceonline.random.activity') %><% end -%>
<h1><%= t('myplaceonline.random.activity') %></h1>
<%= flashes! %>
<% if !@result.nil? %>
  <ul data-role="listview" data-inset="true">
    <li>
      <%= link_to(@result_link) do %>
        <%= image_tag(@category.icon, size: "16x16", class: "ui-li-icon") %>
        <%= Myp.instance_to_category_human_readable(@result).singularize + ": " + @result.display %>
      <% end %>
    </li>
  </ul>
<% end %>
<hr />
<%= form_tag random_activity_path do |f| %>
  <div class="horizontal_center" data-role="collapsible" data-collapsed="true">
    <h4><%= t("myplaceonline.general.filter") %></h4>
    <%= myp_check_box_tag(:filter_activities, "myplaceonline.category.activities", @filter_activities) %>
    <%= myp_check_box_tag(:filter_books, "myplaceonline.category.books", @filter_books) %>
    <%= myp_check_box_tag(:filter_ideas, "myplaceonline.category.ideas", @filter_ideas) %>
    <%= myp_check_box_tag(:filter_movies, "myplaceonline.category.movies", @filter_movies) %>
    <%= myp_check_box_tag(:filter_websites, "myplaceonline.category.websites", @filter_websites) %>
    <%= myp_check_box_tag(:filter_life_goals, "myplaceonline.category.life_goals", @filter_life_goals) %>
  </div>
  <%= submit_tag t("myplaceonline.random.new_activity") %>
<% end %>
