<% content_for :heading do -%><%= t('myplaceonline.random.activity') %><% end -%>
<h1><%= t('myplaceonline.random.activity') %></h1>
<%= flashes! %>
<% if !@result.nil? %>
  <ul data-role="listview" data-inset="true">
    <li>
      <%= link_to(@result_link) do %>
        <%= image_tag(@category.icon, size: "16x16", class: "ui-li-icon") %>
        <%= Myp.instance_to_category_human_readable(@result).singularize + ": " + @result.display %>
      <% end %>
    </li>
  </ul>
<% end %>
<hr />
<%= form_tag random_activity_path do |f| %>
  <div class="horizontal_center" data-role="collapsible" data-collapsed="true">
    <h4><%= t("myplaceonline.general.filter") %></h4>
    <% @all_filters.each do |filter| %>
      <%= myp_check_box_tag(("filter_" + filter.to_s).to_sym, "myplaceonline.category." + filter.to_s, instance_variable_get("@filter_" + filter.to_s)) %>
    <% end %>
  </div>
  <%= submit_tag t("myplaceonline.random.new_activity") %>
<% end %>
