<% content_for :heading do -%><%= t('myplaceonline.groups.email_list') %><% end -%>
<h1><%= t('myplaceonline.groups.email_list') %></h1>
<%= @emails %>
<% if @found_emails %>
  <p><%= button_tag t("myplaceonline.general.clipboard"), :onclick => "return false;", data: { "clipboard-text" => @emails } %></p>
  <script type="text/javascript">
    myplaceonline.ensureClipboard($(".clipboardable"));
  </script>
<% end %>
<% if !@no_emails.blank? %>
  <p><%= raw(I18n.t("myplaceonline.groups.which_no_emails", list: @no_emails)) %></p>
<% end %>
