<%= render layout: "shared/model_show" do %>

  <%= attribute_table_row(t("myplaceonline.groups.group_name"), @obj.group_name) %>
  <%= attribute_table_row_markdown(t("myplaceonline.groups.notes"), @obj.notes) %>
  <% @obj.group_contacts.each do |wrapper| %>
    <%= attribute_table_row_reference(t("myplaceonline.groups.contact"), "contact_path", wrapper.contact) %>
  <% end %>
  <% @obj.group_references.each do |wrapper| %>
    <%= attribute_table_row_reference(t("myplaceonline.groups.group_reference"), "group_path", wrapper.group) %>
  <% end %>
  
  <% content_for :postfooterlinks do %>
    <li><%= link_to t('myplaceonline.groups.email_list'), groups_email_list_path(@obj), "data-icon" => "bars" %></li>
    <li><%= link_to t('myplaceonline.groups.missing'), groups_missing_list_path(@obj), "data-icon" => "search" %></li>
  <% end %>
  
<% end %>
