<% content_for :heading do -%><%= t("myplaceonline.quiz_items.quiz_show") %><% end -%>

<%= data_row(heading: t("myplaceonline.quiz_items.quiz_question"), prefix_heading: true, content: @obj.quiz_question, wrap: false) %>

<div data-role="collapsible">
  <h3><%= t("myplaceonline.quiz_items.quiz_answer") %></h3>
  <%= data_row(heading: t("myplaceonline.quiz_items.quiz_answer"), prefix_heading: false, content: @obj.quiz_answer, wrap: false, markdown: true) %>
  <%= data_row(heading: t("myplaceonline.quiz_items.link"), prefix_heading: true, content: @obj.link, wrap: false, url: true, url_external_target_blank: true) %>
</div>

<%=
  footer_items = [
    {
      title: t("myplaceonline.quiz_items.next_question"),
      link: quiz_quiz_item_quiz_show_path(@obj.quiz, @obj.quiz.next_random_question(previous_question: @obj)),
      icon: "arrow-r",
      style: "background-color: green",
    },
    {
      title: t("myplaceonline.category.quiz_items").singularize,
      link: controller.obj_path,
      icon: "search",
    },
    {
      title: t("myplaceonline.category.quizzes").singularize,
      link: quiz_path(@obj.quiz),
      icon: "back",
    },
  ]
  
  if @obj.copyable?
    footer_items << {
      title: t("myplaceonline.quiz_items.copy"),
      link: quiz_quiz_item_copy_path(@obj.quiz),
      icon: "tag",
    }
  end

  render(partial: "shared/footer", locals: {
    items: footer_items
  })
%>
