<% content_for :heading do -%><%= controller.display_obj(@obj) %><% end -%>
<h1><%= controller.display_obj(@obj) %></h1>
<%= flashes! %>

<% yielded = yield %>

<%= content_for(:beforetable) %>

<table data-role="table" data-mode="reflow" class="ui-responsive tablestripes normalwidth firstcolumnbold noheadertable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
  
    <%= yielded %>

    <%= attribute_table_row(t("myplaceonline.general.created"), Myp.display_time(@obj.created_at, current_user)) %>
    <%= attribute_table_row(t("myplaceonline.general.last_updated"), Myp.display_time(@obj.updated_at, current_user)) %>

  </tbody>
</table>

<%= content_for(:aftertable) %>

<script type="text/javascript">
ensureClipboard($(".clipboardable"));
</script>

<%= render partial: "shared/model_show_footer" %>
