<% if !@myplet %>
  <% content_for :heading do -%><%= t("myplaceonline.category." + controller.category_name) %><% end -%>
  <%= flashes! %>
<% end %>

<% yielded = yield %>

<%= content_for(:abovelist) %>

<% if !controller.has_items %>

  <p><%= t("myplaceonline.general.count_no") + " " + t("myplaceonline.category." + controller.category_name) %>.
    <% if controller.show_index_footer %>
      <% if !@myplet %>
        <%= t("myplaceonline.general.create_instructions") %>
      <% end %>
    <% end %>
  </p>

<% else %>

  <% if !@additional_items.nil? && @additional_items.count > 0 %>

    <div data-role="collapsible" data-collapsed="true">
      <h3><%= t("myplaceonline.general.top_items", max: controller.how_many_top_items) %></h3>
      <ul data-role="listview" data-inset="true" data-split-icon="<%= controller.data_split_icon %>">
        <%
        @additional_items.each do |obj|
        %>
          <li>
            <%= link_to((controller.display_obj(obj) + controller.display_obj_bubble(obj)).html_safe, send("#{controller.path_name}_path", obj)) %>
            <%= controller.split_link(obj) %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div class="searchable_container">
    <ul class="searchable" data-role="listview" data-inset="true" data-filter="true" data-split-icon="<%= controller.data_split_icon %>" data-filter-placeholder="<%= t("myplaceonline.general.search") %>">
      <%
      if !@objs2.nil? && controller.second_list_before
        @objs2.each do |obj|
      %>
          <li>
            <%= link_to send("#{controller.second_path_name}_path", obj) do %>
              <%= controller.second_list_icon(obj) %>
              <%= controller.display_obj(obj) %>
            <% end %>
          </li>
      <%
        end
      end
      %>
      <%
      @objs.each do |obj|
      %>
        <li>
          <%= link_to((controller.display_obj(obj) + controller.display_obj_bubble(obj)).html_safe, controller.show_path(obj), class: controller.item_classes(obj)) %>
          <%= controller.split_link(obj) %>
        </li>
      <%
      end
      %>
      <%
      if !@objs2.nil? && !controller.second_list_before
        @objs2.each do |obj|
      %>
          <li>
            <%= link_to send("#{controller.second_path_name}_path", obj) do %>
              <%= controller.second_list_icon(obj) %>
              <%= controller.display_obj(obj) %>
            <% end %>
          </li>
      <%
        end
      end
      %>
    </ul>
  </div>

  <%=
    render partial: 'shared/offset_navigation', locals: {
      offset: @offset,
      perpage: @perpage,
      count: @count,
      query_params_part_all: @query_params_part_all,
      items_next_page_link: @items_next_page_link,
      items_previous_page_link: @items_previous_page_link,
      items_all_link: @items_all_link
    }
  %>

  <script type="text/javascript">
    myplaceonline.onPageLoad(function() {
      myplaceonline.remoteDataListInitialize($(".searchable"), [
        <% if Myp.full_text_search? %>
          {title: "<%= t("myplaceonline.category." + controller.category_name) %>", url: "/api/search.json?category=<%= controller.search_index_name %>&parent_category=<%= controller.search_parent_category %>"}
        <% else %>
          {title: "<%= t("myplaceonline.category." + controller.category_name) %>", url: "<%= send("#{controller.paths_name}_path") %>.json<%= raw(@query_params_part_all) %>", static_list: true}
        <% end %>
      ]);
      var input = $(".searchable_container input");
      myplaceonline.hookListviewEnter(input, ".searchable");
      <% if !@myplet %>
      myplaceonline.maybeFocus(input);
      <% end %>
    });
  </script>

<% end %>

<% if @myplet %>
  <p><%= link_to t("myplaceonline.general.add") + " " + t("myplaceonline.category." + controller.category_name).singularize, controller.new_path, "class" => "ui-btn" %></p>
<% end %>

<%= yielded %>

<% if !@myplet %>
  <%#
    render partial: 'myplaceonline/sort_items', locals: {
      options: controller.index_sorts
    }
  %>
  <% content_for :footer do -%>
    <% if controller.show_index_footer %>
      <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar">
          <ul>
            <% if content_for?(:allfooterlinks) %>
              <%= content_for(:allfooterlinks) %>
            <% else %>
              <% if controller.show_index_add %>
              <li><%= link_to(t("myplaceonline.general.add") + " " + t("myplaceonline.category." + controller.category_name).singularize, controller.new_path, "data-icon" => "plus") %></li>
              <% end %>
              <% if controller.index_destroy_all_link? %>
                <li><%= link_to t("myplaceonline.general.delete_all"), controller.destroy_all_path, "data-icon" => "delete" %></li>
              <% end %>
              <%= content_for(:footerlinks) %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end -%>
<% end %>
