<% content_for :heading do -%><%= controller.display_obj(@obj) %><% end -%>
<h1><%= controller.display_obj(@obj) %></h1>
<%= flashes! %>

<table data-role="table" data-mode="reflow" class="ui-responsive tablestripes normalwidth firstcolumnbold noheadertable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
  
    <%= yield %>

    <%= attribute_table_row(t("myplaceonline.general.created"), display_time(@obj.created_at)) %>
    <%= attribute_table_row(t("myplaceonline.general.last_updated"), display_time(@obj.updated_at)) %>

  </tbody>
</table>

<script type="text/javascript">
ensureClipboard($(".clipboardable"));
</script>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
          <% if content_for?(:footerlinks) %>
            <%= content_for(:footerlinks) %>
          <% else %>
            <li><%= link_to t('myplaceonline.general.edit'), controller.edit_obj_path, "data-icon" => "edit" %></li>
            <li><%= link_to t('myplaceonline.general.delete'), controller.obj_path,
                    method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "delete" %></li>
            <li><%= link_to t("myplaceonline.general.back_to_all") + " " + t("myplaceonline.category." + controller.category_name), controller.index_path, "data-icon" => "back" %></li>
          <% end %>
        </ul>
    </div>
</div>
<% end -%>
