<% content_for :heading do -%><%= t("myplaceonline." + controller.category_name + ".title") %><% end -%>
<%= flashes! %>

<%
if @objs.length == 0
%>
<p><%= t("myplaceonline." + controller.category_name + ".none") %></p>
<%
else
%>
<div class="searchable_container">
  <ul class="searchable" data-role="listview" data-inset="true" data-filter="true">
<%
    @objs.each do |obj|
%>
      <li>
        <%= link_to controller.display_obj(obj), send("#{controller.path_name}_path", obj) %>
      </li>
<%
    end
%>
  </ul>
</div>

<%
  if @offset + @perpage < @count
%>
    <%= link_to(t('myplaceonline.general.next') + " " + @perpage.to_s, send("#{controller.paths_name}_path", :offset => @offset + @perpage), :class => "ui-btn") %>
<%
  end

  if @offset > 0
%>
    <%= link_to(t('myplaceonline.general.previous') + " " + @perpage.to_s, send("#{controller.paths_name}_path", :offset => @offset - @perpage), :class => "ui-btn") %>
<%
  end

end
%>

<script type="text/javascript">
onPageLoad(function() {

  hookListviewSearch($(".searchable"), "/<%= controller.paths_name %>.json?perpage=0");
  
  var input = $(".searchable_container input");
  
  hookListviewEnter(input, ".searchable");

  maybeFocus(input);
  
});
</script>

<%= yield %>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
          <li><%= link_to t("myplaceonline." + controller.category_name + ".title_add"), controller.new_path, "data-icon" => "plus" %></li>
          <%= content_for(:footerlinks) %>
        </ul>
    </div>
</div>
<% end -%>
