<% content_for :heading do -%><%= t("myplaceonline.category." + controller.category_name) %><% end -%>
<%= flashes! %>

<%
if !controller.has_items
%>
<p><%= t("myplaceonline.general.count_no") + " " + t("myplaceonline.category." + controller.category_name) %>. <%= t("myplaceonline.general.create_instructions") %></p>
<%
else
%>
<div class="searchable_container">
  <ul class="searchable" data-role="listview" data-inset="true" data-filter="true">
<%
    if !@objs2.nil? && controller.second_list_before
      @objs2.each do |obj|
%>
        <li>
          <%= link_to send("#{controller.second_path_name}_path", obj) do %>
            <%= controller.second_list_icon(obj) %>
            <%= controller.display_obj(obj) %>
          <% end %>
        </li>
<%
      end
    end
%>
<%
    @objs.each do |obj|
%>
      <li>
        <%= link_to controller.display_obj(obj), send("#{controller.path_name}_path", obj) %>
      </li>
<%
    end
%>
<%
    if !@objs2.nil? && !controller.second_list_before
      @objs2.each do |obj|
%>
        <li>
          <%= link_to send("#{controller.second_path_name}_path", obj) do %>
            <%= controller.second_list_icon(obj) %>
            <%= controller.display_obj(obj) %>
          <% end %>
        </li>
<%
      end
    end
%>
  </ul>
</div>

<%
  if @offset + @perpage < @count
%>
    <%= link_to(t('myplaceonline.general.next') + " " + @perpage.to_s, send("#{controller.paths_name}_path", :offset => @offset + @perpage), :class => "ui-btn") %>
<%
  end

  if @offset > 0
%>
    <%= link_to(t('myplaceonline.general.previous') + " " + @perpage.to_s, send("#{controller.paths_name}_path", :offset => @offset - @perpage), :class => "ui-btn") %>
<%
  end

end
%>

<%
  if @count > @perpage
%>
    <div class="horizontal_center small">
      <%= @count %> <%= t("myplaceonline.category." + controller.category_name) %>, <%= @perpage %> <%= t("myplaceonline.general.perpage") %> (<%= link_to(t("myplaceonline.general.all"), "/" + controller.paths_name + @query_params_part_all) %>)
    </div>
<%
  end
%>

<script type="text/javascript">
onPageLoad(function() {
  hookListviewSearch($(".searchable"), "/<%= controller.paths_name %>.json<%= @query_params_part_all %>");
  var input = $(".searchable_container input");
  hookListviewEnter(input, ".searchable");
  maybeFocus(input);
});
</script>

<%= yield %>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
          <li><%= link_to t("myplaceonline.general.add") + " " + t("myplaceonline.category." + controller.category_name).singularize, controller.new_path, "data-icon" => "plus" %></li>
          <%= content_for(:footerlinks) %>
        </ul>
    </div>
</div>
<% end -%>
