<% content_for :heading do -%><%= t(title) %><% end -%>
<h1><%= t(title) %></h1>
<%= flashes! %>

<%
if @objs.length == 0
%>
<p><%= t(none) %></p>
<%
else
%>
<div class="searchable_container">
  <ul class="searchable" data-role="listview" data-inset="true" data-filter="true">
<%
    @objs.each do |obj|
%>
      <li>
        <%= link_to display_item.call(obj), obj %>
      </li>
<%
    end
%>
  </ul>
</div>
<%

  if @offset + @perpage < @count
%>
    <%= link_to(t('myplaceonline.general.next') + " " + @perpage.to_s, send("#{model.table_name}_path", :offset => @offset + @perpage), :class => "ui-btn") %>
<%
  end

  if @offset > 0
%>
    <%= link_to(t('myplaceonline.general.previous') + " " + @perpage.to_s, send("#{model.table_name}_path", :offset => @offset - @perpage), :class => "ui-btn") %>
<%
  end

end
%>

<script type="text/javascript">
onPageLoad(function() {

  hookListviewSearch($(".searchable"), "/<%= model.table_name %>.json?perpage=0");
  
  var input = $(".searchable_container input");
  
  hookListviewEnter(input, ".searchable");

  maybeFocus(input);
  
});
</script>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
          <%= yield %>
        </ul>
    </div>
</div>
<% end -%>
