<% if !@myplet %>
  <% if !@nested_show %>
    <% if !@myplet %>
      <% content_for :heading do -%><%= page_heading(@obj, controller) %><% end -%>
    <% end %>

    <h1><%= controller.display_obj(@obj) %></h1>

    <% if !@myplet %>
      <%= flashes! %>
    <% end %>
  <% else %>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div data-role="collapsible" data-collapsed="false">
          <h3><%= controller.display_obj(@obj) %></h3>
  <% end %>

  <% if !@nested_show %>
    <% if !@myplet %>
      <%= content_for(:beforetable) %>
    <% end %>
  <% end %>

    <table data-role="table" data-mode="reflow" class="ui-responsive tablestripes normalwidth firstcolumnbold noheadertable">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      <tbody>
      
        <%= render partial: controller.paths_form_name + "/show", locals: { obj: @obj } %>

        <%= yield %>

        <% if controller.show_created_updated && current_user.show_timestamps %>
          <%= attribute_table_row(t("myplaceonline.general.created"), Myp.display_time(@obj.created_at, current_user)) %>
          <%= attribute_table_row(t("myplaceonline.general.last_updated"), Myp.display_time(@obj.updated_at, current_user)) %>
        <% end %>

      </tbody>
    </table>

  <% if !@nested_show %>
    <% if !@myplet %>
      <%= content_for(:aftertable) %>

      <script type="text/javascript">
      myplaceonline.ensureClipboard($(".clipboardable"));
      </script>

      <%= render partial: "shared/model_show_footer" %>
    <% end %>
  <% end %>

  <% if @nested_show %>
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
<% else %>
  <%= render partial: controller.paths_name + "/show", locals: { obj: @obj } %>
<% end %>
