<% content_for :heading do -%><%= t("myplaceonline.category." + controller.category_name) %><% end -%>
<h1><%= controller.display_obj(@obj) %></h1>
<%= flashes! %>

<%= render partial: "shared/model_form", locals: { form_name: controller.paths_name + "/form", edit: true, autofocus: true } %>

<%= yield %>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
          <% if content_for?(:footerlinks) %>
            <%= content_for(:footerlinks) %>
          <% else %>
            <li><%= link_to t("myplaceonline.general.back_to") + " " + t("myplaceonline.category." + controller.category_name).singularize, controller.obj_path, "data-rel" => "back", "data-icon" => "back" %></li>
            <li><%= link_to t("myplaceonline.general.back_to_all") + " " + t("myplaceonline.category." + controller.category_name), controller.index_path, "data-icon" => "back" %></li>
          <% end %>
        </ul>
    </div>
</div>
<% end -%>
