<%
id = "myplaceonline_search_" + SecureRandom.hex(10)
container_id = id + "_container"
%>

<div id="<%= container_id %>">
  <%=
    render partial: 'myplaceonline/list', locals: {
      items: list,
      ulid: id,
      filter: true,
      filter_placeholder: t("myplaceonline.search.search_categories")
    }
  %>
</div>

<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  var search = $("#<%= id %>");
  myplaceonline.hookListviewSearch(search, "/api/categories.json");
  var input = $("#<%= container_id %> input");
  myplaceonline.hookListviewEnter(input, "#<%= id %>");
  myplaceonline.maybeFocus(input);
});
</script>
