<%
id = "myplaceonline_search_" + SecureRandom.hex(10)
container_id = id + "_container"
%>

<div id="<%= container_id %>">
  <%=
    render partial: 'myplaceonline/list', locals: {
      items: list,
      ulid: id,
      filter: true,
      filter_placeholder: t("myplaceonline.search.search_categories")
    }
  %>
</div>

<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  var search = $("#<%= id %>");
  var input = $("#<%= container_id %> input");
  myplaceonline.hookListviewEnter(input, "#<%= id %>");
  myplaceonline.remoteDataListInitialize(search, [
    {title: "<%= t("myplaceonline.general.categories") %>", url: "/api/categories.json", static_list: true}
    <% if Myp.full_text_search? %>
    , {title: "<%= t("myplaceonline.general.everything") %>", url: "/api/search.json"}
    <% end %>
  ]);
  myplaceonline.maybeFocus(input);
});
</script>
