<%
id = "myplaceonline_search_" + SecureRandom.hex(10)
container_id = id + "_container"
select_html = select_tag(:newitemcategory, options_for_select(Myp.categories(current_user)
  .map{|k,v| v}
  .sort{|a,b| a.human_title_singular <=> b.human_title_singular}
  .map{|x| [x.human_title_singular, "/" + x.link + "/new"]}
)).gsub("\"", "'").gsub("\n", "")
%>

<div id="<%= container_id %>">
  <%=
    render partial: 'myplaceonline/list', locals: {
      items: list,
      ulid: id,
      filter: true,
      filter_placeholder: t("myplaceonline.search.search_categories")
    }
  %>
</div>

<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  var search = $("#<%= id %>");
  var input = $("#<%= container_id %> input");
  myplaceonline.hookListviewEnter(input, "#<%= id %>");
  myplaceonline.remoteDataListInitialize(search, [
    {
      title: "<%= t("myplaceonline.general.categories") %>",
      url: "/api/categories.json",
      static_list: true,
      preloaded_list: <%= raw(Myp.categories_for_current_user(current_user, nil, true).to_json) %>
    }
    <% if Myp.full_text_search? %>
    , {
        title: "<%= t("myplaceonline.general.everything") %>",
        url: "/api/search.json",
        noresults: function(list, remote, section, search) {
          myplaceonline.jqmReplaceListSection(list, section, [{
            title: "<%= t("myplaceonline.everything.no_results") %><br/><form action='<%= api_newitem_path %>' style='display: inline;'><%= raw(select_html) %><input type='hidden' name='q' value='" + myplaceonline.encodeEntities(search) + "' /><br /><input type='submit' value='Go' /></form>",
            filtertext: search,
            fake: true
          }]);
          //$("#newitemcategory").focus();
        }
      }
    <% end %>
  ]);
  myplaceonline.maybeFocus(input);
});
</script>
