<% content_for :heading do -%><%= t('myplaceonline.siteTitle') %><% end -%>

<% if @isInitialPhonegapRequest %>
  <script type="text/javascript">
    loadExternalScript("<%= javascript_path('application_extra') %>", false);
    loadExternalCss("<%= path_to_stylesheet('application') %>");
  </script>
<% end %>

<%= flashes! %>

<% if !user_signed_in? %>

  <p><%= t("myplaceonline.welcome.intro_html", :opensourcelink => link_to(t("myplaceonline.welcome.opensourcelink"), "https://github.com/myplaceonline/myplaceonline", class: "externallink")) %></p>

  <p style="text-align: center">
    <%= link_to t("myplaceonline.buttons.signin"), new_user_session_path, :class => 'ui-btn ui-btn-icon-left ui-icon-power ui-btn-inline'  %>
    <%= link_to t("myplaceonline.buttons.signup"), new_user_registration_path, :class => 'ui-btn ui-btn-icon-left ui-icon-user ui-btn-inline'  %>
  </p>

  <% if session[:phonegap].nil? %>
    <p style="text-align: center">
      <%= link_to("https://play.google.com/store/apps/details?id=com.myplaceonline", class: "externallink") do %>
        <%= image_tag("play_store.png", alt: t("myplaceonline.general.play_store")) %>
      <% end %>
    </p>
  <% end %>

  <%= raw(Myp.welcome_features) %>

<% else %>

  <% @myplets.each do |myplet| %>
    <%= render :html => renderActionInOtherController(
                          Object.const_get(myplet.category_name.camelize + "Controller"),
                          myplet.category_id.nil? ? :index : :show,
                          {
                            id: myplet.category_id,
                            myplet: true
                          }
                        ).html_safe
    %>
  <% end %>

<% end %>
