<% content_for :heading do -%><%= page_heading(@obj, controller) %><% end -%>
<%= flashes! %>
<h1><%= @obj.display %></h1>
<% if !@obj.event_time.nil? %>
  <p><%= t("myplaceonline.events.event_time") %>: <%= Myp.display_datetime(@obj.event_time, current_user) %></p>
<% end %>
<% if !@obj.event_end_time.nil? %>
  <p><%= t("myplaceonline.events.event_end_time") %>: <%= Myp.display_datetime(@obj.event_end_time, current_user) %></p>
<% end %>
<% if !@obj.location.nil? %>
  <p><%= t("myplaceonline.events.location") %>: <%= link_to(@obj.location.address_one_line, @obj.location.map_url) %></p>
<% end %>

<% if !params[:email_token].nil? %>
  <hr />
  <p><%= t("myplaceonline.events.email_intro") %></p>
  <p>
    <% if !@rsvp.nil? && @rsvp.rsvp_type == Event::RSVP_YES %>
      <b><%= t("myplaceonline.events.rsvp_yes") %></b>
    <% else %>
      <%= link_to(t("myplaceonline.events.rsvp_yes"), event_rsvp_path(@obj, token: params[:token], type: Event::RSVP_YES, email_token: params[:email_token])) %>
    <% end %>
    &nbsp;|&nbsp;
    <% if !@rsvp.nil? && @rsvp.rsvp_type == Event::RSVP_MAYBE %>
      <b><%= t("myplaceonline.events.rsvp_maybe") %></b>
    <% else %>
      <%= link_to(t("myplaceonline.events.rsvp_maybe"), event_rsvp_path(@obj, token: params[:token], type: Event::RSVP_MAYBE, email_token: params[:email_token])) %>
    <% end %>
    &nbsp;|&nbsp;
    <% if !@rsvp.nil? && @rsvp.rsvp_type == Event::RSVP_NO %>
      <b><%= t("myplaceonline.events.rsvp_no") %></b>
    <% else %>
      <%= link_to(t("myplaceonline.events.rsvp_no"), event_rsvp_path(@obj, token: params[:token], type: Event::RSVP_NO, email_token: params[:email_token])) %>
    <% end %>
  </p>
  <hr />
<% end %>

<% if !@obj.notes.blank? %>
  <p><%= markdown_content(@obj.notes) %></p>
<% end %>

<% if @obj.event_pictures.length > 0 %>
  <hr />
  <% random_name = "slideshow-" + SecureRandom.hex(10) %>
  <p><%= link_to(t("myplaceonline.pictures.slideshow"), "#", class: "ui-btn ui-btn-inline", id: random_name) %></p>
  <%=
    render partial: 'myplaceonline/picture_slideshow', locals: {
      pics: @obj.event_pictures.map{|x| x.identity_file},
      random_name: random_name
    }
  %>
  <% @obj.event_pictures.each do |pic| %>
    <p><%= image_content(pic.identity_file) %></p>
    <% if !pic.identity_file.notes.blank? %>
      <%= markdown_content(pic.identity_file.notes) %>
    <% end %>
    <hr />
  <% end %>
<% end %>

<% if @obj.current_user_owns? %>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><%= link_to t("myplaceonline.general.share"), event_share_path(@obj), "data-icon" => "action" %></li>
      </ul>
    </div>
  </div>
<% end %>
