<% content_for :heading do -%><%= t('myplaceonline.graphs.graph') %><% end -%>
<h1><%= t('myplaceonline.graphs.graph') %></h1>
<%= flashes! %>
<% if !@hideform %>
  <%= form_tag graph_display_path, method: :get do |f| %>

    <%= label_tag 'series_1_source', t("myplaceonline.graphs.series_source", series_number: 1) %>
    <%= select_tag 'series_1_source', options_for_select(@sources, @selected_sources[1]), include_blank: true, class: "graph_source" %>

    <%= label_tag 'series_1_values', t("myplaceonline.graphs.series_values", series_number: 1) %>
    <div class="values_container">
    <%= select_tag 'series_1_values', options_for_select(@values, @selected_values[1]), include_blank: true, class: "graph_values" %>
    </div>

    <%= label_tag 'series_1_xvalues', t("myplaceonline.graphs.series_xvalues", series_number: 1) %>
    <div class="xvalues_container">
    <%= select_tag 'series_1_xvalues', options_for_select(@values, @selected_xvalues[1]), include_blank: true, class: "graph_xvalues" %>
    </div>

    <%= submit_tag t("myplaceonline.graphs.generate") %>
  <% end %>
<% end %>
<% if !@graphdata.blank? %>
  <div id="graphdiv" style="width: 100%"></div>
  <script type="text/javascript">
    onPageLoad(function() {
      maybeFocus(".autofocus");
      var g = new Dygraph(
        document.getElementById("graphdiv"),

        // CSV or path to a CSV file.
        <%= @graphdata.to_json.html_safe %>

      );
    });
  </script>
<% end %>
