<%= myp_text_field(f, :domain_name, "myplaceonline.website_domains.domain_name", obj.domain_name, autofocus) %>
<%=
  render partial: "myplaceonline/select_or_create", locals: {
    f: f,
    name: :website,
    existingobj: obj.website,
    heading: t("myplaceonline.website_domains.website"),
    objform: "websites/form",
    existingobjurl: "website_path",
    searchurl: "/websites.json?perpage=0",
    edit: edit,
    autofocus: false,
    expanded_if_nil: true
  }
%>
<%=
  render partial: "myplaceonline/select_or_create", locals: {
    f: f,
    name: :domain_host,
    existingobj: obj.domain_host,
    heading: t("myplaceonline.website_domains.domain_host"),
    objform: "memberships/form",
    existingobjurl: "membership_path",
    searchurl: "/memberships.json?perpage=0",
    edit: edit,
    autofocus: false
  }
%>
<%=
  render layout: "myplaceonline/childproperties", locals: {
    f: f,
    heading: t("myplaceonline.website_domains.ssh_keys"),
    childpropertiesname: :website_domain_ssh_keys,
    childproperties: obj.website_domain_ssh_keys,
    deletebutton: t("myplaceonline.website_domains.delete_ssh_key"),
    addbutton: t("myplaceonline.website_domains.add_ssh_key"),
    expanded: obj.website_domain_ssh_keys.length > 0,
    formjson: [
      {
        type: :renderpartial,
        name: :ssh_key_attributes,
        partial: "myplaceonline/select_or_create",
        heading: t("myplaceonline.website_domains.ssh_key"),
        objform: "ssh_keys/form",
        existingobjurl: "ssh_key_path",
        searchurl: "/ssh_keys.json?perpage=0",
        edit: false,
        autofocus: true
      },
      {
        type: "text",
        name: "username",
        placeholder: t("myplaceonline.website_domains.ssh_key_username")
      }
    ]
  } do |child_fields, childproperty|
%>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: child_fields,
      name: :ssh_key_attributes,
      existingobj: childproperty.ssh_key,
      heading: t("myplaceonline.website_domains.ssh_key"),
      objform: "ssh_keys/form",
      existingobjurl: "ssh_key_path",
      searchurl: "/ssh_keys.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
  <%= myp_text_field(child_fields, :username, "myplaceonline.website_domains.ssh_key_username", childproperty.username) %>
<% end %>
<%=
  render(layout: "myplaceonline/childproperties", locals: {
    f: f,
    heading: t("myplaceonline.website_domains.website_domain_registrations"),
    childpropertiesname: :website_domain_registrations,
    childproperties: obj.website_domain_registrations,
    deletebutton: t("myplaceonline.website_domains.website_domain_registrations_delete"),
    addbutton: t("myplaceonline.website_domains.website_domain_registrations_add"),
    expanded: obj.website_domain_registrations.length > 0,
    formjson: [
      {
        type: :renderpartial,
        name: :repeat_attributes,
        partial: "myplaceonline/create",
        objform: "repeats/form",
        autofocus: false
      },
      {
        type: :renderpartial,
        name: :periodic_payment_attributes,
        partial: "myplaceonline/select_or_create",
        heading: t("myplaceonline.website_domains.website_domain_registrations_periodic_payment"),
        objform: "periodic_payments/form",
        existingobjurl: "periodic_payment_path",
        searchurl: "/periodic_payments.json?perpage=0",
        edit: false,
        autofocus: false
      }
    ]
  }) do |child_fields, childproperty|
%>
  <%=
    render partial: "myplaceonline/create", locals: {
      f: child_fields,
      name: :repeat_attributes,
      existingobj: childproperty.repeat,
      objform: "repeats/form",
      autofocus: false
    }
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: child_fields,
      name: :periodic_payment_attributes,
      existingobj: childproperty.periodic_payment,
      heading: t("myplaceonline.website_domains.website_domain_registrations_periodic_payment"),
      objform: "periodic_payments/form",
      existingobjurl: "periodic_payment_path",
      searchurl: "/periodic_payments.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
<% end %>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT_AREA,
    name: :notes,
    value: obj.notes,
    placeholder: "myplaceonline.general.notes",
    collapsed: obj.notes.blank?,
    placeholder_prefix: Myp.instance_to_category_human_readable(obj).singularize,
  )
%>

<div data-role="collapsible" data-collapsed="<%= obj.meta_description.blank? ? "true" : "false" %>">
  <h3><%= t("myplaceonline.website_domains.hosted_details") %></h3>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :meta_description,
      value: obj.meta_description,
      placeholder: "myplaceonline.website_domains.meta_description",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :meta_keywords,
      value: obj.meta_keywords,
      placeholder: "myplaceonline.website_domains.meta_keywords",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :hosts,
      value: obj.hosts,
      placeholder: "myplaceonline.website_domains.hosts",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :email_name_override,
      value: obj.email_name_override,
      placeholder: "myplaceonline.website_domains.email_name_override",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :email_host_override,
      value: obj.email_host_override,
      placeholder: "myplaceonline.website_domains.email_host_override",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :email_display_override,
      value: obj.email_display_override,
      placeholder: "myplaceonline.website_domains.email_display_override",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :secondary_email_name,
      value: obj.secondary_email_name,
      placeholder: "myplaceonline.website_domains.secondary_email_name",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :static_homepage,
      value: obj.static_homepage,
      placeholder: "myplaceonline.website_domains.static_homepage",
      text_area_rich: false
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :homepage_path,
      value: obj.homepage_path,
      placeholder: "myplaceonline.website_domains.homepage_path",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_BOOLEAN,
      name: :only_homepage,
      value: obj.only_homepage,
      placeholder: "myplaceonline.website_domains.only_homepage"
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :feed_url,
      value: obj.feed_url,
      placeholder: "myplaceonline.website_domains.feed_url",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :menu_links_static,
      value: obj.menu_links_static,
      placeholder: "myplaceonline.website_domains.menu_links_static",
      text_area_rich: false
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :menu_links_logged_in,
      value: obj.menu_links_logged_in,
      placeholder: "myplaceonline.website_domains.menu_links_logged_in",
      text_area_rich: false
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :new_user_welcome,
      value: obj.new_user_welcome,
      placeholder: "myplaceonline.website_domains.new_user_welcome",
      text_area_rich: false
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :about,
      value: obj.about,
      placeholder: "myplaceonline.website_domains.about",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :mission_statement,
      value: obj.mission_statement,
      placeholder: "myplaceonline.website_domains.mission_statement",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :faq,
      value: obj.faq,
      placeholder: "myplaceonline.website_domains.faq",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_BOOLEAN,
      name: :allow_public,
      value: obj.allow_public,
      placeholder: "myplaceonline.website_domains.allow_public"
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_SELECT,
      name: :ajax_config,
      value: obj.ajax_config,
      placeholder: "myplaceonline.website_domains.ajax_config",
      select_options: WebsiteDomain::AJAX_CONFIGS,
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT,
      name: :confirm_redirect,
      value: obj.confirm_redirect,
      placeholder: "myplaceonline.website_domains.confirm_redirect",
    )
  %>
  <%=
    input_field(
      form: f,
      type: Myp::FIELD_TEXT_AREA,
      name: :url_mappings_json,
      value: obj.url_mappings_json,
      placeholder: "myplaceonline.website_domains.url_mappings_json",
      text_area_rich: false,
    )
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: f,
      name: :favicon_ico_identity_file,
      existingobj: obj.favicon_ico_identity_file,
      heading: t("myplaceonline.website_domains.favicon_ico_identity_file"),
      objform: "files/form",
      existingobjurl: "file_path",
      searchurl: "/files.json?perpage=0",
      edit: edit,
      autofocus: false,
      model_name: "IdentityFile",
    }
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: f,
      name: :favicon_png_identity_file,
      existingobj: obj.favicon_png_identity_file,
      heading: t("myplaceonline.website_domains.favicon_png_identity_file"),
      objform: "files/form",
      existingobjurl: "file_path",
      searchurl: "/files.json?perpage=0",
      edit: edit,
      autofocus: false,
      model_name: "IdentityFile",
    }
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: f,
      name: :default_header_icon_identity_file,
      existingobj: obj.default_header_icon_identity_file,
      heading: t("myplaceonline.website_domains.default_header_icon_identity_file"),
      objform: "files/form",
      existingobjurl: "file_path",
      searchurl: "/files.json?perpage=0",
      edit: edit,
      autofocus: false,
      model_name: "IdentityFile",
    }
  %>
  <%=
    render(layout: "myplaceonline/childproperties", locals: {
      f: f,
      heading: t("myplaceonline.website_domains.website_domain_myplets"),
      childpropertiesname: :website_domain_myplets,
      childproperties: obj.website_domain_myplets,
      deletebutton: t("myplaceonline.website_domains.delete_website_domain_myplet"),
      addbutton: t("myplaceonline.website_domains.add_website_domain_myplet"),
      expanded: obj.website_domain_myplets.length > 0,
      position_field: :position,
      itemname: t("myplaceonline.website_domains.website_domain_myplet"),
      formjson: [
        {
          type: :renderpartial,
          partial: "myplaceonline/select_or_create",
          heading: t("myplaceonline.website_domains.website_domain_myplet"),
          objform: "website_domain_myplets/form",
          only_new: true,
          edit: false,
          autofocus: true
        },
        {
          type: "position",
          name: "position"
        }
      ]
    }) do |child_fields, childproperty|
  %>
    <%= render partial: "website_domain_myplets/form", locals: { obj: childproperty || WebsiteDomainMyplet.build, edit: edit, autofocus: false, f: child_fields } %>
  <% end %>
  <%=
    render(layout: "myplaceonline/childproperties", locals: {
      f: f,
      heading: t("myplaceonline.website_domains.properties"),
      childpropertiesname: :website_domain_properties,
      childproperties: obj.website_domain_properties,
      deletebutton: t("myplaceonline.website_domain_properties.delete_property"),
      addbutton: t("myplaceonline.website_domain_properties.add_property"),
      expanded: obj.website_domain_properties.length > 0,
      formjson: [
        {
          type: :renderpartial,
          partial: "myplaceonline/select_or_create",
          heading: t("myplaceonline.website_domains.property"),
          objform: "website_domain_properties/form",
          only_new: true,
          edit: false,
          autofocus: true
        }
      ]
    }) do |child_fields, childproperty|
  %>
    <%= render partial: "website_domain_properties/form", locals: { obj: childproperty || WebsiteDomainProperty.build, edit: edit, autofocus: false, f: child_fields } %>
  <% end %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: f,
      name: :mailing_list,
      existingobj: obj.mailing_list,
      heading: t("myplaceonline.website_domains.mailing_list"),
      objform: "groups/form",
      existingobjurl: "group_path",
      searchurl: "/groups.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
</div>
