<%= f.fields_for :ref, @obj.ref do |identity_fields| %>
  <p>
    <%= identity_fields.label :name, class: "ui-hidden-accessible" %>
    <%= identity_fields.text_field :name, placeholder: t("myplaceonline.contacts.name"), class: "autofocus" %>
  </p>

  <p>
    <%= identity_fields.label :birthday, class: "form_field_label" %>
    <%= identity_fields.date_field :birthday, placeholder: t("myplaceonline.contacts.birthday"), value: @obj.contact_identity.birthday %>
  </p>
  
  <p>
    <%= identity_fields.label :notes, class: "ui-hidden-accessible" %>
    <%= myp_text_area(identity_fields, :notes, "myplaceonline.contacts.notes_edit") %>
  </p>
<% end %>

<script type="text/javascript">
onPageLoad(function() {
  $("#contact_ref_attributes_birthday").datebox({
    mode: "datebox",
    useFocus: true,
    overrideDateFormat: "%Y-%m-%d"
  });
});
</script>
