<%= f.fields_for(:contact_identity, obj.contact_identity) do |identity_fields| %>

  <% simpleform = Myp.param_bool(params, :simpleform) %>

  <%= myp_text_field(identity_fields, :name, "myplaceonline.contacts.name", obj.contact_identity.name, autofocus) %>
  <%= myp_text_field(identity_fields, :middle_name, "myplaceonline.contacts.middle_name", obj.contact_identity.middle_name) %>
  <%= myp_text_field(identity_fields, :last_name, "myplaceonline.contacts.last_name", obj.contact_identity.last_name) %>
  <%= myp_text_field(identity_fields, :nickname, "myplaceonline.contacts.nickname", obj.contact_identity.nickname) %>
  
  <% if !simpleform %>
    <%= myp_date_field(identity_fields, :birthday, "myplaceonline.contacts.birthday", obj.contact_identity.birthday) %>
    <%= myp_select(f, :contact_type, "myplaceonline.contacts.contact_type", Myp.translate_options(Contact::CONTACT_TYPES), obj.contact_type) %>
    <%= myp_select(identity_fields, :sex_type, "myplaceonline.contacts.sex_type", Myp.translate_options(Contact::SEX_TYPES), obj.contact_identity.sex_type) %>
  <% end %>
  
  <%=
    render(layout: 'myplaceonline/childproperties', locals: {
      f: identity_fields,
      heading: t("myplaceonline.identities.emails"),
      childpropertiesname: :identity_emails,
      childproperties: obj.contact_identity.identity_emails,
      deletebutton: t("myplaceonline.identities.delete_email"),
      addbutton: t("myplaceonline.identities.add_email"),
      expanded: obj.contact_identity.identity_emails.length > 0 || simpleform,
      formjson: [
        {
          type: 'text',
          name: 'email',
          placeholder: t("myplaceonline.identities.email"),
          autofocus: true
        }
      ]
    }) do |child_fields, childproperty|
  %>
    <%= myp_text_field(child_fields, :email, "myplaceonline.identities.email", childproperty.email) %>
    <%= myp_check_box(child_fields, :secondary, "myplaceonline.identities.email_secondary") %>
  <% end %>

  <% if !simpleform %>
    <%=
      render(layout: 'myplaceonline/childproperties', locals: {
        f: identity_fields,
        heading: t("myplaceonline.identities.phones"),
        childpropertiesname: :identity_phones,
        childproperties: obj.contact_identity.identity_phones,
        deletebutton: t("myplaceonline.identities.delete_phone"),
        addbutton: t("myplaceonline.identities.add_phone"),
        expanded: obj.contact_identity.identity_phones.length > 0,
        formjson: [
          {
            type: 'text',
            name: 'number',
            placeholder: t("myplaceonline.identities.phone"),
            autofocus: true
          },
          {
            type: 'select',
            name: 'phone_type',
            options: IdentityPhone::PHONE_TYPES.map{|x,y| [I18n.t(x),y]}.as_json,
            placeholder: t("myplaceonline.identity_phones.phone_type")
          }
        ]
      }) do |child_fields, childproperty|
    %>
      <%= myp_text_field(child_fields, :number, "myplaceonline.identities.phone", childproperty.number) %>
      <%= myp_select(child_fields, :phone_type, "myplaceonline.identity_phones.phone_type", Myp.translate_options(IdentityPhone::PHONE_TYPES), childproperty.phone_type) %>
    <% end %>

    <%=
      render(layout: 'myplaceonline/childproperties', locals: {
        f: f,
        heading: t("myplaceonline.contacts.conversations"),
        childpropertiesname: :conversations,
        childproperties: obj.all_conversations,
        deletebutton: t("myplaceonline.contacts.delete_conversation"),
        addbutton: t("myplaceonline.contacts.add_conversation"),
        expanded: false,
        formjson: [
          {
            type: 'textarea',
            name: 'conversation',
            placeholder: t("myplaceonline.contacts.conversation"),
            autofocus: true
          },
          {
            type: 'date',
            name: 'conversation_date',
            placeholder: t("myplaceonline.contacts.conversation_date"),
            value: Date.today.to_s
          }
        ]
      }) do |child_fields, childproperty|
    %>
      <%= myp_text_area(child_fields, :conversation, "myplaceonline.contacts.conversation", childproperty.conversation) %>
      <%= myp_date_field(child_fields, :conversation_date, "myplaceonline.contacts.conversation_date", childproperty.conversation_date) %>
    <% end %>

    <%=
      render(layout: 'myplaceonline/childproperties', locals: {
        f: identity_fields,
        heading: t("myplaceonline.identities.locations"),
        childpropertiesname: :identity_locations,
        childproperties: obj.contact_identity.identity_locations,
        deletebutton: t("myplaceonline.identities.delete_location"),
        addbutton: t("myplaceonline.identities.add_location"),
        expanded: obj.contact_identity.identity_locations.length > 0,
        formjson: [
          {
            type: :renderpartial,
            name: :location_attributes,
            partial: 'myplaceonline/select_or_create',
            heading: t("myplaceonline.identities.location"),
            objform: "locations/form",
            existingobjurl: "location_path",
            searchurl: "/locations.json?perpage=0",
            edit: false,
            autofocus: true
          }
        ]
      }) do |child_fields, childproperty|
    %>
      <%=
        render partial: 'myplaceonline/select_or_create', locals: {
          f: child_fields,
          name: :location_attributes,
          existingobj: childproperty.location,
          heading: t("myplaceonline.identities.location"),
          objform: "locations/form",
          existingobjurl: "location_path",
          searchurl: "/locations.json?perpage=0",
          edit: edit,
          autofocus: false
        }
      %>
    <% end %>
    
    <%=
      render(layout: 'myplaceonline/childproperties', locals: {
        f: identity_fields,
        heading: t("myplaceonline.identities.relationships"),
        childpropertiesname: :identity_relationships,
        childproperties: obj.contact_identity.identity_relationships,
        deletebutton: t("myplaceonline.identities.delete_relationship"),
        addbutton: t("myplaceonline.identities.add_relationship"),
        expanded: obj.contact_identity.identity_relationships.length > 0,
        formjson: [
          {
            type: :renderpartial,
            name: :contact_attributes,
            partial: 'myplaceonline/select_or_create',
            heading: t("myplaceonline.contacts.contact"),
            objform: "contacts/form",
            existingobjurl: "contact_path",
            searchurl: "/contacts.json?perpage=0",
            edit: true,
            autofocus: true
          },
          {
            type: 'select',
            name: 'relationship_type',
            options: IdentityRelationship::RELATIONSHIPS.map{|x,y| [I18n.t(x),y]}.as_json,
            placeholder: t("myplaceonline.identity_relationships.relationship_type")
          }
        ]
      }) do |child_fields, childproperty|
    %>
      <%=
        render partial: 'myplaceonline/select_or_create', locals: {
          f: child_fields,
          name: :contact_attributes,
          existingobj: childproperty.contact,
          heading: t("myplaceonline.contacts.contact"),
          objform: "contacts/form",
          existingobjurl: "contact_path",
          searchurl: "/contacts.json?perpage=0",
          edit: true,
          autofocus: false
        }
      %>
      <%= myp_select(child_fields, :relationship_type, "myplaceonline.identity_relationships.relationship_type", Myp.translate_options(IdentityRelationship::RELATIONSHIPS), childproperty.relationship_type) %>
    <% end %>
    
    <%=
      render partial: "myplaceonline/pictures_form", locals: {
        f: identity_fields,
        obj: obj.contact_identity,
        pictures_field: :identity_pictures
      }
    %>

    <%=
      render partial: 'myplaceonline/select_or_create', locals: {
        f: identity_fields,
        name: :company,
        existingobj: obj.contact_identity.company,
        heading: t("myplaceonline.contacts.company"),
        objform: "companies/form",
        existingobjurl: "company_path",
        searchurl: "/companies.json?perpage=0",
        edit: edit,
        autofocus: false,
        collapsed: obj.contact_identity.company.nil?
      }
    %>

    <%= myp_text_area_markdown(identity_fields, :notes, "myplaceonline.contacts.notes", obj.contact_identity.notes) %>

    <div data-role="collapsible" data-collapsed="true">
      <h3><%= t("myplaceonline.contacts.extra") %></h3>
      <%= myp_text_area_markdown(identity_fields, :likes, "myplaceonline.contacts.likes", obj.contact_identity.likes) %>
      <%= myp_text_area_markdown(identity_fields, :gift_ideas, "myplaceonline.contacts.gift_ideas", obj.contact_identity.gift_ideas) %>
      <%= myp_text_field(identity_fields, :ktn, "myplaceonline.contacts.ktn", obj.contact_identity.ktn) %>
      <%= myp_text_field(identity_fields, :new_years_resolution, "myplaceonline.contacts.new_years_resolution", obj.contact_identity.new_years_resolution) %>
      <%=
        render(layout: 'myplaceonline/childproperties', locals: {
          f: identity_fields,
          heading: t("myplaceonline.identities.drivers_licenses"),
          childpropertiesname: :identity_drivers_licenses,
          childproperties: obj.contact_identity.identity_drivers_licenses,
          deletebutton: t("myplaceonline.identities.delete_license"),
          addbutton: t("myplaceonline.identities.add_license"),
          expanded: obj.contact_identity.identity_drivers_licenses.length > 0,
          formjson: [
            {
              type: 'text',
              name: 'identifier',
              placeholder: t("myplaceonline.identities.license_number"),
              autofocus: true
            },
            {
              type: 'date',
              name: 'expires',
              placeholder: t("myplaceonline.identities.license_expires")
            }
          ]
        }) do |child_fields, childproperty|
      %>
        <%= myp_text_field(child_fields, :identifier, "myplaceonline.identities.license_number", childproperty.identifier) %>
        <%= myp_date_field(child_fields, :expires, "myplaceonline.identities.license_expires", childproperty.expires) %>
        <%= myp_region_field(child_fields, :region, "myplaceonline.general.region", childproperty.region) %>
        <%= myp_subregion_field(child_fields, :sub_region1, "myplaceonline.general.sub_region1", childproperty.region, childproperty.sub_region1) %>
        <%= child_fields.fields_for(:identity_file, childproperty.identity_file || IdentityFile.new) do |file_fields| %>
          <%= myp_file_field(file_fields, :file, "myplaceonline.identities.license_picture", childproperty.identity_file || IdentityFile.new) %>
        <% end %>
      <% end %>
      <%= myp_check_box(f, :hide, "myplaceonline.contacts.hide") %>
    </div>
  <% end %>

<% end %>
