<% content_for :heading do -%><%= @obj.display %><% end -%>

<h1><%= @obj.display %></h1>

<%= flashes!(@obj) %>

<%= form_tag contact_groups_path(@obj), method: :post do %>
  <% @groups.each do |group| %>
    <%= myp_check_box_tag("group" + group.id.to_s, group.group_name, !@contact_groups.index(group.id).nil?) %>
  <% end %>

  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: submit_tag(t("myplaceonline.general.save"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.groups.contact"),
          link: controller.obj_path,
          icon: "back"
        },
        {
          title: I18n.t("myplaceonline.general.select_all"),
          link: "#",
          icon: "check",
          onclick: "$(':checkbox').each(function() {$(this).prop('checked', true).checkboxradio('refresh');}); return false;"
        },
        {
          title: I18n.t("myplaceonline.general.deselect_all"),
          link: "#",
          icon: "delete",
          onclick: "$(':checkbox').each(function() {$(this).prop('checked', false).checkboxradio('refresh');}); return false;"
        },
      ]
    })
  %>
<% end %>
