<%= render layout: "shared/model_show", locals: {
  title: "myplaceonline.contacts.title",
  display_header: lambda { |obj| obj.name }
} do %>

  <%= attribute_table_row(t("myplaceonline.contacts.name"), @obj.name) %>
  <%= attribute_table_row(t("myplaceonline.contacts.birthday"), @obj.birthday) %>
  
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.general.edit'), edit_contact_path, "data-icon" => "edit" %></li>
    <li><%= link_to t('myplaceonline.general.delete'), contact_path(@obj),
            method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "delete" %></li>
    <li><%= link_to t('myplaceonline.contacts.back'), contacts_path, "data-icon" => "back" %></li>
  <% end %>

<% end %>
