<%= render layout: "shared/model_show" do %>

  <%# attribute_table_row(t("myplaceonline.projects.project_name"), @obj.project_name) %>
  <%= attribute_table_row_markdown(t("myplaceonline.general.notes"), @obj.notes) %>
  <%= attribute_table_row_date(t("myplaceonline.projects.start_date"), @obj.start_date) %>
  <%= attribute_table_row_date(t("myplaceonline.projects.end_date"), @obj.end_date) %>

  <% content_for :aftertable do %>
  
    <script type="text/javascript">
    function delete_project_issue(obj, $checkbox) {
      var x = obj.attr("id");
      x = x.substring(15);
      var link = "<%= project_delete_by_index_url(@obj.id) %>?issue_id=" + x;
      myplaceonline.showLoading();
      $.ajax({
        url: link,
        method: "POST",
        dataType: "json",
        context: {
          obj: obj,
          checkbox: $checkbox
        }
      }).done(function(data, textStatus, jqXHR) {
        if (data.result) {
          myplaceonline.completeCheckboxHiding(this.obj);
          myplaceonline.createSuccessNotification("Successfully deleted");
        } else {
          myplaceonline.cancelCheckboxHiding(this.checkbox);
          myplaceonline.createErrorNotification("Failed to complete project issue due to invalid submission data");
        }
      }).fail(function(jqXHR, textStatus, errorThrown) {
        myplaceonline.createErrorNotification("Could not execute " + link + ": " + textStatus);
        myplaceonline.cancelCheckboxHiding(this.checkbox);
      }).complete(function(jqXHR, textStatus) {
        myplaceonline.hideLoading();
      });
    }
    </script>
    
    <% @obj.project_issues.each do |issue| %>
      <%
      container_name = "issue_container" + issue.id.to_s
      %>
      <div id="<%= container_name %>" class="issue_container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenopadding">
          <tr>
            <td>
              <%= myp_check_box_tag("issue" + issue.id.to_s, issue.issue_name, false, false, nil, "return myplaceonline.hideIfChecked(this, $(this).parents('#" + container_name + "').first(), delete_project_issue);") %>
            </td>
            <td width="45" align="right">
              <%= link_to(t("myplaceonline.general.edit"), edit_project_project_issue_path(@obj, issue), data: { role: "button", icon: "edit", iconpos: "notext", inline: "true" }) %>
            </td>
          </tr>
        </table>
        <div style="padding-left: 40px">
          <%= markdown_content(issue.notes) %>
          <% if issue.project_issue_notifiers.length > 0 %>
            <p><%= t("myplaceonline.project_issues.notifiers") + ": " + issue.project_issue_notifiers.map{|x| x.contact.display}.join(", ") %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% content_for :postfooterlinks do %>
    <li><%= link_to t('myplaceonline.projects.project_issues'), project_project_issues_path(@obj), "data-icon" => "bars" %></li>
    <li><%= link_to t('myplaceonline.projects.project_issue_add'), new_project_project_issue_path(@obj), "data-icon" => "plus" %></li>
  <% end %>

<% end %>
