<% content_for :heading do -%><%= t('myplaceonline.permissions.share_token') %><% end -%>
<h1><%= t('myplaceonline.permissions.share_token') %></h1>
<%= flashes! %>
<% if @share.errors.any? %>
  <div class="errors">
    <ul>
    <% @share.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @share, :url => permissions_share_token_path do |f| %>
  <%=
    render partial: 'myplaceonline/select_or_create', locals: {
      f: f,
      name: :email_attributes,
      existingobj: @share.email,
      heading: t("myplaceonline.permission_shares.email"),
      objform: "emails/form",
      existingobjurl: "email_path",
      searchurl: "/emails.json?perpage=0",
      edit: true,
      autofocus: true,
      only_new: true
    }
  %>
  <%= myp_hidden_field(f, :subject_class, @share.subject_class) %>
  <%= myp_hidden_field(f, :subject_id, @share.subject_id) %>
  
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= f.submit(t("myplaceonline.permissions.share"), "data-icon" => "action", "data-iconpos" => "top") %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), "/", "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
