<% content_for :heading do -%><%= t('myplaceonline.permissions.share') %><% end -%>
<h1><%= t('myplaceonline.permissions.share') %></h1>
<%= flashes!(@permission) %>

<%= form_for @permission, :url => permissions_share_path do |f| %>
  <%=
    render partial: 'myplaceonline/find_connection', locals: {
      f: f,
      existingobj: @permission.user
    }
  %>
  <%= myp_text_field_tag(:subject, "myplaceonline.permissions.subject", @subject) %>
  <%= myp_text_area_tag(:body, "myplaceonline.permissions.body", @body) %>
  <%# myp_check_box_tag(:copy_self, "myplaceonline.permissions.copy_self", @copy_self) %>
  <%= myp_hidden_field(f, :subject_class, @permission.subject_class) %>
  <%= myp_hidden_field(f, :subject_id, @permission.subject_id) %>
  <div data-role="collapsible" data-collapsed="false">
    <h4><%= t("myplaceonline.permissions.action_types") %></h4>
    <%= myp_hidden_field(f, :actionbit1, @permission.actionbit1 ? "1" : "0") %>
    <%= myp_check_box(f, :actionbit2, "myplaceonline.permissions.action_read") %>
    <%= myp_hidden_field(f, :actionbit4, @permission.actionbit4 ? "1" : "0") %>
    <%= myp_check_box(f, :actionbit8, "myplaceonline.permissions.action_update") %>
    <%= myp_check_box(f, :actionbit16, "myplaceonline.permissions.action_destroy") %>
  </div>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: f.submit(t("myplaceonline.permissions.share"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
      ]
    })
  %>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
