<% content_for :heading do -%><%= t('myplaceonline.permissions.share_token') %><% end -%>
<h1><%= t('myplaceonline.permissions.share_token') %></h1>
<%= flashes!(@share) %>

<%= form_for @share, :url => permissions_share_token_path do |f| %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: f,
      name: :email_attributes,
      existingobj: @share.email,
      heading: t("myplaceonline.permission_shares.email"),
      objform: "emails/form",
      existingobjurl: "email_path",
      searchurl: "/emails.json?perpage=0",
      edit: false,
      autofocus: true,
      only_new: true,
      expanded_if_nil: true
    }
  %>
  <%= myp_hidden_field(f, :subject_class, @share.subject_class) %>
  <%= myp_hidden_field(f, :subject_id, @share.subject_id) %>
  <%= myp_hidden_field(f, :child_selections, @share.child_selections) %>
  
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: f.submit(t("myplaceonline.permissions.share"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.cancel"),
          link: root_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
