<%= myp_text_field f, :rv_name, "myplaceonline.recreational_vehicles.rv_name", obj.rv_name, autofocus %>
<%= myp_text_field f, :vin, "myplaceonline.recreational_vehicles.vin", obj.vin %>
<%= myp_text_field f, :manufacturer, "myplaceonline.recreational_vehicles.manufacturer", obj.manufacturer %>
<%= myp_text_field f, :model, "myplaceonline.recreational_vehicles.model", obj.model %>
<%= myp_text_field f, :year, "myplaceonline.recreational_vehicles.year", obj.year %>
<%= myp_date_field f, :owned_start, "myplaceonline.recreational_vehicles.owned_start", obj.owned_start %>
<%= myp_date_field f, :owned_end, "myplaceonline.recreational_vehicles.owned_end", obj.owned_end %>
<%= myp_text_area_markdown f, :notes, "myplaceonline.recreational_vehicles.notes", obj.notes %>
<%= myp_decimal_field f, :price, "myplaceonline.recreational_vehicles.price", obj.price %>
<%= myp_decimal_field f, :msrp, "myplaceonline.recreational_vehicles.msrp", obj.msrp %>
<%= myp_date_field f, :purchased, "myplaceonline.recreational_vehicles.purchased", obj.purchased %>
<%= myp_date_field f, :warranty_ends, "myplaceonline.recreational_vehicles.warranty_ends", obj.warranty_ends %>
<div data-role="collapsible" data-collapsed="true">
  <h3><%= t("myplaceonline.recreational_vehicles.extra") %></h3>
  <%= myp_integer_field f, :sleeps, "myplaceonline.recreational_vehicles.sleeps", obj.sleeps %>
  <%= myp_select(f, :dimensions_type, "myplaceonline.recreational_vehicles.dimensions_type", Myp.translate_options(Myp::DIMENSIONS), obj.dimensions_type) %>
  <%= myp_decimal_field f, :exterior_length, "myplaceonline.recreational_vehicles.exterior_length", obj.exterior_length %>
  <%= myp_decimal_field f, :exterior_width, "myplaceonline.recreational_vehicles.exterior_width", obj.exterior_width %>
  <%= myp_decimal_field f, :exterior_height, "myplaceonline.recreational_vehicles.exterior_height", obj.exterior_height %>
  <%= myp_decimal_field f, :exterior_height_over, "myplaceonline.recreational_vehicles.exterior_height_over", obj.exterior_height_over %>
  <%= myp_decimal_field f, :interior_height, "myplaceonline.recreational_vehicles.interior_height", obj.interior_height %>
  <%= myp_select(f, :weight_type, "myplaceonline.recreational_vehicles.weight_type", Myp.translate_options(Myp::WEIGHTS), obj.weight_type) %>
  <%= myp_decimal_field f, :wet_weight, "myplaceonline.recreational_vehicles.wet_weight", obj.wet_weight %>
  <%= myp_select(f, :liquid_capacity_type, "myplaceonline.recreational_vehicles.liquid_capacity_type", Myp.translate_options(Myp::LIQUID_CAPACITY), obj.liquid_capacity_type) %>
  <%= myp_integer_field f, :fresh_tank, "myplaceonline.recreational_vehicles.fresh_tank", obj.fresh_tank %>
  <%= myp_integer_field f, :grey_tank, "myplaceonline.recreational_vehicles.grey_tank", obj.grey_tank %>
  <%= myp_integer_field f, :black_tank, "myplaceonline.recreational_vehicles.black_tank", obj.black_tank %>
  <%= myp_integer_field f, :water_heater, "myplaceonline.recreational_vehicles.water_heater", obj.water_heater %>
  <%= myp_integer_field f, :propane, "myplaceonline.recreational_vehicles.propane", obj.propane %>
  <%= myp_select(f, :volume_type, "myplaceonline.recreational_vehicles.volume_type", Myp.translate_options(Myp::VOLUMES), obj.volume_type) %>
  <%= myp_integer_field f, :refrigerator, "myplaceonline.recreational_vehicles.refrigerator", obj.refrigerator %>
</div>
