<%= myp_text_field(f, :rv_name, "myplaceonline.recreational_vehicles.rv_name", obj.rv_name, autofocus) %>
<%= myp_text_field(f, :vin, "myplaceonline.recreational_vehicles.vin", obj.vin) %>
<%= myp_text_field(f, :manufacturer, "myplaceonline.recreational_vehicles.manufacturer", obj.manufacturer) %>
<%= myp_text_field(f, :model, "myplaceonline.recreational_vehicles.model", obj.model) %>
<%= myp_text_field(f, :year, "myplaceonline.recreational_vehicles.year", obj.year) %>
<%= myp_date_field(f, :owned_start, "myplaceonline.recreational_vehicles.owned_start", obj.owned_start) %>
<%= myp_date_field(f, :owned_end, "myplaceonline.recreational_vehicles.owned_end", obj.owned_end) %>
<%=
  input_field(
    form: f,
    type: Myp::FIELD_TEXT_AREA,
    name: :notes,
    value: obj.notes,
    placeholder: "myplaceonline.general.notes",
    collapsed: obj.notes.blank?,
    placeholder_prefix: Myp.instance_to_category_human_readable(obj).singularize,
  )
%>
<%= myp_decimal_field(f, :price, "myplaceonline.recreational_vehicles.price", obj.price) %>
<%= myp_decimal_field(f, :msrp, "myplaceonline.recreational_vehicles.msrp", obj.msrp) %>
<%= myp_date_field(f, :purchased, "myplaceonline.recreational_vehicles.purchased", obj.purchased) %>
<%= myp_date_field(f, :warranty_ends, "myplaceonline.recreational_vehicles.warranty_ends", obj.warranty_ends) %>
<%=
  render partial: "myplaceonline/select_or_create", locals: {
    f: f,
    name: :location_purchased,
    existingobj: obj.location_purchased,
    heading: t("myplaceonline.recreational_vehicles.location_purchased"),
    objform: "locations/form",
    existingobjurl: "location_path",
    searchurl: "/locations.json?perpage=0",
    edit: edit,
    autofocus: false
  }
%>
<%=
  render layout: "myplaceonline/childproperties", locals: {
    f: f,
    heading: t("myplaceonline.recreational_vehicle_insurances.insurances"),
    childpropertiesname: :recreational_vehicle_insurances,
    childproperties: obj.recreational_vehicle_insurances,
    deletebutton: t("myplaceonline.recreational_vehicle_insurances.delete_insurance"),
    addbutton: t("myplaceonline.recreational_vehicle_insurances.add_insurance"),
    expanded: obj.recreational_vehicle_insurances.length > 0,
    formjson: [
      {
        type: 'text',
        name: 'insurance_name',
        placeholder: t("myplaceonline.recreational_vehicle_insurances.insurance_name"),
        autofocus: true
      },
      {
        type: 'date',
        name: 'started',
        placeholder: t("myplaceonline.recreational_vehicle_insurances.started")
      },
      {
        type: 'textarea',
        name: 'notes',
        placeholder: t("myplaceonline.recreational_vehicle_insurances.notes")
      },
      {
        type: :renderpartial,
        name: :company_attributes,
        partial: "myplaceonline/select_or_create",
        heading: t("myplaceonline.recreational_vehicle_insurances.company"),
        objform: "companies/form",
        existingobjurl: "company_path",
        searchurl: "/companies.json?perpage=0",
        edit: false,
        autofocus: false
      },
      {
        type: :renderpartial,
        name: :periodic_payment_attributes,
        partial: "myplaceonline/select_or_create",
        heading: t("myplaceonline.recreational_vehicle_insurances.periodic_payment"),
        objform: "periodic_payments/form",
        existingobjurl: "periodic_payment_path",
        searchurl: "/periodic_payments.json?perpage=0",
        edit: false,
        autofocus: false
      }
    ]
  } do |child_fields, childproperty|
%>
  <%= myp_text_field(child_fields, :insurance_name, "myplaceonline.recreational_vehicle_insurances.insurance_name", childproperty.insurance_name) %>
  <%= myp_date_field(child_fields, :started, "myplaceonline.recreational_vehicle_insurances.started", childproperty.started) %>
  <%=
    input_field(
      form: child_fields,
      type: Myp::FIELD_TEXT_AREA,
      name: :notes,
      value: childproperty.notes,
      placeholder: "myplaceonline.general.notes",
      collapsed: childproperty.notes.blank?,
    )
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: child_fields,
      name: :company_attributes,
      existingobj: childproperty.company,
      heading: t("myplaceonline.recreational_vehicle_insurances.company"),
      objform: "companies/form",
      existingobjurl: "company_path",
      searchurl: "/companies.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
  <%=
    render partial: "myplaceonline/select_or_create", locals: {
      f: child_fields,
      name: :periodic_payment_attributes,
      existingobj: childproperty.periodic_payment,
      heading: t("myplaceonline.recreational_vehicle_insurances.periodic_payment"),
      objform: "periodic_payments/form",
      existingobjurl: "periodic_payment_path",
      searchurl: "/periodic_payments.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
<% end %>
<div data-role="collapsible" data-collapsed="true">
  <h3><%= t("myplaceonline.recreational_vehicles.extra") %></h3>
  <%= myp_integer_field(f, :sleeps, "myplaceonline.recreational_vehicles.sleeps", obj.sleeps) %>
  <%= myp_select(f, :dimensions_type, "myplaceonline.recreational_vehicles.dimensions_type", Myp.translate_options(Myp::DIMENSIONS), obj.dimensions_type) %>
  <%= myp_decimal_field(f, :floor_length, "myplaceonline.recreational_vehicles.floor_length", obj.floor_length) %>
  <%= myp_decimal_field(f, :exterior_length, "myplaceonline.recreational_vehicles.exterior_length", obj.exterior_length) %>
  <%= myp_decimal_field(f, :exterior_length_over, "myplaceonline.recreational_vehicles.exterior_length_over", obj.exterior_length_over) %>
  <%= myp_decimal_field(f, :exterior_width, "myplaceonline.recreational_vehicles.exterior_width", obj.exterior_width) %>
  <%= myp_decimal_field(f, :slideouts_extra_width, "myplaceonline.recreational_vehicles.slideouts_extra_width", obj.slideouts_extra_width) %>
  <%= myp_decimal_field(f, :exterior_height, "myplaceonline.recreational_vehicles.exterior_height", obj.exterior_height) %>
  <%= myp_decimal_field(f, :exterior_height_over, "myplaceonline.recreational_vehicles.exterior_height_over", obj.exterior_height_over) %>
  <%= myp_decimal_field(f, :interior_height, "myplaceonline.recreational_vehicles.interior_height", obj.interior_height) %>
  <%= myp_select(f, :weight_type, "myplaceonline.recreational_vehicles.weight_type", Myp.translate_options(Myp::WEIGHTS), obj.weight_type) %>
  <%= myp_decimal_field(f, :wet_weight, "myplaceonline.recreational_vehicles.wet_weight", obj.wet_weight) %>
  <%= myp_select(f, :liquid_capacity_type, "myplaceonline.recreational_vehicles.liquid_capacity_type", Myp.translate_options(Myp::LIQUID_CAPACITY), obj.liquid_capacity_type) %>
  <%= myp_integer_field(f, :fresh_tank, "myplaceonline.recreational_vehicles.fresh_tank", obj.fresh_tank) %>
  <%= myp_integer_field(f, :grey_tank, "myplaceonline.recreational_vehicles.grey_tank", obj.grey_tank) %>
  <%= myp_integer_field(f, :black_tank, "myplaceonline.recreational_vehicles.black_tank", obj.black_tank) %>
  <%= myp_integer_field(f, :water_heater, "myplaceonline.recreational_vehicles.water_heater", obj.water_heater) %>
  <%= myp_integer_field(f, :propane, "myplaceonline.recreational_vehicles.propane", obj.propane) %>
  <%= myp_select(f, :volume_type, "myplaceonline.recreational_vehicles.volume_type", Myp.translate_options(Myp::VOLUMES), obj.volume_type) %>
  <%= myp_integer_field(f, :refrigerator, "myplaceonline.recreational_vehicles.refrigerator", obj.refrigerator) %>
</div>
<%=
  render layout: "myplaceonline/childproperties", locals: {
    f: f,
    heading: t("myplaceonline.loans.heading"),
    childpropertiesname: :recreational_vehicle_loans,
    childproperties: obj.recreational_vehicle_loans,
    deletebutton: t("myplaceonline.loans.delete"),
    addbutton: t("myplaceonline.loans.add"),
    expanded: obj.recreational_vehicle_loans.length > 0,
    formjson: [
      {
        type: 'text',
        name: 'loan_attributes.lender',
        placeholder: t("myplaceonline.loans.lender"),
        autofocus: true
      },
      {
        type: 'text',
        name: 'loan_attributes.amount',
        placeholder: t("myplaceonline.loans.amount")
      },
      {
        type: 'text',
        name: 'loan_attributes.monthly_payment',
        placeholder: t("myplaceonline.loans.monthly_payment")
      },
      {
        type: 'date',
        name: 'loan_attributes.start',
        placeholder: t("myplaceonline.loans.start")
      },
      {
        type: 'date',
        name: 'loan_attributes.paid_off',
        placeholder: t("myplaceonline.loans.paid_off")
      }
    ]
  } do |child_fields, childproperty|
%>
  <%= child_fields.fields_for :loan, childproperty.loan do |inner_child_fields| %>
    <%= myp_text_field(inner_child_fields, :lender, "myplaceonline.loans.lender", childproperty.loan.lender) %>
    <%= myp_text_field(inner_child_fields, :amount, "myplaceonline.loans.amount", childproperty.loan.amount) %>
    <%= myp_text_field(inner_child_fields, :monthly_payment, "myplaceonline.loans.monthly_payment", childproperty.loan.monthly_payment) %>
    <%= myp_date_field(inner_child_fields, :start, "myplaceonline.loans.start", childproperty.loan.start) %>
    <%= myp_date_field(inner_child_fields, :paid_off, "myplaceonline.loans.paid_off", childproperty.loan.paid_off) %>
  <% end %>
<% end %>
<%=
  render partial: "myplaceonline/pictures_form", locals: {
    f: f,
    obj: obj,
    pictures_field: :recreational_vehicle_pictures
  }
%>
