<%= render layout: "shared/model_show" do %>

  <%= attribute_table_row(t("myplaceonline.files.name"), @obj.file_file_name) %>
  <%= attribute_table_row(t("myplaceonline.files.size_bytes"), @obj.file_file_size) %>
  <%= attribute_table_row_url(t("myplaceonline.files.download"), file_download_path(@obj), false, t("myplaceonline.files.download"), nil, nil, true) %>
  <%= attribute_table_row_url(t("myplaceonline.files.view"), file_view_path(@obj), false, t("myplaceonline.files.view"), nil, "externallink", true) %>
  <%= attribute_table_row_markdown(t("myplaceonline.files.notes"), @obj.notes) %>
  <%= attribute_table_row(t("myplaceonline.files.content_type"), @obj.file_content_type) %>
  <%= attribute_table_row_image(t("myplaceonline.files.inline_image"), @obj) %>
  
  <% content_for :postfooterlinks do %>
    <li><%= link_to t('myplaceonline.files.move'), file_move_path(@obj), "data-icon" => "arrow-r" %></li>
    <% if !@obj.folder.nil? %>
      <li><%= link_to t('myplaceonline.files.folder'), file_folder_path(@obj.folder), "data-icon" => "back" %></li>
    <% end %>
  <% end %>
  
<% end %>
