<%= myp_text_field f, :name, "myplaceonline.passwords.name", obj.name, autofocus %>
<%= myp_text_field f, :user, "myplaceonline.passwords.user", obj.user %>
<%= myp_text_field f, :email, "myplaceonline.passwords.email", obj.email %>
<%= myp_text_field f, :password, "myplaceonline.passwords.password", obj.password %>
<%=
  render partial: 'myplaceonline/generaterandom', locals: {
    heading: t("myplaceonline.passwords.generate_password"),
    lengthplaceholder: t("myplaceonline.passwords.generate_password_length"),
    destination: "$('#password_password')",
    button: t("myplaceonline.passwords.generate_password_button")
  }
%>
<%= myp_check_box_tag :encrypt, "myplaceonline.passwords.encrypt", @encrypt %>
<%= myp_text_field f, :url, "myplaceonline.passwords.url", obj.url %>
<%= myp_text_field f, :account_number, "myplaceonline.passwords.account_number", obj.account_number %>
<%= myp_text_area f, :notes, "myplaceonline.passwords.notes_field", obj.notes %>
<%= myp_check_box_tag :defunct, "myplaceonline.passwords.defunct", !obj.defunct.nil? %>

<div data-role="collapsible">
  <h3><%= t("myplaceonline.passwords.recovery_questions") %></h3>
  <div class="itemswrapper">
    <% obj.password_secrets.each do |secret| %>
      <%= f.fields_for :password_secrets, secret do |secret_fields| %>
        <div class="itemwrapper">
          <%= myp_text_field secret_fields, :question, "myplaceonline.passwords.question", secret.question, false, "primary_input" %>
          <%= myp_text_field secret_fields, :answer, "myplaceonline.passwords.answer", secret.answer, false, "random_destination" %>
          <%=
            render partial: 'myplaceonline/generaterandom', locals: {
              heading: t("myplaceonline.passwords.generate_answer"),
              lengthplaceholder: t("myplaceonline.passwords.generate_answer_length"),
              destination: "$(this).parents('.itemwrapper').find('.random_destination')",
              button: t("myplaceonline.passwords.generate_answer_button")
            }
          %>
          <p><a href="#" onclick="return form_remove_item(this);" class="ui-btn"><%= t("myplaceonline.passwords.remove_question") %></a></p>
        </div>
      <% end %>
    <% end %>
    <p><a href="#" onclick="return form_add_item(this, 'question', 'password', 'password_secrets', '<%= t("myplaceonline.passwords.remove_question") %>', [ { type: 'text', name: 'question', placeholder: '<%= t("myplaceonline.passwords.question") %>', primary: true }, { type: 'text', name: 'answer', placeholder: '<%= t("myplaceonline.passwords.answer") %>', classes: 'random_destination' }, { type: 'random', heading: '<%= t("myplaceonline.passwords.generate_answer") %>', lengthplaceholder: '<%= t("myplaceonline.passwords.generate_answer_length") %>', button: '<%= t("myplaceonline.passwords.generate_answer_button") %>', destination: '$(this).parents(\'.itemwrapper\').find(\'.random_destination\')' } ]);" class="ui-btn"><%= t("myplaceonline.passwords.add_question") %></a></p>
  </div>
</div>
