<%= form_for @password, :url => @url do |f| %>
  <% if @password.errors.any? %>
    <div class="errors">
      <ul>
      <% @password.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, class: "ui-hidden-accessible" %>
    <%= f.text_field :name, placeholder: t("myplaceonline.passwords.name"), class: "autofocus" %>
  </p>

  <p>
    <%= f.label :user, class: "ui-hidden-accessible" %>
    <%= f.text_field :user, placeholder: t("myplaceonline.passwords.user") %>
  </p>

  <p>
    <%= f.label :password, class: "ui-hidden-accessible" %>
    <%= f.text_field :password, placeholder: t("myplaceonline.passwords.password"), value: @password.password %>
  </p>
  
  <div data-role="collapsible">
    <h3><%= t("myplaceonline.passwords.generate_password") %></h3>
    <p><input type="number" id="generate_password_length" value="" placeholder="<%= t("myplaceonline.passwords.password_length") %>" /></p>
    <p><a href="#" class="ui-btn" onclick="getRemoteString($('#password_password'), $('#generate_password_length').val()); return false;"><%= t("myplaceonline.passwords.generate_password_button") %></a></p>
  </div>

  <p>
    <%= check_box_tag :encrypt, true, @encrypt %>
    <%= label_tag :encrypt, t("myplaceonline.passwords.encrypt") %>
  </p>
  
  <p>
    <%= f.label :url, class: "ui-hidden-accessible" %>
    <%= f.text_field :url, placeholder: t("myplaceonline.passwords.url") %>
  </p>

  <p>
    <%= f.label :account_number, class: "ui-hidden-accessible" %>
    <%= f.text_field :account_number, placeholder: t("myplaceonline.passwords.account_number") %>
  </p>

  <p>
    <%= f.label :notes, class: "ui-hidden-accessible" %>
    <%= f.text_area :notes, placeholder: t("myplaceonline.passwords.notes_field") %>
  </p>
  
<script type="text/javascript">
function password_add_question(link, questionPlaceholder, answerPlaceholder, deletePlaceholder) {
  var index = -1;
  $(".question_input").each(function() {
    var id = $(this).attr("id");
    if (id) {
      id = id.substring(0, id.lastIndexOf('_'));
      id = parseInt(id.substring(id.lastIndexOf('_') + 1));
      if (id > index) {
        index = id;
      }
    }
  });
  index++;
  var html = "<div class='itemwrapper'><p><input id='password_password_secrets_attributes_" + index + "_question' name='password[password_secrets_attributes][" + index + "][question]' placeholder='" + questionPlaceholder + "' type='text' value='' class='question_input' /></p><p><input id='password_password_secrets_attributes_" + index + "_answer' name='password[password_secrets_attributes][" + index + "][answer]' placeholder='" + answerPlaceholder + "' type='text' value='' /></p><p><a href='#' onclick='return password_remove_question(this);' class='ui-btn'>" + deletePlaceholder + "</a></p></div>";
  $(html).insertBefore($(link));
  ensureStyledPage();
  maybeFocus("#password_password_secrets_attributes_" + index + "_question");
  return false;
}

function password_remove_question(link) {
  $(link).parent().parent("div").hide();
  return false;
}
</script>

  <div data-role="collapsible">
    <h3><%= t("myplaceonline.passwords.recovery_questions") %></h3>
    <% @password.password_secrets.each do |secret| %>
      <%= f.fields_for :password_secrets, secret do |secret_fields| %>
        <div class="itemwrapper">
          <p>
            <%= secret_fields.text_field :question, placeholder: t("myplaceonline.passwords.question"), class: "question_input" %>
          </p>
          <p>
            <%= secret_fields.text_field :answer, placeholder: t("myplaceonline.passwords.answer"), value: secret.answer  %>
          </p>
          <p><a href="#" onclick="return password_remove_question(this);" class="ui-btn"><%= t("myplaceonline.passwords.remove_question") %></a></p>
        </div>
      <% end %>
    <% end %>
    <p><a href="#" onclick="return password_add_question(this, '<%= t("myplaceonline.passwords.question") %>', '<%= t("myplaceonline.passwords.answer") %>', '<%= t("myplaceonline.passwords.remove_question") %>');" class="ui-btn"><%= t("myplaceonline.passwords.add_question") %></a></p>
  </div>

  <p>
    <%= f.submit %>
  </p>
  
<script type="text/javascript">
onPageLoad(function() {
  maybeFocus(".autofocus");
});
</script>
<% end %>
