<%= form_for @password, :url => @url do |f| %>
  <% if @password.errors.any? %>
    <div class="errors">
      <ul>
      <% @password.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, class: "ui-hidden-accessible" %>
    <%= f.text_field :name, autofocus: true, placeholder: t("myplaceonline.passwords.name") %>
  </p>

  <p>
    <%= f.label :user, class: "ui-hidden-accessible" %>
    <%= f.text_field :user, placeholder: t("myplaceonline.passwords.user") %>
  </p>

  <p>
    <%= f.label :password, class: "ui-hidden-accessible" %>
    <%= f.text_field :password, placeholder: t("myplaceonline.passwords.password") %>
  </p>

  <p>
    <%= f.check_box :is_encrypted_password %>
    <%= f.label :is_encrypted_password, t("myplaceonline.passwords.encrypt") %>
  </p>
  
  <p>
    <%= f.label :url, class: "ui-hidden-accessible" %>
    <%= f.text_field :url, placeholder: t("myplaceonline.passwords.url") %>
  </p>

  <p>
    <%= f.label :account_number, class: "ui-hidden-accessible" %>
    <%= f.text_field :account_number, placeholder: t("myplaceonline.passwords.account_number") %>
  </p>

  <p>
    <%= f.label :notes, class: "ui-hidden-accessible" %>
    <%= f.text_area :notes, placeholder: t("myplaceonline.passwords.notes") %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
