<% content_for :heading do -%><%= t('myplaceonline.passwords.title') %><% end -%>
<h1><%= @password.name %></h1>
<%= flashes! %>
<%= render "form", :url => @url %>
<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><%= link_to t('myplaceonline.passwords.back'), passwords_path, "data-icon" => "back" %></li>
        </ul>
    </div>
</div>
<% end -%>