<% content_for :heading do -%><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %><% end -%>
<h1><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %></h1>
<%= form_tag passwords_import_odf_path, :multipart => true, :remote => true, "data-ajax" => false do %>
  <%= label_tag 'file', nil, class: "ui-hidden-accessible" %>
  <%= file_field_tag 'file', autofocus: true %>

  <%= label_tag 'password', nil, class: "ui-hidden-accessible" %>
  <%= text_field_tag 'password', nil, placeholder: t("myplaceonline.import.password") %>
  
  <%= submit_tag t("myplaceonline.general.next") %>
<% end %>
