<% content_for :heading do -%><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %><% end -%>
<h1><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %></h1>
<%= flashes! %>
<%= form_tag passwords_import_odf_path, :multipart => true, :remote => true, "data-ajax" => false do %>
  <%= label_tag 'file', nil, class: "ui-hidden-accessible" %>
  <%= file_field_tag 'file', class: "autofocus" %>

  <%= label_tag 'password', nil, class: "ui-hidden-accessible" %>
  <%= password_field_tag 'password', @obj, placeholder: t("myplaceonline.import.password") %>
  
  <%= submit_tag t("myplaceonline.general.next") %>
<% end %>
<% content_for :footer do -%>
<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.passwords.back"),
        link: passwords_path,
        icon: "back"
      },
    ]
  })
%>
<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  myplaceonline.maybeFocus(".autofocus");
});
</script>
<% end -%>
