<% content_for :heading do -%><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %><% end -%>
<h1><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %></h1>
<%= flashes! %>
<%= form_tag passwords_import_odf2_path, method: :get do %>
  <%= label_tag 'sheet', nil %>
  <%= select_tag 'sheet', options_for_select(@sheets) %>
  <%= submit_tag t("myplaceonline.general.next") %>
<% end %>
<% content_for :footer do -%>
<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.passwords.back"),
        link: passwords_path,
        icon: "back"
      },
    ]
  })
%>
<% end -%>
