<% content_for :heading do -%><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %><% end -%>
<h1><%= t('myplaceonline.general.import') + " " + t("myplaceonline.general.odfspreadsheet") %></h1>
<%= flashes! %>
<%= form_tag passwords_import_odf_path, :multipart => true, :remote => true, "data-ajax" => false do %>
  <%= label_tag 'file', nil, class: "ui-hidden-accessible" %>
  <%= file_field_tag 'file', class: "autofocus" %>

  <%= label_tag 'password', nil, class: "ui-hidden-accessible" %>
  <%= password_field_tag 'password', @obj, placeholder: t("myplaceonline.import.password") %>
  
  <%= submit_tag t("myplaceonline.general.next") %>
<% end %>
<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><%= link_to t('myplaceonline.passwords.back'), passwords_path, "data-icon" => "back" %></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
onPageLoad(function() {
  maybeFocus(".autofocus");
});
</script>
<% end -%>
