<% content_for :heading do -%><%= t("myplaceonline.general.share") %><% end -%>
<h1><%= t("myplaceonline.general.share") %></h1>
<%= flashes! %>
<% if @obj.errors.any? %>
  <div class="errors">
    <ul>
    <% @obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p><%= t("myplaceonline.passwords.share_description") %></p>
<%= form_for @password_share, :url => passwords_share_path(@obj) do |f| %>
  <%=
    render partial: 'myplaceonline/find_connection', locals: {
      f: f,
      existingobj: @password_share.user
    }
  %>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= submit_tag(t("myplaceonline.general.share"), "data-icon" => "action", "data-iconpos" => "top") %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), controller.obj_path, "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
