<% content_for :heading do -%><%= t('myplaceonline.passwords.title') %><% end -%>
<h1><%= @password.name %></h1>
<%= flashes! %>

<table data-role="table" data-mode="reflow" class="ui-responsive tablestripes normalwidth firstcolumnbold noheadertable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <tr>
      <td><%= t("myplaceonline.passwords.password") %></td>
      <td><%= @password.getPassword(session) %></td>
      <td>
        <%= content_tag :a, href: "#", id: "p", class: "ui-btn ui-icon-action ui-btn-icon-notext nomargin clipboardable", title: t("myplaceonline.general.clipboard"), data: { "clipboard-text" => @password.getPassword(session) } do %>
          t("myplaceonline.general.clipboard")
        <% end -%>
      </td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.name") %></td>
      <td><%= @password.name %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.user") %></td>
      <td><%= @password.user %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.isencrypted") %></td>
      <td><%= @password.is_encrypted_password %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.url") %></td>
      <td><%= @password.url %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.account_number") %></td>
      <td><%= @password.account_number %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= t("myplaceonline.passwords.notes") %></td>
      <td><%= @password.notes %></td>
      <td>&nbsp;</td>
    </tr>

    <% @password.password_secrets.each do |secret| %>
    
      <tr>
        <td><%= secret.question %></td>
        <td><%= secret.getAnswer(session) %></td>
        <td>&nbsp;</td>
      </tr>

    <% end %>

  </tbody>
</table>

<script type="text/javascript">
ensureClipboard($(".clipboardable"));
</script>

<% content_for :footer do -%>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><%= link_to t('myplaceonline.general.edit'), edit_password_path, "data-icon" => "edit" %></li>
            <li><%= link_to t('myplaceonline.general.delete'), password_path(@password),
                    method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "delete" %></li>
            <li><%= link_to t('myplaceonline.passwords.back'), passwords_path, "data-icon" => "back" %></li>
        </ul>
    </div>
</div>
<% end -%>
