<%= render layout: "shared/model_show", controller: controller do %>

  <%= attribute_table_row(t("myplaceonline.passwords.name"), @obj.name) %>
  <%= attribute_table_row(t("myplaceonline.passwords.password"), @obj.password, @obj.password, "bghighlight") %>
  <%= attribute_table_row(t("myplaceonline.passwords.user"), @obj.user) %>
  <!--<%= attribute_table_row(t("myplaceonline.passwords.isencrypted"), @obj.password_encrypted?) %>-->
  <%= attribute_table_row(t("myplaceonline.passwords.url"), url_or_blank(@obj.get_url, nil, @obj.password), @obj.password) %>
  <%= attribute_table_row(t("myplaceonline.passwords.account_number"), @obj.account_number) %>
  <%= attribute_table_row_markdown(t("myplaceonline.passwords.notes"), @obj.notes) %>

  <% @obj.password_secrets.each do |secret| %>
  
    <%= attribute_table_row(secret.question, secret.answer) %>

  <% end %>
  
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.general.edit'), edit_password_path, "data-icon" => "edit" %></li>
    <li><%= link_to t('myplaceonline.general.delete'), password_path(@obj),
            method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "delete" %></li>
    <li><%= link_to t('myplaceonline.passwords.back'), passwords_path, "data-icon" => "back" %></li>
  <% end %>

<% end %>
