<% content_for :heading do -%><%= controller.who_paid_title(@owner_paid) %><% end -%>
<h1><%= controller.who_paid_title(@owner_paid) %></h1>
<%= flashes! %>
<% if @obj.errors.any? %>
  <div class="errors">
    <ul>
    <% @obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @obj, :url => money_balances_add_path(@obj), :remote => controller.may_upload, data: { ajax: !controller.may_upload } do |f| %>
  <% childproperty = MoneyBalanceItem.build %>
  <%= f.fields_for :money_balance_items, childproperty do |child_fields| %>
    <div class="owe_container">
      <%
      amount_field = myp_decimal_field(child_fields, :original_amount, "myplaceonline.money_balance_items.amount_simple", @original_amount, true, nil, step = Myp::DEFAULT_DECIMAL_STEP, { onkeyup: "myplaceonline.onChangeCascade(this, myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)" })
      amount_field_id = extract_id(amount_field)
      %>
      <%
        credit_card_id = ""
        if @all_cashbacks.length > 0
          credit_card_tag = myp_select_tag(:credit_card, "myplaceonline.money_balances.credit_card", @all_cashbacks, @credit_card, false, nil, false, "myplaceonline.onChangeCascade($('#" + amount_field_id + "'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)")
          credit_card_id = extract_id(credit_card_tag)
      %>
        <%= credit_card_tag %>
        <script type="text/javascript">
        function transformWithCashback(currentValue, percentOwed) {
          var cashback_percent = myplaceonline.toFloatSafe($("#<%= credit_card_id %>").val());
          if (cashback_percent > 0) {
            currentValue -= currentValue * (cashback_percent / 100);
          }
          return currentValue;
        }
        </script>
      <%
        else
      %>
        <script type="text/javascript">
        function transformWithCashback(currentValue, percentOwed) {
          return currentValue;
        }
        </script>
      <%
        end
      %>
      <%= amount_field %>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend class="form_field_label"><%= controller.other_owed_name(@owner_paid) + " %" %></legend>
        <% fieldprefix = child_fields.object_name.gsub("\[", "_").gsub("\]", "") + "_other_owes_percent" %>
        <input name="<%= "#{child_fields.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}25" %>" value="0.25" class="other_owes_percent" <%= @checkbox_percent25 %> type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)" />
        <label for="<%= "#{fieldprefix}25" %>">25%</label>
        <input name="<%= "#{child_fields.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}50" %>" value="0.5" class="other_owes_percent" <%= @checkbox_percent50 %> type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)" />
        <label for="<%= "#{fieldprefix}50" %>">50%</label>
        <input name="<%= "#{child_fields.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}75" %>" value="0.75" class="other_owes_percent" <%= @checkbox_percent75 %> type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)" />
        <label for="<%= "#{fieldprefix}75" %>">75%</label>
        <input name="<%= "#{child_fields.object_name}[other_owes_percent]" %>" id="<%= "#{fieldprefix}100" %>" value="1.0" class="other_owes_percent" <%= @checkbox_percent100 %> type="radio" onchange="myplaceonline.onChangeCascade($('#<%= amount_field_id %>'), myplaceonline.toFloatSafe, '.owe_container', '.other_owes', '.other_owes_percent:checked', myplaceonline.transformMultiply, transformWithCashback)" />
        <label for="<%= "#{fieldprefix}100" %>">100%</label>
      </fieldset>
      <%= myp_decimal_field(child_fields, :amount, controller.other_owed_name(@owner_paid), @amount, false, "other_owes") %>
    </div>
    <%= myp_text_field(child_fields, :money_balance_item_name, "myplaceonline.money_balance_items.money_balance_item_name", @description) %>
    <%= myp_datetime_field(child_fields, :item_time, "myplaceonline.money_balance_items.item_time", childproperty.item_time) %>
    <%= myp_hidden_field(child_fields, :invert, @owner_paid ? false : true) %>
  <% end %>
  <%= myp_hidden_field_tag(:owner_paid, @owner_paid) %>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= f.submit(t("myplaceonline.general.save") + " " + t("myplaceonline.category." + controller.category_name).singularize, "data-icon" => "check", "data-iconpos" => "top", "style" => "background-color: green") %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), controller.obj_path, "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
  </script>

<% end %>
