<% content_for :heading do -%><%= t("myplaceonline.money_balances.money_balance_items") %><% end -%>
<h1><%= t("myplaceonline.money_balances.money_balance_items") %></h1>

<ul>
  <% @obj.money_balance_items.each do |mbi| %>
    <li>
      <%= mbi.independent_description %>
      <% if !mbi.money_balance_item_name.blank? %>
        <br/><%= mbi.money_balance_item_name %>
      <% end %>
      <% if !mbi.original_amount.nil? %>
        <br/>
        <%=
          t("myplaceonline.money_balances.original_amount_description", {
              original_amount: Myp.number_to_currency(mbi.original_amount.abs),
            }
          )
        %>
      <% end %>
    </li>
  <% end %>
</ul>

<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.general.back"),
        link: controller.obj_path,
        icon: "back"
      }
    ]
  })
%>
