<%= render layout: "shared/model_show" do %>

  <% if @obj.current_user_owns? %>
    <%= attribute_table_row_reference(t("myplaceonline.money_balances.contact"), "contact_path", @obj.contact) %>
  <% end %>
  <%= attribute_table_row_markdown(t("myplaceonline.general.notes"), @obj.notes) %>
  <% balance = @obj.calculate_balance %>
  <% if balance == 0 %>
    <%= attribute_table_row_currency(t("myplaceonline.money_balances.balance"), 0) %>
  <% elsif balance < 0 %>
    <%= attribute_table_row_content(
          t("myplaceonline.money_balances.balance"),
          "",
          t("myplaceonline.money_balances.you_owe", source: @obj.owner.display, contact: @obj.contact.display, amount: Myp.number_to_currency(balance.abs)),
          attribute_table_row_clipboard(Myp.number_to_currency(balance.abs))
        )
    %>
  <% else %>
    <%= attribute_table_row_content(
          t("myplaceonline.money_balances.balance"),
          "",
          t("myplaceonline.money_balances.contact_owes", source: @obj.owner.display, contact: @obj.contact.display, amount: Myp.number_to_currency(balance)),
          attribute_table_row_clipboard(Myp.number_to_currency(balance))
        )
    %>
  <% end %>

  <% content_for :postfooterlinks do %>
    <li><%= link_to t('myplaceonline.money_balances.share'), permissions_share_path + "?" + Permission.permission_params(controller.category_name, @obj.id).to_query, "data-icon" => "action" %></li>
    <li><%= link_to t('myplaceonline.money_balances.i_paid'), money_balances_add_path(@obj, owner_paid: @obj.current_user_owns? ? "true" : "false"), "data-icon" => "eye" %></li>
    <li><%= link_to t('myplaceonline.money_balances.other_paid', { other: controller.other_display }), money_balances_add_path(@obj, owner_paid: @obj.current_user_owns? ? "false" : "true"), "data-icon" => "eye" %></li>
  <% end %>
<% end %>
