<% content_for :heading do -%><%= t("myplaceonline.site_invoices.pay_types.other") %><% end -%>

<h1><%= t("myplaceonline.site_invoices.pay_types.other") %></h1>

<%= flashes! %>

<p><%= t("myplaceonline.site_invoices.other_intro") %></p>

<ul>
  <li>
    <%= t("myplaceonline.site_invoices.other_address") %><br /><br />
    <%= raw(Myp.mailing_address(html: true)) %>
  </li>
  <li>
    <%= t("myplaceonline.site_invoices.other_bitcoin", bitcoin_address: Myp.bitcoin_address(html: true)) %><br /><br />
    <%= raw(t("myplaceonline.site_invoices.other_bitcoin_after")) %>
  </li>
</ul>

<%= form_tag(site_invoice_pay_path(@obj), method: :post) do %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          title: I18n.t("myplaceonline.general.back"),
          link: site_invoice_pay_path(@obj),
          icon: "back"
        },
      ]
    })
  %>
<% end %>
