<% content_for :heading do -%><%= t("myplaceonline.perishable_foods.move") %><% end -%>
<h1><%= t("myplaceonline.perishable_foods.move") %></h1>
<%= flashes!(@obj) %>

<%= form_for(@obj, url: perishable_food_move_path(@obj)) do |f| %>
  <%= myp_text_field(f, :storage_location, "myplaceonline.perishable_foods.storage_location", @obj.storage_location, true, remote_autocomplete_model: @obj.class, remote_autocomplete_all: true) %>
  <%= myp_integer_field(f, :quantity, "myplaceonline.perishable_foods.quantity", @obj.quantity) %>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: f.submit(t("myplaceonline.perishable_foods.move"), "data-icon" => "action", "data-iconpos" => "top", "style" => "background-color: green")
        },
        {
          title: I18n.t("myplaceonline.general.cancel"),
          link: controller.obj_path,
          icon: "back"
        },
      ]
    })
  %>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
