<%= render layout: "shared/model_show" do %>

  <%= attribute_table_row_markdown(t("myplaceonline.text_messages.body"), @obj.body) %>
  <%= attribute_table_row(t("myplaceonline.text_messages.message_category"), @obj.message_category) %>
  <%= attribute_table_row_boolean(t("myplaceonline.text_messages.copy_self"), @obj.copy_self) %>
  <% @obj.text_message_contacts.each do |wrapper| %>
    <%= attribute_table_row_reference(t("myplaceonline.text_messages.contact"), "contact_path", wrapper.contact) %>
  <% end %>
  <% @obj.text_message_groups.each do |wrapper| %>
    <%= attribute_table_row_reference(t("myplaceonline.text_messages.group"), "group_path", wrapper.group) %>
  <% end %>
  
  <% content_for :postfooterlinks do %>
    <li><%= link_to(t("myplaceonline.text_messages.duplicate"), new_text_message_path(duplicate: @obj.id), "data-icon" => "plus") %></li>
  <% end %>
<% end %>
