<% content_for :heading do -%><%= t("myplaceonline.users.changepassword") %><% end -%>
<h1><%= t("myplaceonline.users.changepassword") %></h1>

<%= form_for(resource, as: resource_name, url: edit_user_password_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password", class: "ui-hidden-accessible" %>
    <%= f.password_field :password, class: "autofocus", autocomplete: "off", placeholder: "New Password" %></div>

  <div><%= f.label :password_confirmation, "Confirm new password", class: "ui-hidden-accessible" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %></div>

  <div><%= f.submit "Change my password" %></div>
<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  myplaceonline.maybeFocus(".autofocus");
});
</script>
<% end %>

<%= render "users/shared/links" %>
