<% content_for :heading do -%><%= t('myplaceonline.users.forgotpassword') %><% end -%>
<h1><%= t("myplaceonline.users.forgotpassword") %></h1>

<%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, class: "ui-hidden-accessible" %>
  <%= f.email_field :email, class: "autofocus", placeholder: t("myplaceonline.general.email") %></div>

  <div><%= f.submit t("myplaceonline.users.sendreset") %></div>
<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  myplaceonline.maybeFocus(".autofocus");
});
</script>
<% end %>

<%= render "users/shared/links" %>
