<% content_for :heading do -%><%= t("myplaceonline.financial_assets.asset_totals") %><% end -%>

<h1><%= t("myplaceonline.financial_assets.asset_totals") %></h1>

<%= flashes! %>

<% if @breakdown.count > 0 %>
  <hr />
  <ul>
  <% @breakdown.each do |key, value| %>
    <li>
      <%= key %><br />
      <ul>
        <% value.each do |asset| %>
          <li><%= asset.asset_name %> = <%= asset.asset_value %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>

<p><%= t("myplaceonline.financial_assets.asset_totals") %>: <b><%= Myp.number_to_currency(@total) %></b></p>

<hr />

<%
c = LifeInsurancesController.new
additional = 0
c.all_items.each do |x|
  if !x.cash_value.nil?
    additional = additional + x.cash_value
  end
end
@total = @total + additional
if additional > 0
%>
  <p><%= t("myplaceonline.financial_assets.life_insurance_cash_assets") %>: <b><%= Myp.number_to_currency(additional) %></b></p>
<% end %>

<%
additional = 0
begin
  c = WalletsController.new
  c.all_items.each do |x|
    additional = additional + x.estimate_balance_in_primary_currency
  end
rescue Exception => e
%>
  <p><%= t("myplaceonline.financial_assets.wallet_assets") %> <%= t("myplaceonline.financial_assets.error") %>: <%= e.to_s %></p>
<%
end
@total = @total + additional
if additional > 0
%>
  <p><%= t("myplaceonline.financial_assets.wallet_assets") %>: <b><%= Myp.number_to_currency(additional) %></b></p>
<%
end
%>

<hr />

<p><%= t("myplaceonline.financial_assets.final_total") %>: <b><%= Myp.number_to_currency(@total) %></b></p>

<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.general.back"),
        link: controller.index_path,
        icon: "back"
      },
    ]
  })
%>
