<% content_for :heading do -%><%= controller.display_obj(@obj) %><% end -%>
<h1><%= controller.display_obj(@obj) %></h1>
<%= flashes! %>

<% i = 0 %>
<% @all_items.each do |checklist_item| %>
  <%= myp_check_box_tag "item" + i.to_s, checklist_item.checklist_item_name, false, false, nil, "return hide_if_checked(this);" %>
  <% i = i + 1 %>
<% end %>

<%= render partial: "shared/model_show_footer" %>
