<div class="itemwrapper" data-nameprefix="<%= f.object_name %>">
  <%= f.fields_for(:left_operand, element.left_operand) do |operand_form| %>
    <%=
      render partial: 'calculation_forms/operand_form', locals: {
        f: operand_form,
        operand: element.left_operand,
        heading: t("myplaceonline.calculation_forms.left_operand")
      }
    %>
  <% end %>
  <%= myp_select(f, :operator, "myplaceonline.calculation_forms.operator", CalculationElement.operator_map, element.operator) %>
  <%= f.fields_for(:right_operand, element.right_operand) do |operand_form| %>
    <%=
      render partial: 'calculation_forms/operand_form', locals: {
        f: operand_form,
        operand: element.right_operand,
        heading: t("myplaceonline.calculation_forms.right_operand")
      }
    %>
  <% end %>
</div>
