<%= myp_text_field(f, :name, "myplaceonline.vehicles.name", obj.name, autofocus) %>
<%= myp_text_field(f, :vin, "myplaceonline.vehicles.vin", obj.vin) %>
<%= myp_text_field(f, :manufacturer, "myplaceonline.vehicles.manufacturer", obj.manufacturer) %>
<%= myp_text_field(f, :model, "myplaceonline.vehicles.model", obj.model) %>
<%= myp_text_field(f, :year, "myplaceonline.vehicles.year", obj.year) %>
<%= myp_text_field(f, :color, "myplaceonline.vehicles.color", obj.color) %>
<%= myp_decimal_field(f, :price, "myplaceonline.vehicles.price", obj.price) %>
<%= myp_decimal_field(f, :msrp, "myplaceonline.vehicles.msrp", obj.msrp) %>
<%= myp_date_field(f, :owned_start, "myplaceonline.vehicles.owned_start", obj.owned_start) %>
<%= myp_date_field(f, :owned_end, "myplaceonline.vehicles.owned_end", obj.owned_end) %>
<%= myp_text_field(f, :license_plate, "myplaceonline.vehicles.license_plate", obj.license_plate) %>
<%= myp_region_field(f, :region, "myplaceonline.general.region", obj.region) %>
<%= myp_subregion_field(f, :sub_region1, "myplaceonline.general.sub_region1", obj.region, obj.sub_region1) %>
<%= myp_text_area_markdown(f, :notes, "myplaceonline.vehicles.notes", obj.notes) %>
<%=
  render layout: 'myplaceonline/childproperties', locals: {
    f: f,
    heading: t("myplaceonline.loans.heading"),
    childpropertiesname: :vehicle_loans,
    childproperties: obj.vehicle_loans,
    deletebutton: t("myplaceonline.loans.delete"),
    addbutton: t("myplaceonline.loans.add"),
    expanded: obj.vehicle_loans.length > 0,
    formjson: [
      {
        type: 'text',
        name: 'loan_attributes.lender',
        placeholder: t("myplaceonline.loans.lender"),
        autofocus: true
      },
      {
        type: 'text',
        name: 'loan_attributes.amount',
        placeholder: t("myplaceonline.loans.amount")
      },
      {
        type: 'text',
        name: 'loan_attributes.monthly_payment',
        placeholder: t("myplaceonline.loans.monthly_payment")
      },
      {
        type: 'date',
        name: 'loan_attributes.start',
        placeholder: t("myplaceonline.loans.start")
      },
      {
        type: 'date',
        name: 'loan_attributes.paid_off',
        placeholder: t("myplaceonline.loans.paid_off")
      }
    ]
  } do |child_fields, childproperty|
%>
  <%= child_fields.fields_for :loan, childproperty.loan do |inner_child_fields| %>
    <%= myp_text_field(inner_child_fields, :lender, "myplaceonline.loans.lender", childproperty.loan.lender) %>
    <%= myp_text_field(inner_child_fields, :amount, "myplaceonline.loans.amount", childproperty.loan.amount) %>
    <%= myp_text_field(inner_child_fields, :monthly_payment, "myplaceonline.loans.monthly_payment", childproperty.loan.monthly_payment) %>
    <%= myp_date_field(inner_child_fields, :start, "myplaceonline.loans.start", childproperty.loan.start) %>
    <%= myp_date_field(inner_child_fields, :paid_off, "myplaceonline.loans.paid_off", childproperty.loan.paid_off) %>
  <% end %>
<% end %>
<%=
  render layout: 'myplaceonline/childproperties', locals: {
    f: f,
    heading: t("myplaceonline.vehicle_insurances.insurances"),
    childpropertiesname: :vehicle_insurances,
    childproperties: obj.vehicle_insurances,
    deletebutton: t("myplaceonline.vehicle_insurances.delete_insurance"),
    addbutton: t("myplaceonline.vehicle_insurances.add_insurance"),
    expanded: obj.vehicle_insurances.length > 0,
    formjson: [
      {
        type: 'text',
        name: 'insurance_name',
        placeholder: t("myplaceonline.vehicle_insurances.insurance_name"),
        autofocus: true
      },
      {
        type: 'date',
        name: 'started',
        placeholder: t("myplaceonline.vehicle_insurances.started")
      },
      {
        type: 'textarea',
        name: 'notes',
        placeholder: t("myplaceonline.vehicle_insurances.notes")
      },
      {
        type: :renderpartial,
        name: :company_attributes,
        partial: 'myplaceonline/select_or_create',
        heading: t("myplaceonline.vehicle_insurances.company"),
        objform: "companies/form",
        existingobjurl: "company_path",
        searchurl: "/companies.json?perpage=0",
        edit: false,
        autofocus: false
      },
      {
        type: :renderpartial,
        name: :periodic_payment_attributes,
        partial: 'myplaceonline/select_or_create',
        heading: t("myplaceonline.vehicle_insurances.periodic_payment"),
        objform: "periodic_payments/form",
        existingobjurl: "periodic_payment_path",
        searchurl: "/periodic_payments.json?perpage=0",
        edit: false,
        autofocus: false
      }
    ]
  } do |child_fields, childproperty|
%>
  <%= myp_text_field(child_fields, :insurance_name, "myplaceonline.vehicle_insurances.insurance_name", childproperty.insurance_name) %>
  <%= myp_date_field(child_fields, :started, "myplaceonline.vehicle_insurances.started", childproperty.started) %>
  <%= myp_text_area_markdown(child_fields, :notes, "myplaceonline.vehicle_insurances.notes", childproperty.notes) %>
  <%=
    render partial: 'myplaceonline/select_or_create', locals: {
      f: child_fields,
      name: :company_attributes,
      existingobj: childproperty.company,
      heading: t("myplaceonline.vehicle_insurances.company"),
      objform: "companies/form",
      existingobjurl: "company_path",
      searchurl: "/companies.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
  <%=
    render partial: 'myplaceonline/select_or_create', locals: {
      f: child_fields,
      name: :periodic_payment_attributes,
      existingobj: childproperty.periodic_payment,
      heading: t("myplaceonline.vehicle_insurances.periodic_payment"),
      objform: "periodic_payments/form",
      existingobjurl: "periodic_payment_path",
      searchurl: "/periodic_payments.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
<% end %>
<div data-role="collapsible" data-collapsed="true">
  <h3><%= t("myplaceonline.vehicles.extra") %></h3>
  <%= myp_integer_field(f, :horsepower, "myplaceonline.vehicles.horsepower", obj.horsepower) %>
  <%= myp_text_field(f, :trim_name, "myplaceonline.vehicles.trim_name", obj.trim_name) %>
  <%= myp_select(f, :engine_type, "myplaceonline.vehicles.engine_type", Myp.translate_options(Vehicle::ENGINE_TYPES), obj.engine_type) %>
  <%= myp_select(f, :displacement_type, "myplaceonline.vehicles.displacement_type", Myp.translate_options(Vehicle::DISPLACEMENT_TYPES), obj.displacement_type) %>
  <%= myp_decimal_field(f, :displacement, "myplaceonline.vehicles.displacement", obj.displacement) %>
  <%= myp_integer_field(f, :cylinders, "myplaceonline.vehicles.cylinders", obj.cylinders) %>
  <%= myp_integer_field(f, :passenger_seats, "myplaceonline.vehicles.passenger_seats", obj.passenger_seats) %>
  <%= myp_integer_field(f, :doors, "myplaceonline.vehicles.doors", obj.doors) %>
  <%= myp_select(f, :doors_type, "myplaceonline.vehicles.doors_type", Myp.translate_options(Vehicle::DOOR_TYPES), obj.doors_type) %>
  <%= myp_select(f, :wheel_drive_type, "myplaceonline.vehicles.wheel_drive_type", Myp.translate_options(Vehicle::DRIVE_TYPES), obj.wheel_drive_type) %>
  <%= myp_select(f, :dimensions_type, "myplaceonline.vehicles.dimensions_type", Myp.translate_options(Myp::DIMENSIONS), obj.dimensions_type) %>
  <%= myp_decimal_field(f, :bed_length, "myplaceonline.vehicles.bed_length", obj.bed_length) %>
  <%= myp_decimal_field(f, :height, "myplaceonline.vehicles.height", obj.height) %>
  <%= myp_decimal_field(f, :width, "myplaceonline.vehicles.width", obj.width) %>
  <%= myp_decimal_field(f, :length, "myplaceonline.vehicles.length", obj.length) %>
  <%= myp_decimal_field(f, :wheel_base, "myplaceonline.vehicles.wheel_base", obj.wheel_base) %>
  <%= myp_decimal_field(f, :ground_clearance, "myplaceonline.vehicles.ground_clearance", obj.ground_clearance) %>
  <%= myp_select(f, :weight_type, "myplaceonline.vehicles.weight_type", Myp.translate_options(Myp::WEIGHTS), obj.weight_type) %>
  <%= myp_decimal_field(f, :gvwr, "myplaceonline.vehicles.gvwr", obj.gvwr) %>
  <%= myp_decimal_field(f, :gcwr, "myplaceonline.vehicles.gcwr", obj.gcwr) %>
  <%= myp_decimal_field(f, :gawr_front, "myplaceonline.vehicles.gawr_front", obj.gawr_front) %>
  <%= myp_decimal_field(f, :gawr_rear, "myplaceonline.vehicles.gawr_rear", obj.gawr_rear) %>
  <%= myp_text_field(f, :front_axle_details, "myplaceonline.vehicles.front_axle_details", obj.front_axle_details) %>
  <%= myp_decimal_field(f, :front_axle_rating, "myplaceonline.vehicles.front_axle_rating", obj.front_axle_rating) %>
  <%= myp_text_field(f, :front_suspension_details, "myplaceonline.vehicles.front_suspension_details", obj.front_suspension_details) %>
  <%= myp_decimal_field(f, :front_suspension_rating, "myplaceonline.vehicles.front_suspension_rating", obj.front_suspension_rating) %>
  <%= myp_text_field(f, :rear_axle_details, "myplaceonline.vehicles.rear_axle_details", obj.rear_axle_details) %>
  <%= myp_decimal_field(f, :rear_axle_rating, "myplaceonline.vehicles.rear_axle_rating", obj.rear_axle_rating) %>
  <%= myp_text_field(f, :rear_suspension_details, "myplaceonline.vehicles.rear_suspension_details", obj.rear_suspension_details) %>
  <%= myp_decimal_field(f, :rear_suspension_rating, "myplaceonline.vehicles.rear_suspension_rating", obj.rear_suspension_rating) %>
  <%= myp_text_field(f, :tire_details, "myplaceonline.vehicles.tire_details", obj.tire_details) %>
  <%= myp_decimal_field(f, :tire_rating, "myplaceonline.vehicles.tire_rating", obj.tire_rating) %>
  <%= myp_decimal_field(f, :tire_diameter, "myplaceonline.vehicles.tire_diameter", obj.tire_diameter) %>
  <%= myp_text_field(f, :wheel_details, "myplaceonline.vehicles.wheel_details", obj.wheel_details) %>
  <%= myp_decimal_field(f, :wheel_rating, "myplaceonline.vehicles.wheel_rating", obj.wheel_rating) %>
  <%= myp_select(f, :wheels_type, "myplaceonline.vehicles.wheels_type", Myp.translate_options(Vehicle::WHEEL_TYPES), obj.wheels_type) %>
  <%= myp_select(f, :fuel_tank_capacity_type, "myplaceonline.vehicles.fuel_tank_capacity_type", Myp.translate_options(Myp::LIQUID_CAPACITY), obj.fuel_tank_capacity_type) %>
  <%= myp_decimal_field(f, :fuel_tank_capacity, "myplaceonline.vehicles.fuel_tank_capacity", obj.fuel_tank_capacity) %>
  <%= myp_decimal_field(f, :wet_weight_front, "myplaceonline.vehicles.wet_weight_front", obj.wet_weight_front) %>
  <%= myp_decimal_field(f, :wet_weight_rear, "myplaceonline.vehicles.wet_weight_rear", obj.wet_weight_rear) %>
  <%= myp_decimal_field(f, :tailgate_weight, "myplaceonline.vehicles.tailgate_weight", obj.tailgate_weight) %>
</div>
<%=
  render partial: 'myplaceonline/select_or_create', locals: {
    f: f,
    name: :recreational_vehicle,
    existingobj: obj.recreational_vehicle,
    heading: t("myplaceonline.vehicles.recreational_vehicle"),
    objform: "recreational_vehicles/form",
    existingobjurl: "recreational_vehicle_path",
    searchurl: "/recreational_vehicles.json?perpage=0",
    edit: edit,
    autofocus: false,
    collapsed: obj.recreational_vehicle.nil?
  }
%>
<%=
  render partial: "myplaceonline/pictures_form", locals: {
    f: f,
    obj: obj,
    pictures_field: :vehicle_pictures
  }
%>
<%=
  render layout: 'myplaceonline/childproperties', locals: {
    f: f,
    heading: t("myplaceonline.warranties.heading"),
    childpropertiesname: :vehicle_warranties,
    childproperties: obj.vehicle_warranties,
    deletebutton: t("myplaceonline.warranties.delete"),
    addbutton: t("myplaceonline.warranties.add"),
    expanded: obj.vehicle_warranties.length > 0,
    formjson: [
      {
        type: :renderpartial,
        name: :warranty_attributes,
        partial: 'myplaceonline/select_or_create',
        heading: t("myplaceonline.warranties.warranty"),
        objform: "warranties/form",
        existingobjurl: "warranty_path",
        searchurl: "/warranties.json?perpage=0",
        edit: false,
        autofocus: true
      }
    ]
  } do |child_fields, childproperty|
%>
  <%=
    render partial: 'myplaceonline/select_or_create', locals: {
      f: child_fields,
      name: :warranty_attributes,
      existingobj: childproperty.warranty,
      heading: t("myplaceonline.warranties.warranty"),
      objform: "warranties/form",
      existingobjurl: "warranty_path",
      searchurl: "/warranties.json?perpage=0",
      edit: edit,
      autofocus: false
    }
  %>
<% end %>
