<% content_for :heading do -%><%= t('myplaceonline.emails.personalize') %><% end -%>
<h1><%= t('myplaceonline.emails.personalize') %></h1>
<%= flashes!(@obj) %>

<p><%= t("myplaceonline.emails.personalize_description") %></p>
<hr />
<%= form_for @obj, :url => email_personalize_path(@obj) do |f| %>
  <% @obj.email_personalizations.each do |email_personalization| %>
    <%= f.fields_for :email_personalizations, email_personalization do |personalization_fields| %>
      <%= myp_check_box(personalization_fields, :do_send, email_personalization.contact.display + " (" + email_personalization.target + ")") %>
      <%= myp_text_area_markdown(personalization_fields, :additional_text, t("myplaceonline.email_personalizations.additional_text"), email_personalization.additional_text, collapsed: false) %>
      <%= myp_hidden_field(personalization_fields, :target, email_personalization.target) %>
      <hr />
    <% end %>
  <% end %>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= f.submit(t("myplaceonline.emails.send"), "data-icon" => "action", "data-iconpos" => "top") %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), controller.obj_path, "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
