<% content_for :heading do -%><%= page_heading(@obj, controller) %><% end -%>
<h1><%= @obj.display %></h1>
<% if !@obj.identity_file.nil? %>
  <%= url_or_blank(file_download_path(@obj.identity_file, t: @obj.identity_file.updated_at.to_i, token: params[:token]), t("myplaceonline.playlists.download_zip") + " (" + bytes_number(@obj.identity_file.file_file_size) + ")", nil, "ui-btn ui-btn-inline", true) %>
<% end %>
<ol class="playlist_songs">
  <% @obj.playlist_songs.each do |playlist_song| %>
    <% if !playlist_song.song.identity_file.nil? %>
      <li>
        <p><%= playlist_song.song.display %></p>
        <%= raw(file_audio(playlist_song.song.identity_file)) %>
      </li>
    <% end %>
  <% end %>
</ol>

<script type="text/javascript">
$("audio").each(function() {
  $(this).on("ended", function() {
    var li = $(this).parent("li");
    var search = li[0].nextElementSibling;
    while (search) {
      if (search.tagName && search.tagName.toLowerCase() == "li") {
        var nextAudio = $(search).find("audio");
        if (nextAudio.length) {
          nextAudio[0].play();
          break;
        }
      }
      search = search.nextElementSibling;
    }
  });
});
</script>

<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.playlists.play_all"),
        link: "#",
        icon: "bars",
        onclick: "myplaceonline.playFirstSong('.playlist_songs'); return false;",
      },
      {
        title: I18n.t("myplaceonline.playlists.play_previous"),
        link: "#",
        icon: "arrow-l",
        onclick: "myplaceonline.playPreviousSong('.playlist_songs'); return false;",
      },
      {
        title: I18n.t("myplaceonline.playlists.play_next"),
        link: "#",
        icon: "arrow-r",
        onclick: "myplaceonline.playNextSong('.playlist_songs'); return false;",
      },
      {
        title: I18n.t("myplaceonline.playlists.pause_all"),
        link: "#",
        icon: "delete",
        onclick: "myplaceonline.pauseSongs('.playlist_songs'); return false;",
      },
    ]
  })
%>
