<% content_for :heading do -%><%= t('myplaceonline.playlists.share') %><% end -%>
<h1><%= t('myplaceonline.playlists.share') %></h1>
<%= flashes! %>
<% if @share.errors.any? %>
  <div class="errors">
    <ul>
    <% @share.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @share, :url => playlists_share_path(@obj) do |f| %>
  <%= myp_text_field(f, :subject, "myplaceonline.playlists.subject", @share.subject, true) %>
  <%= myp_text_area(f, :body, "myplaceonline.playlists.body", @share.body) %>
  <%= myp_check_box(f, :email, "myplaceonline.playlists.email") %>
  <%= myp_check_box(f, :copy_self, "myplaceonline.playlists.copy_self") %>
  <%=
    render layout: 'myplaceonline/childproperties', locals: {
      f: f,
      heading: t("myplaceonline.playlists.contacts"),
      childpropertiesname: :playlist_share_contacts,
      childproperties: @share.playlist_share_contacts,
      deletebutton: t("myplaceonline.playlists.delete_contact"),
      addbutton: t("myplaceonline.playlists.add_contact"),
      expanded: true,
      formjson: [
        {
          type: :renderpartial,
          name: :contact_attributes,
          partial: 'myplaceonline/select_or_create',
          heading: t("myplaceonline.playlists.contact"),
          objform: "contacts/form",
          existingobjurl: "contact_path",
          searchurl: "/contacts.json?perpage=0",
          edit: true,
          autofocus: true
        }
      ]
    } do |child_fields, childproperty|
  %>
    <%=
      render partial: 'myplaceonline/select_or_create', locals: {
        f: child_fields,
        name: :contact_attributes,
        existingobj: childproperty.contact,
        heading: t("myplaceonline.playlists.contact"),
        objform: "contacts/form",
        existingobjurl: "contact_path",
        searchurl: "/contacts.json?perpage=0",
        edit: true,
        autofocus: false
      }
    %>
  <% end %>
  
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li>
          <%= f.submit(t("myplaceonline.playlists.share"), "data-icon" => "action", "data-iconpos" => "top", ) %>
        </li>
        <li><%= link_to t("myplaceonline.general.cancel"), controller.obj_path, "data-icon" => "back" %></li>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
  });
</script>
