<% content_for :heading do -%><%= @obj.quiz.display %><% end -%>

<%= flashes! %>

<%= form_tag(quiz_quiz_instance_go_path(@obj.quiz, @obj), method: :post) do %>

  <%= data_row(heading: t("myplaceonline.quiz_items.quiz_question"), prefix_heading: true, content: @question.quiz_question, wrap: false, markdown: true) %>

  <% @question.quiz_item_files.each do |pic| %>
    <p><%= image_content(pic.identity_file, true, useThumbnail: false) %></p>
  <% end %>

  <%=
    input_field(
      type: Myp::FIELD_RADIO,
      name: :choice,
      value: @choice,
      placeholder: "myplaceonline.quiz_items.correct_choice",
      radio_options: @question.quiz.available_choices,
      translate_radio_options: false,
    )
  %>
  
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          content: submit_tag(t("myplaceonline.general.submit"), "data-icon" => "action", "data-iconpos" => "top", style: "background-color: green")
        },
        {
          title: t("myplaceonline.category.quiz_instances").singularize,
          link: quiz_quiz_instances_path(@obj.quiz),
          icon: "back",
        },
      ]
    })
  %>
<% end %>
