<div data-role="collapsible"<%= defined?(expanded) && expanded ? raw(" data-collapsed=\"false\"") : "" %>>
  <h3><%= heading %></h3>
  <div class="itemswrapper">
    <% childproperties.each do |childproperty| %>
      <%= f.fields_for childpropertiesname, childproperty do |child_fields| %>
        <div class="itemwrapper" data-nameprefix="<%= child_fields.object_name %>">
          <%= yield child_fields, childproperty %>
          <p><a href="#" onclick="return form_remove_item(this);" class="ui-btn"><%= deletebutton %></a></p>
        </div>
      <% end %>
    <% end %>
    <script type="text/javascript">
    <% random_name = SecureRandom.hex(10) %>
    var x<%= random_name %> = <%= raw(formjson.to_json) %>;
    </script>
    <p><a href="#" onclick="return form_add_item(this, '<%= f.object_name + "[" + childpropertiesname.to_s + "_attributes]" %>', '<%= deletebutton %>', x<%= random_name %>);" class="ui-btn"><%= addbutton %></a></p>
  </div>
</div>
