<%# locals: { f: form, obj: object, autofocus: boolean, link_name: symbol, link_placeholder: string, title_name: symbol, title_placeholder: string, button_text: string } %>

<div class="action_wrapper">
  <%
  link_field = myp_text_field(f, link_name, link_placeholder, obj.send(link_name.to_s), autofocus, "website_link")
  link_field_id = extract_id(link_field)
  title_field = myp_text_field(f, title_name, title_placeholder, obj.send(title_name.to_s), false, "website_title")
  title_field_id = extract_id(title_field)
  %>
  <%= link_field %>
  <script>
  myplaceonline.onPageLoad(function() {
    $("#<%= link_field_id %>").on("input", function() {
      var button = $(this).parents(".action_wrapper").first().find(".website_title_button").first();
      if ($(this).val().length == 0) {
        button.addClass("ui-disabled");
      } else {
        button.removeClass("ui-disabled");
      }
    });
  });
  
  function requestWebsiteTitle(button) {
    var wrapper = $(button).parents(".action_wrapper").first();
    var link = wrapper.find(".website_link").first().val();
    myplaceonline.showLoading();
    var remoteUrl = "/api/website_title?link=" + encodeURIComponent(link);
    $.ajax({
      url: remoteUrl,
      method: "GET",
      dataType: "json",
      context: {
        wrapper: wrapper,
        link: link
      }
    }).done(function(data, textStatus, jqXHR) {
      if (data.result) {
        var title = this.wrapper.find(".website_title").first();
        title.val(data.title);
        this.wrapper.find(".website_link").first().val(data.link);
        title.focus();
      } else {
        myplaceonline.createErrorNotification(data.error);
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      myplaceonline.createErrorNotification(textStatus);
    }).complete(function(jqXHR, textStatus) {
      myplaceonline.hideLoading();
    });
    return false;
  }
  </script>
  <a href="#" onclick="return requestWebsiteTitle(this);" class="website_title_button ui-btn <%= obj.send(link_name.to_s).blank? ? "ui-disabled" : "" %>"><%= t(button_text) %></a>
  <%= title_field %>
</div>
