<%
existingobj ||= Myp.new_model(objform[0..(objform.index('/')-1)].singularize.camelize.constantize)
%>
<div data-role="collapsible" data-collapsed="false">
  <h4><%= heading %></h4>
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-collapsed="false">
      <%= f.fields_for name, existingobj do |sub_fields| %>
        <%
          random_name = SecureRandom.hex(10)
          fieldid = sub_fields.object_name.gsub("\[", "_").gsub("\]", "") + "_id"
        %>
        <h3><%= t("myplaceonline.general.existing") + " " + heading %></h3>
        <div id="<%= random_name %>_searchable_container">
          <ul id="<%= random_name %>_searchable" data-role="listview" data-inset="true" data-filter="true" data-icon="false" data-filter-placeholder="<%= t("myplaceonline.search.placeholder") %>">
            <% if !existingobj.nil? && !existingobj.id.nil? %>
              <li>
                <%= link_to existingobj.display, send(existingobjurl, existingobj), onclick: Myp.select_listitem('#' + fieldid) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= sub_fields.hidden_field(:id) %>
        <script type="text/javascript">
          onPageLoad(function() {
            $("#<%= random_name %>_searchable li").each(function(index) {
              $(this).addClass('ui-btn-active');
            });
            hookListviewSearch($("#<%= random_name %>_searchable"), "<%= searchurl %>", function(ul) {
              ul.find("li a").each(function(index) {
                $(this).attr("onclick", "<%= raw(Myp.select_listitem('#' + fieldid)) %>");
              });
            });
            <% if autofocus %>
            maybeFocus($("#<%= random_name %>_searchable_container input"));
            <% end %>
          });
        </script>
      <% end %>
    </div>
    <% if !edit %>
      <div data-role="collapsible">
        <%= f.fields_for name, existingobj do |sub_fields| %>
          <h3><%= (edit ? t("myplaceonline.general.edit") : t("myplaceonline.general.new")) + " " + heading %></h3>
          <%= render partial: objform + ".html", locals: { f: sub_fields, obj: existingobj, edit: edit, autofocus: autofocus } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
