<%
existingobj ||= Myp.new_model(objform[0..(objform.index('/')-1)].singularize.camelize.constantize)
collapsed = collapsed.nil? ? false : collapsed
existingcollapsed = false
random_name = SecureRandom.hex(10)
new_item_collapsible_id = random_name + "_new_item"
always_search ||= false

# If there are no existing items, then expand the new item instead
if !objform.blank?
  i = objform.index('/')
  if i != -1
    m = Object.const_get(objform[0..i-1].singularize.camelize)
    if m.new.respond_to?("owner_id")
      x = m.send("where", owner_id: current_user.primary_identity.id)
      if x.length == 0
        existingcollapsed = true
      end
    end
  end
end

# Some user confusion when existing is expanded, so we always collapse it,
# unless new isn't shown
if !edit
  existingcollapsed = true
end

%>
<div data-role="collapsible" data-collapsed="<%= collapsed %>">
  <h4><%= heading %></h4>
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-collapsed="<%= existingcollapsed %>">
      <%= f.fields_for name, existingobj do |sub_fields| %>
        <%
          fieldid = sub_fields.object_name.gsub("\[", "_").gsub("\]", "") + "_id"
        %>
        <h3><%= t("myplaceonline.general.existing") + " " + heading %></h3>
        <div id="<%= random_name %>_searchable_container">
          <ul id="<%= random_name %>_searchable" data-role="listview" data-inset="true" data-filter="true" data-icon="false" data-filter-placeholder="<%= t("myplaceonline.search.placeholder") %>">
            <% if !existingobj.nil? && !existingobj.id.nil? %>
              <li>
                <%= link_to existingobj.display, send(existingobjurl, existingobj), onclick: Myp.select_listitem('#' + fieldid) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= sub_fields.hidden_field(:id) %>
        <script type="text/javascript">
          myplaceonline.onPageLoad(function() {
            $("#<%= random_name %>_searchable li").each(function(index) {
              $(this).addClass('ui-btn-active');
            });
            myplaceonline.hookListviewSearch($("#<%= random_name %>_searchable"), "<%= searchurl %>", function(ul) {
              ul.find("li a").each(function(index) {
                $(this).attr("onclick", "<%= raw(Myp.select_listitem('#' + fieldid)) %>");
              });
              <% if always_search %>
                ul[0].allLoaded = false;
              <% end %>
            });
            <% if autofocus && !existingcollapsed %>
            myplaceonline.maybeFocus($("#<%= random_name %>_searchable_container input"));
            <% end %>
          });
        </script>
      <% end %>
    </div>
    <% if !edit %>
      <div id="<%= new_item_collapsible_id %>" data-role="collapsible" data-collapsed="<%= !existingcollapsed %>">
        <% first = true %>
        <%= f.fields_for name, existingobj do |sub_fields| %>
          <h3><%= (edit ? t("myplaceonline.general.edit") : t("myplaceonline.general.new")) + " " + heading %></h3>
          <%= render partial: objform + ".html", locals: { f: sub_fields, obj: existingobj, edit: edit, autofocus: autofocus } %>
          <%
             if existingcollapsed && autofocus && first
               first = false
          %>
            <script type="text/javascript">
              myplaceonline.onPageLoad(function() {
                myplaceonline.maybeFocus($("#<%= new_item_collapsible_id %> .autofocus"));
              });
            </script>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
