<% content_for :heading do -%><%= t("myplaceonline.general.share") %><% end -%>

<h1><%= t("myplaceonline.general.share") %></h1>

<%= flashes! %>

<ul data-role="listview" data-inset="true">
  <li>
    <%= link_to(@connections_link) do %>
      <%= image_tag("FatCow_Icons16x16/users_men_women.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.general.share_with_connection") %>
    <% end %>
  </li>
  <li>
    <%= link_to(controller.share_link_obj_path) do %>
      <%= image_tag("FatCow_Icons16x16/link.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.general.share_link") %>
    <% end %>
  </li>
  <li>
    <%= link_to(controller.make_public_obj_path) do %>
      <%= image_tag("FatCow_Icons16x16/world.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.general.make_public") %>
    <% end %>
  </li>
</ul>

<%=
  render(partial: "shared/footer", locals: {
    items: [
      {
        title: I18n.t("myplaceonline.general.back"),
        link: controller.obj_path,
        icon: "back"
      }
    ]
  })
%>
