<%
Rails.logger.debug{"map/display center: #{defined?(center) ? "true" : "false"}"}
if defined?(center) && !center.nil?
  Rails.logger.debug{"center defined #{center.inspect}"}
  center.ensure_gps
  latitude = center.latitude
  longitude = center.longitude
  if !defined?(zoom)
    # https://developers.google.com/maps/documentation/javascript/tutorial#zoom-levels
    zoom = 10
  end
end
if !defined?(marker_cluster)
  marker_cluster = false
end
Rails.logger.debug{"map/display latitude: #{defined?(latitude)}, #{latitude.inspect}"}
if !defined?(latitude) || latitude.nil?
  Rails.logger.debug{"setting default latitude"}
  latitude = 32.715738
end
if !defined?(longitude) || longitude.nil?
  Rails.logger.debug{"setting default longitude"}
  longitude = -117.1610838
end
if !defined?(zoom) || zoom.nil?
  Rails.logger.debug{"setting default zoom"}
  zoom = 5
end
if !defined?(locations)
  locations = []
end
%>

<div id="map" style="width: 100%; height: 400px;"><h1><%= t("myplaceonline.general.loading_with_ellipses") %></h1></div>
<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    $("#map").height($(window).height() * .7);
    myplaceonline.loadExternalScript(
      "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js",
      true,
      function() {
        myplaceonline.loadExternalScript(
          "https://maps.googleapis.com/maps/api/js?key=<%= Myp.google_maps_api_key %>",
          true,
          initMap
        );
      }
    );
  });
  
  function initMap() {
    // https://developers.google.com/maps/documentation/javascript/tutorial#MapOptions
    // https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var map = new google.maps.Map(document.getElementById("map"), {
      center: {lat: <%= latitude %>, lng: <%= longitude %>},
      zoom: <%= zoom %>,
      fullscreenControl: true
    });
    
    var locations = <%= raw(locations.to_json) %>;
    
    var markers = locations.map(function(location, i) {
      var marker = new google.maps.Marker({
        position: location.position,
        label: location.label,
        title: location.tooltip,
        <% if !marker_cluster %>
        map: map,
        <% end %>
      });
      if (location.popupHtml) {
        var infoWindow = new google.maps.InfoWindow({
          content: location.popupHtml
        });
        marker.addListener("click", function() {
          var closing = false;
          if (window.globalInfoWindow != null) {
            window.globalInfoWindow.close();
            if (window.globalInfoWindow == infoWindow) {
              closing = true;
              window.globalInfoWindow = null;
            }
          }
          if (!closing) {
            infoWindow.open(map, marker);
            window.globalInfoWindow = infoWindow;
          }
        });
      }
      return marker;
    });
    
    <% if marker_cluster %>
      new MarkerClusterer(
        map,
        markers,
        {
          imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
        }
      );
    <% end %>
    
    google.maps.event.addListener(map, "click", function(event) {
      if (window.globalInfoWindow) {
        window.globalInfoWindow.close();
      }
    });
  }
</script>
