<% content_for :heading do -%><%= t("myplaceonline.maps.map") %><% end -%>
<h1><%= t("myplaceonline.maps.map") %></h1>

<%= flashes! %>

<div id="map" style="width: 100%; height: 75%;"></div>

<script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    //myplaceonline.loadExternalScript("https://maps.googleapis.com/maps/api/js?key=<%= Myp.google_maps_api_key %>&callback=initMap", true, null, true);
  });
  
  function initMap() {
    alert('here');
    myplaceonline.map = new google.maps.Map(document.getElementById("map"), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Myp.google_maps_api_key %>&callback=initMap" async defer></script>
