<%= myp_text_field(f, :name, "myplaceonline.locations.name", obj.name, autofocus) %>
<%= myp_text_field(f, :address1, "myplaceonline.locations.address1", obj.address1) %>
<%= myp_text_field(f, :address2, "myplaceonline.locations.address2", obj.address2) %>
<%= myp_text_field(f, :address3, "myplaceonline.locations.address3", obj.address3) %>
<%= myp_text_field(f, :sub_region2, "myplaceonline.general.sub_region2", obj.sub_region2) %>
<%= myp_subregion_field(f, :sub_region1, "myplaceonline.general.sub_region1", obj.region, obj.sub_region1) %>
<%= myp_text_field(f, :postal_code, "myplaceonline.locations.postal_code", obj.postal_code) %>
<%= myp_region_field(f, :region, "myplaceonline.general.region", obj.region) %>
<%
latitude_field = myp_decimal_field(f, :latitude, "myplaceonline.locations.latitude", obj.latitude, false, nil, 0.0000001)
longitude_field = myp_decimal_field(f, :longitude, "myplaceonline.locations.longitude", obj.longitude, false, nil, 0.0000001)
random_name = SecureRandom.hex(10)
%>
<%= latitude_field %>
<%= longitude_field %>
<script>
function location_gps_success<%= random_name %>(location) {
  $("#<%= extract_id(latitude_field) %>").val(location.coords.latitude);
  $("#<%= extract_id(longitude_field) %>").val(location.coords.longitude);
}
</script>
<button onclick="return requestGPS2(location_gps_success<%= random_name %>);"><%= t("myplaceonline.locations.request_gps") %></button>
<%= myp_text_area_markdown(f, :notes, "myplaceonline.locations.notes", obj.notes) %>
<%=
  render layout: 'myplaceonline/childproperties', locals: {
    f: f,
    heading: t("myplaceonline.locations.phones"),
    childpropertiesname: :location_phones,
    childproperties: obj.location_phones,
    deletebutton: t("myplaceonline.locations.delete_phone"),
    addbutton: t("myplaceonline.locations.add_phone"),
    expanded: obj.location_phones.length > 0,
    formjson: [
      {
        type: 'text',
        name: 'number',
        placeholder: t("myplaceonline.locations.phone"),
        autofocus: true
      }
    ]
  } do |child_fields, childproperty|
%>
  <%= myp_text_field(child_fields, :number, "myplaceonline.locations.phone", childproperty.number) %>
<% end %>
