<% content_for :heading do -%><%= t('myplaceonline.info.credits') %><% end -%>

<p><%= t('myplaceonline.info.credits_description') %></p>

<ul>
  <li><%= link_to("Ruby", "https://www.ruby-lang.org/", class: "externallink") %></li>
  <li><%= link_to("Ruby on Rails", "http://rubyonrails.org/", class: "externallink") %></li>
  <li><%= link_to("jQuery", "http://jquery.com/", class: "externallink") %></li>
  <li><%= link_to("jQuery Mobile", "http://jquerymobile.com/", class: "externallink") %></li>
  <li><%= link_to("PhoneGap", "http://phonegap.com/", class: "externallink") %></li>
  <li><%= link_to("PhoneGap Build", "https://build.phonegap.com/", class: "externallink") %></li>
  <li><%= link_to("roo", "https://github.com/roo-rb/roo", class: "externallink") %></li>
  <li><%= link_to("ZeroClipboard", "https://github.com/zeroclipboard/zeroclipboard", class: "externallink") %></li>
  <li><%= link_to("Markdown", "http://daringfireball.net/projects/markdown/syntax", class: "externallink") %></li>
  <li><%= link_to("kramdown", "https://github.com/gettalong/kramdown", class: "externallink") %></li>
  <li><%= link_to("GnuPG", "https://www.gnupg.org/", class: "externallink") %></li>
  <li><%= link_to("forge.js", "https://github.com/digitalbazaar/forge", class: "externallink") %></li>
  <li><%= link_to("Silk icon set", "http://www.famfamfam.com/lab/icons/silk/", class: "externallink") %></li>
  <li><%= link_to("GitHub", "https://github.com/", class: "externallink") %></li>
  <li><%= link_to("jQueryMobile DateBox", "http://dev.jtsage.com/jQM-DateBox/", class: "externallink") %></li>
  <li><%= link_to("Quill Rich Text Editor", "https://github.com/quilljs/quill", class: "externallink") %></li>
  <li><%= link_to("FatCow Free Icons", "http://www.fatcow.com/free-icons", class: "externallink") %></li>
</ul>
