<% content_for :heading do -%><%= t("myplaceonline.info.diagnostics") %><% end -%>

<ul data-role="listview" data-inset="true">
  <li><a href="#" onclick="myplaceonline.setDebug(true); myplaceonline.alertHTML(); return false;">Show HTML</a></li>
  <li><a href="#" onclick="myplaceonline.setDebug(true); myplaceonline.consoleDir($.mobile.path.documentUrl); myplaceonline.showDebugConsole(); return false;">Debug</a></li>
  <li><a href="#" onclick="myplaceonline.createSuccessNotification('Test'); return false;">Test Noty</a></li>
  <li><a href="#" onclick="alert('Expect no response, but debug is sent.');myplaceonline.foo(); return false;">Test Javascript Exception</a></li>
  <li>
    <%= link_to(info_diagnostics_serverinfo_path) do %>
      <%= t("myplaceonline.info.serverinfo") %>
    <% end %>
  </li>
  <% if !current_user.nil? && current_user.admin? %>
    <li><%= link_to("Raise Server Exception", info_raise_server_exception_path) %></li>
    <li><%= link_to("Long Request (5s)", info_sleep_time_path(duration: 5)) %></li>
    <li><%= link_to("Long Request (15s)", info_sleep_time_path(duration: 15)) %></li>
    <li><%= link_to("Long Request (30s)", info_sleep_time_path(duration: 30)) %></li>
    <li><%= link_to("Long Request (45s)", info_sleep_time_path(duration: 45)) %></li>
    <li><%= link_to("Long Request (65s)", info_sleep_time_path(duration: 65)) %></li>
  <% end %>
  <li>
    <%= link_to("https://build.phonegap.com/apps/1678617/download/android/", :data => { :ajax => false }) do %>
      <%= image_tag("android16x16.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.apk") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_diagnostics_checkboxes_path) do %>
      <%= t("myplaceonline.info.checkboxes") %>
    <% end %>
  </li>
</ul>

<% if !current_user.nil? %>
  <ul>
    <li><%= t("myplaceonline.info.diagnostic_details.identity") %>: <%= current_user.primary_identity.id %></li>
  </ul>
<% end %>
