<% content_for :heading do -%><%= t('myplaceonline.info.title') %><% end -%>

<ul data-role="listview" data-inset="true">
  <li>
    <%= link_to(info_contact_path) do %>
      <%= image_tag("famfamfam/email.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.contact") %>
    <% end %>
  </li>
  <li>
    <%= link_to("https://build.phonegap.com/apps/1133885/download/android/", :data => { :ajax => false }) do %>
      <%= image_tag("android16x16.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.apk") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_credits_path) do %>
      <%= image_tag("famfamfam/heart.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.credits") %>
    <% end %>
  </li>
</ul>

<% if user_signed_in? %>

<hr />

<p><a href="#" class="ui-btn" onclick="myp.debug=true; alertHTML(); return false;">Show HTML</a></p>

<p><a href="#" class="ui-btn" onclick="myp.debug=true; consoleDir($.mobile.path.documentUrl); showDebugConsole(); return false;">Debug</a></p>

<p><a href="#" class="ui-btn" onclick="createSuccessNotification('Test'); return false;">Test Noty</a></p>

<% end %>