<% content_for :heading do -%><%= t('myplaceonline.info.title') %><% end -%>

<ul data-role="listview" data-inset="true">
  <li>
    <%= link_to(info_contact_path) do %>
      <%= image_tag("famfamfam/email.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.contact") %>
    <% end %>
  </li>
  <li>
    <%= link_to("https://build.phonegap.com/apps/1133885/download/android/", :data => { :ajax => false }) do %>
      <%= image_tag("android16x16.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.apk") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_faq_path) do %>
      <%= image_tag("famfamfam/help.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.faq") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_tips_path) do %>
      <%= image_tag("FatCow_Icons16x16/magic_wand_2.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.tips") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_credits_path) do %>
      <%= image_tag("famfamfam/heart.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.credits") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_diagnostics_path) do %>
      <%= image_tag("famfamfam/bug.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.diagnostics") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_about_path) do %>
      <%= image_tag("myplaceonlinelogo.gif", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.about") %>
    <% end %>
  </li>
</ul>
