<% content_for :heading do -%><%= t("myplaceonline.info.title") %><% end -%>

<ul data-role="listview" data-inset="true">
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(info_about_path) do %>
      <%= image_tag("/api/header_icon.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.about") %> <%= Myp.website_domain.display %>
    <% end %>
  </li>
  <% end %>
  <% if !MyplaceonlineExecutionContext.offline? %>
    <li>
      <%= link_to(info_contact_path) do %>
        <%= image_tag("famfamfam/email.png", size: "16x16", class: "ui-li-icon") %>
        <%= t("myplaceonline.info.contact") %>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to(info_privacy_path) do %>
      <%= image_tag("FatCow_Icons16x16/private.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.privacy") %>
    <% end %>
  </li>
  <li>
    <%= link_to(info_terms_path) do %>
      <%= image_tag("FatCow_Icons16x16/auction_hammer_gavel.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.terms") %>
    <% end %>
  </li>
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(info_mission_statement_path) do %>
      <%= image_tag("FatCow_Icons16x16/orbit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.mission_statement.title") %>
    <% end %>
  </li>
  <% end %>
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(info_faq_path) do %>
      <%= image_tag("FatCow_Icons16x16/question.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.faq") %>
    <% end %>
  </li>
  <% end %>
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(help_path) do %>
      <%= image_tag("famfamfam/help.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.help") %>
    <% end %>
  </li>
  <% end %>
  <% if !MyplaceonlineExecutionContext.offline? && !current_user.nil? && !current_user.guest? %>
    <li>
      <%= link_to(info_tips_path) do %>
        <%= image_tag("FatCow_Icons16x16/magic_wand_2.png", size: "16x16", class: "ui-li-icon") %>
        <%= t("myplaceonline.info.tips") %>
      <% end %>
    </li>
  <% end %>
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(info_credits_path) do %>
      <%= image_tag("famfamfam/heart.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.credits") %>
    <% end %>
  </li>
  <% end %>
  <% if !MyplaceonlineExecutionContext.offline? %>
    <!-- Recent versions of Android don't allow installation from online link
    <li>
      <%= link_to("https://build.phonegap.com/apps/1133885/download/android/", :data => { :ajax => false }) do %>
        <%= image_tag("android16x16.png", size: "16x16", class: "ui-li-icon") %>
        <%= t("myplaceonline.info.apk") %>
      <% end %>
    </li>
    <li>
      <%= link_to("https://build.phonegap.com/apps/1133885/share", :data => { :ajax => false }) do %>
        <%= image_tag("FatCow_Icons16x16/apple_corp.png", size: "16x16", class: "ui-li-icon") %>
        <%= t("myplaceonline.info.phonegap") %>
      <% end %>
    </li>
    -->
  <% end %>
  <% if !current_user.nil? && current_user.admin? %>
    <li>
      <%= link_to(admin_path) do %>
        <%= image_tag("famfamfam/wrench.png", size: "16x16", class: "ui-li-icon") %>
        <%= t("myplaceonline.admin.title") %>
      <% end %>
    </li>
  <% end %>
  <% if !current_user.nil? && !current_user.guest? %>
  <li>
    <%= link_to(info_diagnostics_path) do %>
      <%= image_tag("famfamfam/bug.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.info.diagnostics") %>
    <% end %>
  </li>
  <% end %>
</ul>
