<% content_for :heading do -%><%= t('myplaceonline.info.serverinfo') %><% end -%>

<h1><%= t('myplaceonline.info.serverinfo') %></h1>

<ul>
  <li>Website Domain: <%= Myp.website_domain.display %></li>
  <% if !ENV["NODENAME"].blank? %>
  <li>Server: <%= ENV["NODENAME"] %></li>
  <% end %>
  <% if !ENV["SOURCE_REVISION"].blank? %>
  <li>Source Revision: <a href="https://github.com/myplaceonline/myplaceonline_rails/commit/<%= ENV["SOURCE_REVISION"] %>"><%= ENV["SOURCE_REVISION"] %></a></li>
  <% end %>
</ul>

<% if !current_user.nil? && current_user.admin? %>
  <hr />
  <h1>Environment Variables</h1>
  <% ENV.to_a.sort.each do |key, val| %>
  <ul>
    <li><%= key %>=<%= val %></li>
  </ul>
  <% end %>
<% end %>
