<!DOCTYPE html>
<html>
  <head>
    <title><%= t('myplaceonline.siteTitle') %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= t('myplaceonline.general.metadescription') %>">
    <meta name="keywords" content="<%= t('myplaceonline.general.metakeywords') %>">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="Owner" content="contact@myplaceonline.com">
    <meta name="DC.Language" content="en-US">
    <meta name="Country" content="US">
    <meta name="Robots" content="index,follow">
    <meta http-equiv="Content-Language" content="en_US">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'application_extra' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <div data-role="page" data-theme="a" data-url="<%= html_escape(request.original_url) %>" data-uniqueid="<%= request.uuid %>">
      <div data-role="header" data-add-back-btn="true">
        <h1><a href="/" title="<%= t("myplaceonline.menu.home") %>"><%= image_tag "myplaceonlinelogo.gif" %></a>&nbsp;<a class="headerlink" href="<%= html_escape(request.fullpath) %>" style="color: black"><%= yield(:heading).presence || t('myplaceonline.siteTitle') %></a></h1>
        <%# We give a unique id to each popup because the menu may be different. %>
        <a href="#menuPopup<%= request.uuid %>" data-icon="bars" class="ui-btn-right" data-rel="popup" data-iconpos="notext" title="<%= t("myplaceonline.menu.name") %>" id="headerMenuPopup"><%= t("myplaceonline.menu.name") %></a>
      </div>
      <div role="main" class="ui-content">
        <%= yield %>
      </div>
      <%= yield(:footer) %>
      <%# We give a unique id to each popup because the menu may be different. %>
      <div data-role="popup" data-history="false" id="menuPopup<%= request.uuid %>">
        <% if user_signed_in? %>
        <p><%= current_user.email %></p>
        <% end %>
        <ul data-role="listview">
          <li><a href="/" class="ui-btn ui-btn-icon-left ui-icon-home"><%= t("myplaceonline.menu.home") %></a></li>
          <% if user_signed_in? %>
          <li><%= link_to t("myplaceonline.buttons.edituser"), edit_user_registration_path, :class => 'ui-btn ui-btn-icon-left ui-icon-user' %></li>
          <li><a href="/info" class="ui-btn ui-btn-icon-left ui-icon-info"><%= t("myplaceonline.info.title") %></a></li>
          <li><%= link_to t("myplaceonline.buttons.logout"), destroy_user_session_path, method: :delete, :class => 'ui-btn ui-btn-icon-left ui-icon-power'  %></li>
          <% else %>
          <li><%= link_to t("myplaceonline.buttons.signin"), new_user_session_path, :class => 'ui-btn ui-btn-icon-left ui-icon-power'  %></li>
          <li><%= link_to t("myplaceonline.buttons.signup"), new_user_registration_path, :class => 'ui-btn ui-btn-icon-left ui-icon-user'  %></li>
          <li><a href="/info" class="ui-btn ui-btn-icon-left ui-icon-info"><%= t("myplaceonline.info.title") %></a></li>
          <% end %>
        </ul>
      </div>
      <script type="text/javascript">
        myp.isInitialPhonegapPage = <%= params[:phonegap] == "true" ? "true" : "false" %>;
      </script>
    </div>
  </body>
</html>
