<!DOCTYPE html>
<html>
  <head>
    <%
    main_title = content_for?(:heading) ? yield(:heading) : Myp.website_domain.domain_name
    if !current_user.nil? && current_user.show_server_name && !ENV["NODENAME"].blank?
      main_title += " (" + ENV["NODENAME"].gsub(/\..*$/, "") + ")"
    end
    %>
    <title><%= main_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en_US">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Myp.website_domain.meta_description %>">
    <meta name="keywords" content="<%= Myp.website_domain.meta_keywords %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="Owner" content="<%= Myp.website_domain.identity.user.email %>">
    <meta name="DC.Language" content="en-US">
    <meta name="Country" content="US">
    <meta name="Robots" content="index,follow">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag("application", media: "all") %>
    <%= stylesheet_link_tag("print", media: "print") %>
    <%= javascript_include_tag("application") %>
    <%= javascript_include_tag("application_extra") %>
    <!--[if IE]><link rel="shortcut icon" href="/api/favicon.ico"><![endif]-->
    <!--<link rel="apple-touch-icon-precomposed" href="/api/apple-touch-icon-precomposed.png">-->
    <!--<link rel="icon" href="/api/favicon.png">-->
    <%= favicon_link_tag("favicon.ico") %>
  </head>
  <body>
    <div data-role="page" data-theme="a" data-url="<%= html_escape(Myp.original_url(request)) %>" data-uniqueid="<%= request.uuid %>">
      <%# When JQM makes an AJAX requests, it replaces the existing content DIV but anything in HEAD is discarded %>
      <%# so here we can run any code to update HEAD %>
      <script type="text/javascript">
          myplaceonline.setDebug(false);
        <% if Myp.is_initial_phonegap_request(params, session) %>
          myplaceonline.setIsInitialPhonegapPage(true);
          myplaceonline.loadExternalScript("<%= javascript_path('application_extra') %>", false);
          myplaceonline.loadExternalCss("<%= path_to_stylesheet('application') %>");
        <% else %>
          myplaceonline.setIsInitialPhonegapPage(false);
        <% end %>
        
        <% if !current_user.nil? %>
          <% if !current_user.page_transition.blank? %>
            $.mobile.defaultPageTransition = "<%= Myp.page_transition_value_to_jqm(current_user.page_transition) %>";
          <% end %>
          <% if !current_user.clipboard_integration.blank? %>
            myplaceonline.setClipboardIntegration(<%= current_user.clipboard_integration %>);
          <% end %>
          <% if current_user.always_autofocus %>
            myplaceonline.setFocusAllowed(true);
          <% end %>
          <% if current_user.always_enable_debug %>
            myplaceonline.setDebug(true);
          <% end %>
        <% end %>
        
        // Shift+Left Click middle header icon for category search popup
        myplaceonline.onPageLoad(function() {
          myplaceonline.remoteDataListInitialize($("#mainButtonPopup_search_list"), [
            {title: "<%= t("myplaceonline.general.categories") %>", url: "/api/categories.json", static_list: true}
            <% if Myp.full_text_search? %>
            , {title: "<%= t("myplaceonline.general.everything") %>", url: "/api/search.json"}
            <% end %>
          ]);
          myplaceonline.hookListviewEnter($("#mainButtonPopup_search_container input"), "#mainButtonPopup_search_list");
        });
        
        if (myplaceonline.setCsrfToken) {
          myplaceonline.setCsrfToken('<%= form_authenticity_token %>');
        } else {
          alert("Myplaceonline failed to load correctly. Please let us know at contact@myplaceonline.com what events led up to this and restart the application.");
        }
        
        <% if Rails.env.development? %>
          myplaceonline.setBaseUrl("<%= "http://#{Rails.configuration.default_url_options[:host]}:#{Rails.configuration.default_url_options[:port]}/" %>");
        <% end %>
        
      </script>
      <div data-role="header"<%= current_user.nil? || !current_user.non_fixed_header ? raw(" data-position=\"fixed\"") : "" %> data-tap-toggle="<%= !current_user.nil? && current_user.toggle_hide_footer ? "true" : "false" %>">
        <% header_title_cached = header_title %>
        <%
        button_type = 0
        if Myp.is_initial_phonegap_request(params, session)
          button_type = 1
        elsif Myp.is_phonegap_request(params, session) && Myp.is_ios
          button_type = 2
        elsif Myp.is_phonegap_request(params, session)
          button_type = 3
        else
          button_type = 3
        end
        if !current_user.nil? && !current_user.top_left_icon.nil?
          if current_user.top_left_icon == 0
            button_type = 3
          elsif current_user.top_left_icon == 1
            button_type = 2
          end
        end
        %>
        <% if button_type == 1 %>
          <%# No button on the initial homepage request %>
        <% elsif button_type == 2 %>
          <a href="/" data-icon="carat-l" data-rel="back"><%= t("myplaceonline.general.back") %></a>
        <% elsif button_type == 3 %>
          <a href="/" data-icon="home" data-iconpos="notext" title="<%= t("myplaceonline.menu.home") %>"><%= t("myplaceonline.menu.home") %></a>
        <% end %>
        <h1><%= link_to(header_link, id: "mainbutton", title: header_title_cached) do image_tag(header_icon, alt: header_title_cached) end %>&nbsp;<%= link_to(request.original_fullpath, class: "hidden_link") do main_title end %></h1>
        <%# We give a unique id to each popup because the menu may be different. %>
        <a href="#menuPopup<%= request.uuid %>" data-icon="bars" class="ui-btn-right" data-rel="popup" data-iconpos="notext" title="<%= t("myplaceonline.menu.name") %>" id="headerMenuPopup"><%= t("myplaceonline.menu.name") %></a>
      </div>
      <div id="main_content" role="main" class="ui-content">
      
        <%= yield %>
        
        <% if !session[:points_flash].nil? && session[:points_flash] > 0 %>
          <script type="text/javascript">
            myplaceonline.onPageLoad(function() {
              <%= raw("myplaceonline.createSuccessNotification('" + t("myplaceonline.points.gotsome", amount: ActionController::Base.helpers.pluralize(session[:points_flash], t("myplaceonline.points.point"))) + "');") %>
              <% if current_user.enable_sounds %>
                <%= raw("myplaceonline.playSound('" + root_path + "bubble_gum_pop-Natalie_Wendt-772662403.wav');") %>
              <% end %>
            });
          </script>
          <% session[:points_flash] = nil %>
        <% end %>
        
      </div>
      <%= yield(:footer) %>
      <%# We give a unique id to each popup because the menu may change between requests. %>
      <div data-role="popup" data-history="false" id="menuPopup<%= request.uuid %>">
        <% if user_signed_in? %>
          <p style="text-align: center;"><%= current_user.email %></p>
        <% end %>
        <ul data-role="listview">
          <li><a href="/" class="ui-btn ui-btn-icon-left ui-icon-home"><%= t("myplaceonline.menu.home") %></a></li>
          <% if user_signed_in? %>
            <% if !current_user.guest? %>
              <li><%= link_to(t("myplaceonline.buttons.edituser"), edit_user_registration_path, class: "ui-btn ui-btn-icon-left ui-icon-user") %></li>
              <li><a href="#" class="ui-btn ui-btn-icon-left ui-icon-phone" onclick="myplaceonline.quickFeedback('<%= t("myplaceonline.general.quick_feedback") %>'); $('#menuPopup<%= request.uuid %>').popup('close'); return false;"><%= t("myplaceonline.menu.feedback") %></a></li>
            <% else %>
              <li><%= link_to(t("myplaceonline.buttons.signin"), new_user_session_path, class: "ui-btn ui-btn-icon-left ui-icon-power") %></li>
              <li><%= link_to(t("myplaceonline.buttons.signup"), new_user_registration_path, class: "ui-btn ui-btn-icon-left ui-icon-user") %></li>
            <% end %>
            <li><a href="/info" class="ui-btn ui-btn-icon-left ui-icon-info"><%= t("myplaceonline.info.title") %></a></li>
            <% if !current_user.guest? %>
              <li><%= link_to(t("myplaceonline.buttons.logout"), destroy_user_session_path, method: :delete, class: "ui-btn ui-btn-icon-left ui-icon-power") %></li>
            <% end %>
          <% else %>
            <li><%= link_to(t("myplaceonline.buttons.signin"), new_user_session_path, class: "ui-btn ui-btn-icon-left ui-icon-power") %></li>
            <li><%= link_to(t("myplaceonline.buttons.signup"), new_user_registration_path, class: "ui-btn ui-btn-icon-left ui-icon-user") %></li>
            <li><a href="/info" class="ui-btn ui-btn-icon-left ui-icon-info"><%= t("myplaceonline.info.title") %></a></li>
          <% end %>
        </ul>
      </div>
      <div data-role="popup" data-history="false" id="mainButtonPopup">
        <div id="mainButtonPopup_search_container">
          <ul id="mainButtonPopup_search_list" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="<%= t("myplaceonline.search.search_categories") %>" data-split-icon="plus">
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
