<% content_for :heading do -%><%= t("myplaceonline.users.advanced_settings") %><% end -%>
<h1><%= t("myplaceonline.users.advanced_settings") %></h1>

<%= flashes! %>

<ul data-role="listview" data-inset="true">
  <li>
    <%= link_to users_categories_path do %>
      <%= image_tag("FatCow_Icons16x16/category.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.categories") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_clipboard_path do %>
      <%= image_tag("FatCow_Icons16x16/clipboard_empty.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.clipboard_settings") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_deletecategory_path do %>
      <%= image_tag("FatCow_Icons16x16/layout_delete.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.delete_category") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_resetpoints_path do %>
      <%= image_tag("FatCow_Icons16x16/award_star_delete.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.resetpoints") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_homepage_path do %>
      <%= image_tag("famfamfam/house.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.homepage") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_diagnostics_path do %>
      <%= image_tag("famfamfam/bug.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.diagnostics") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_delete_path do %>
      <%= image_tag("FatCow_Icons16x16/user_delete.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.general.deleteaccount_button") %>
    <% end %>
  </li>
</ul>
