<% content_for :heading do -%><%= t("myplaceonline.users.appearance") %><% end -%>
<h1><%= t("myplaceonline.users.appearance") %></h1>

<%= flashes! %>

<%= form_tag do %>
  <fieldset>
    <%= myp_select_tag(:page_transition, "myplaceonline.users.page_transition", Myp.translate_options(Myp::PAGE_TRANSITIONS), @page_transition) %>
    <%= label_tag :always_autofocus, t("myplaceonline.users.always_autofocus") %>
    <%= check_box_tag :always_autofocus, 1, @always_autofocus, data: { "role" => "flipswitch" } %>
    <%= label_tag :show_timestamps, t("myplaceonline.users.show_timestamps") %>
    <%= check_box_tag :show_timestamps, 1, @show_timestamps, data: { "role" => "flipswitch" } %>
  </fieldset>
  <div><%= submit_tag t("myplaceonline.general.save") %></div>
<% end %>
