<% content_for :heading do -%><%= t("myplaceonline.users.appearance") %><% end -%>
<h1><%= t("myplaceonline.users.appearance") %></h1>

<%= flashes! %>

<%= form_tag do %>
  <fieldset>
    <%= myp_select_tag(:page_transition, "myplaceonline.users.page_transition", Myp.translate_options(Myp::PAGE_TRANSITIONS), @page_transition) %>

    <%= myp_check_box_tag(:always_autofocus, t("myplaceonline.users.always_autofocus"), @always_autofocus) %>
    
    <%= myp_check_box_tag(:show_timestamps, t("myplaceonline.users.show_timestamps"), @show_timestamps) %>
    
    <%= myp_select_tag(:top_left_icon, "myplaceonline.users.top_left_icon", Myp.translate_options(User::TOP_LEFT_ICONS), @top_left_icon) %>

    <%= myp_text_field_tag(:recently_visited_categories, I18n.t("myplaceonline.users.recently_visited_categories", max: MyplaceonlineQuickCategoryDisplaysController::ABSOLUTE_MAXIMUM), @recently_visited_categories) %>

    <%= myp_text_field_tag(:most_visited_categories, I18n.t("myplaceonline.users.most_visited_categories", max: MyplaceonlineQuickCategoryDisplaysController::ABSOLUTE_MAXIMUM), @most_visited_categories) %>

    <%= myp_text_field_tag(:most_visited_items, I18n.t("myplaceonline.users.most_visited_items", max: MyplaceonlineQuickCategoryDisplaysController::ABSOLUTE_MAXIMUM), @most_visited_items) %>

    <%= myp_select_tag(:after_new_item, "myplaceonline.users.after_new_item", Myp.translate_options(Myp::AFTER_NEW_ITEM_LIST), @after_new_item) %>
  </fieldset>
  <div><%= submit_tag t("myplaceonline.general.save") %></div>
<% end %>
