<% content_for :heading do -%><%= t("myplaceonline.users.changepassword") %><% end -%>
<h1><%= t("myplaceonline.users.changepassword") %></h1>

<%= form_for(resource, as: resource_name, url: users_password_change_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :current_password, class: "ui-hidden-accessible" %>
    <%= f.password_field :current_password, class: "autofocus", autocomplete: "off", placeholder: t("myplaceonline.general.currentpassword") %></div>

  <div><%= f.label :password, class: "ui-hidden-accessible" %>
  <%=
    if @validatable
      f.password_field :password, autocomplete: "off", placeholder: t("myplaceonline.general.newpasswordwithmin", minchars: @minimum_password_length)
    else
      f.password_field :password, autocomplete: "off", placeholder: t("myplaceonline.general.newpassword")
    end
  %>
  </div>

  <div><%= f.label :password_confirmation, class: "ui-hidden-accessible" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t("myplaceonline.general.newpassword2") %></div>

  <div><%= f.submit t("myplaceonline.users.changepassword") %></div>
<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  myplaceonline.maybeFocus(".autofocus");
});
</script>
<% end %>
