<% content_for :heading do -%><%= t("myplaceonline.users.clipboard_settings") %><% end -%>
<h1><%= t("myplaceonline.users.clipboard_settings") %></h1>

<%= flashes! %>

<%= form_tag do %>
  <fieldset>
    <%= myp_select_tag(:clipboard_integration, "myplaceonline.users.clipboard_integration", Myp.translate_options(Myp::CLIPBOARD_INTEGRATIONS), @clipboard_integration) %>
  </fieldset>
  <div><%= submit_tag t("myplaceonline.general.save") %></div>
<% end %>
