<% content_for :heading do -%><%= t("myplaceonline.users.diagnostics_settings") %><% end -%>
<h1><%= t("myplaceonline.users.diagnostics_settings") %></h1>

<%= flashes! %>

<%= form_tag do %>
  <%= myp_check_box_tag(:always_enable_debug, t("myplaceonline.users.always_enable_debug"), @always_enable_debug) %>
  <%= myp_check_box_tag(:show_server_name, t("myplaceonline.users.show_server_name"), @show_server_name) %>
  <div><%= submit_tag t("myplaceonline.general.save") %></div>
<% end %>
