<% content_for :heading do -%><%= t("myplaceonline.users.settings") %><% end -%>
<h1><%= t("myplaceonline.users.settings") %></h1>

<%= flashes! %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<ul data-role="listview" data-inset="true">
  <li>
    <%= link_to users_changeemail_path do %>
      <%= image_tag("FatCow_Icons16x16/email_edit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.changeemail") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_password_change_path do %>
      <%= image_tag("famfamfam/textfield_key.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.changepassword") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_changetimezone_path do %>
      <%= image_tag("FatCow_Icons16x16/world_edit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.changetimezone") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_notifications_path do %>
      <%= image_tag("FatCow_Icons16x16/phone.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.notifications") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_appearance_path do %>
      <%= image_tag("FatCow_Icons16x16/image_edit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.appearance") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_security_path do %>
      <%= image_tag("FatCow_Icons16x16/lock_edit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.security_settings") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_export_path do %>
      <%= image_tag("FatCow_Icons16x16/external.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.export") %>
    <% end %>
  </li>
  <%# <li> %>
    <%# link_to users_offline_path do %>
      <%# image_tag("FatCow_Icons16x16/disconnect.png", size: "16x16", class: "ui-li-icon") %>
      <%# t("myplaceonline.users.offline") %>
    <%# end %>
  <%# </li> %>
  <li>
    <%= link_to users_sounds_path do %>
      <%= image_tag("famfamfam/sound.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.sounds") %>
    <% end %>
  </li>
  <li>
    <%= link_to users_advanced_path do %>
      <%= image_tag("FatCow_Icons16x16/user_edit.png", size: "16x16", class: "ui-li-icon") %>
      <%= t("myplaceonline.users.advanced_settings") %>
    <% end %>
  </li>
</ul>
