<% content_for :heading do -%><%= t("myplaceonline.users.settings") %><% end -%>
<h1><%= t("myplaceonline.users.settings") %></h1>

<%= flashes! %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<ul data-role="listview" data-inset="true">
  <li><%= link_to t("myplaceonline.users.changeemail"), users_changeemail_path %></li>
  <li><%= link_to t("myplaceonline.users.changepassword"), users_password_change_path %></li>
  <li><%= link_to t("myplaceonline.users.changetimezone"), users_changetimezone_path %></li>
  <li><%= link_to t("myplaceonline.users.appearance"), users_appearance_path %></li>
  <li><%= link_to t("myplaceonline.users.security_settings"), users_security_path %></li>
  <li><%= link_to t("myplaceonline.users.export"), users_export_path %></li>
  <li><%= link_to t("myplaceonline.users.offline"), users_offline_path %></li>
  <li><%= link_to t("myplaceonline.users.advanced_settings"), users_advanced_path %></li>
  <li><%= link_to t("myplaceonline.general.deleteaccount"), users_delete_path %></li>
</ul>
