<% content_for :heading do -%><%= t("myplaceonline.users.homepage") %><% end -%>
<h1><%= t("myplaceonline.users.homepage") %></h1>

<%= flashes!(@obj) %>

<%= form_for @obj, url: users_homepage_path do |f| %>
  <%=
    render(layout: "myplaceonline/childproperties", locals: {
      f: f,
      heading: t("myplaceonline.homepage.myplets"),
      childpropertiesname: :myplets,
      childproperties: @obj.myplets,
      deletebutton: t("myplaceonline.homepage.delete_myplet"),
      addbutton: t("myplaceonline.homepage.add_myplet"),
      expanded: true,
      position_field: :y_coordinate,
      itemname: t("myplaceonline.homepage.myplet"),
      formjson: [
        {
          type: 'text',
          name: 'title',
          placeholder: t("myplaceonline.myplets.title"),
          autofocus: true
        },
        {
          type: 'text',
          name: 'category_name',
          placeholder: t("myplaceonline.myplets.category_name")
        },
        {
          type: 'number',
          name: 'category_id',
          placeholder: t("myplaceonline.myplets.category_id")
        },
        {
          type: 'select',
          name: 'border_type',
          options: Myplet::BORDER_TYPES.map{|x,y| [I18n.t(x),y]}.as_json,
          placeholder: t("myplaceonline.myplets.border_type")
        },
        {
          type: 'hidden',
          name: 'x_coordinate',
          value: '0'
        },
        {
          type: 'position',
          name: 'y_coordinate'
        }
      ]
    }) do |child_fields, childproperty|
  %>
    <%= myp_text_field(child_fields, :title, "myplaceonline.myplets.title", Myp.evaluate_if_probably_i18n(childproperty.title)) %>
    <%= myp_text_field(child_fields, :category_name, "myplaceonline.myplets.category_name", childproperty.category_name) %>
    <%= myp_number_field(child_fields, :category_id, "myplaceonline.myplets.category_id", childproperty.category_id) %>
    <%= myp_select(child_fields, :border_type, "myplaceonline.myplets.border_type", Myp.translate_options(Myplet::BORDER_TYPES), childproperty.border_type) %>
    <%= myp_hidden_field(child_fields, :x_coordinate, childproperty.x_coordinate) %>
  <% end %>
  <%= f.submit t("myplaceonline.general.save") %>
<% end %>
