<% content_for :heading do -%><%= t("myplaceonline.general.register") %><% end -%>
<h1><%= t("myplaceonline.general.register") %></h1>

<% if Myp.requires_invite_code %>
  <p><%= raw(t("myplaceonline.general.requires_invite_code")) %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: new_registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= flashes! %>

  <div style="display:none">
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input type="text" name="fakeusernameremembered"/>
    <input type="password" name="fakepasswordremembered"/>
  </div>
  <% if Myp.requires_invite_code %>
    <div>
      <%= f.label :invite_code, class: "ui-hidden-accessible" %>
      <%= f.text_field :invite_code, class: "autofocus", autocomplete: "invite-code", placeholder: t("myplaceonline.users.invite") %>
    </div>
  <% end %>

  <div>
    <%= f.label :email, class: "ui-hidden-accessible" %>
    <% if Myp.requires_invite_code %>
      <%= f.email_field :email, placeholder: t("myplaceonline.general.email") %>
    <% else %>
      <%= f.email_field :email, class: "autofocus", placeholder: t("myplaceonline.general.email") %>
    <% end %>
  </div>

  <div>
    <%= f.label :password, class: "ui-hidden-accessible" %>
    <%=
      if @validatable
        f.password_field :password, autocomplete: "mpassword", placeholder: t("myplaceonline.general.passwordwithmin", minchars: @minimum_password_length)
      else
        f.password_field :password, autocomplete: "mpassword", placeholder: t("myplaceonline.general.password")
      end
    %>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "ui-hidden-accessible" %>
    <%= f.password_field :password_confirmation, autocomplete: "mpassword2", placeholder: t("myplaceonline.general.password2") %>
  </div>

  <% if Myp.requires_terms %>

  <div class="ui-grid-a">
    <div class="ui-block-a">
      <div class="ui-bar">
        <%= myp_check_box_tag(:agree_terms, t("myplaceonline.users.agree_terms"), @agree_terms) %>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="ui-bar">
        <a href="<%= info_terms_path %>" data-role="button" target="_blank">
          <%= image_tag("FatCow_Icons16x16/auction_hammer_gavel.png", size: "16x16", class: "ui-li-icon") %>
          <%= t("myplaceonline.info.terms_short") %>
        </a>
      </div>
    </div>
  </div>
  
  <% end %>
  
  <%= myp_hidden_field_tag(:tz, @tz) %>

  <div><%= f.submit t("myplaceonline.general.signup") %></div>
  
  <script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
    var tz = jstz.determine();
    $("#tz").val(tz.name());
  });
  </script>
<% end %>

<%= render "users/shared/links" %>
