<% content_for :heading do -%><%= t("myplaceonline.general.register") %><% end -%>
<h1><%= t("myplaceonline.general.register") %></h1>

<% if Myp.requires_invite_code %>
  <p><%= raw(t("myplaceonline.general.requires_invite_code")) %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: new_registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= flashes! %>

  <% if Myp.requires_invite_code %>
    <div>
      <%= f.label :invite_code, class: "ui-hidden-accessible" %>
      <%= f.password_field :invite_code, class: "autofocus", autocomplete: "invite-code", placeholder: t("myplaceonline.users.invite") %>
    </div>
  <% end %>

  <div>
    <%= f.label :email, class: "ui-hidden-accessible" %>
    <% if Myp.requires_invite_code %>
      <%= f.email_field :email, placeholder: t("myplaceonline.general.email") %>
    <% else %>
      <%= f.email_field :email, class: "autofocus", placeholder: t("myplaceonline.general.email") %>
    <% end %>
  </div>

  <div>
    <%= f.label :password, class: "ui-hidden-accessible" %>
    <%=
      if @validatable
        f.password_field :password, autocomplete: "mpassword", placeholder: t("myplaceonline.general.passwordwithmin", minchars: @minimum_password_length)
      else
        f.password_field :password, autocomplete: "mpassword", placeholder: t("myplaceonline.general.password")
      end
    %>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "ui-hidden-accessible" %>
    <%= f.password_field :password_confirmation, autocomplete: "mpassword2", placeholder: t("myplaceonline.general.password2") %>
  </div>

  <%= label_tag :agree_terms, raw(t("myplaceonline.users.agree_terms", :terms => link_to(t("myplaceonline.info.terms"), "/info/terms"))) %>
  <%= check_box_tag :agree_terms, 1, @agree_terms, data: { "role" => "flipswitch", "on-text" => t("myplaceonline.general.y"), "off-text" => t("myplaceonline.general.n") } %>
  
  <%= myp_hidden_field_tag(:tz, @tz) %>

  <div><%= f.submit t("myplaceonline.general.signup") %></div>
  
  <script type="text/javascript">
  myplaceonline.onPageLoad(function() {
    myplaceonline.maybeFocus(".autofocus");
    var tz = jstz.determine();
    $("#tz").val(tz.name());
  });
  </script>
<% end %>

<%= render "users/shared/links" %>
