<% content_for :heading do -%><%= t("myplaceonline.users.offline") %><% end -%>
<h1><%= t("myplaceonline.users.offline") %></h1>

<%= flashes! %>

<p><%= t("myplaceonline.users.offlinedescription") %></p>

<%= form_tag do %>
  <div><%= submit_tag t("myplaceonline.users.offlinecreate") %></div>
  <p id="offline_info"></p>
<% end %>

<script type="text/javascript">
myplaceonline.onPageLoad(function() {
  if (window.localStorage) {
    $("#offline_info").html("Your browser supports local storage.");
    <% if !@data.nil? %>
    var exported = <%= raw(@data) %>;
    myplaceonline.setMyplaceonlineSnapshot(exported);
    if (myplaceonline.isInPhoneGap()) {
      app.exported = exported;
      app.navigate(app.phonegapHomepage);
    }
    <% end %>
    var snapshot = myplaceonline.getMyplaceonlineSnapshot();
    if (snapshot) {
      $("#offline_info").append(" The current offline snapshot was stored for " + location.hostname + " on " + snapshot.time);
      $("#offline_info").after("<p><a href='#' class='ui-btn' onclick='window.localStorage.removeItem(myplaceonline.getSnapshotKey()); myplaceonline.createSuccessNotification(\"Offline storage cleared.\"); myplaceonline.refreshPage(); return false;'>Clear Snapshot</a></p>");
      $("#offline_info").after("<p><a href='/offline/' class='ui-btn'>Load Snapshot</a></p>");
      myplaceonline.ensureStyledPage();
    } else {
      $("#offline_info").append(" There is no current offline snapshot.");
    }
  } else {
    $("#offline_info").html("Your browser does not support local storage.");
  }
});
</script>
