<% content_for :heading do -%><%= t("myplaceonline.users.sounds") %><% end -%>
<h1><%= t("myplaceonline.users.sounds") %></h1>

<%= flashes! %>

<%= form_tag do %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= myp_check_box_tag(:enable_sounds, t("myplaceonline.users.enable_sounds"), @enable_sounds) %>
    </div>
  </fieldset>
  <div><%= submit_tag t("myplaceonline.general.save") %></div>
<% end %>
